﻿﻿<md-content layout="column" flex flex-sm="90" flex-gt-sm="80" id="dealsList" class="list-view-container">
     <section>
         <md-subheader class="list-view-header">
             <div layout="row" layout-align="start center" class="content-background-color short-row">
                 <md-button class="md-primary">Add</md-button>
                 <div flex layout="row" layout-align="end" layout-margin>
                     <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchCompanyDeals()" placeholder="Filter" class="pageFilterBox"/>
                 </div>
             </div>
             <md-divider class="subheader-divider"></md-divider>
             <div layout="row" class="list">
                 <div flex flex-gt-sm="15" layout="row">
                     <div ng-click="vm.sortColumn('IsWatched')" style="cursor: pointer;" class="starColumn">
                         <i class="material-icons md-18">star</i>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                     </div>
                     <div ng-click="vm.sortColumn('dealCode')" style="cursor: pointer;">
                         <b>Deal Code</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealCode'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                 </div>

                 <div flex="85" layout="row" layout-align="start start" hide show-gt-sm>
                     <div flex="25" ng-click="vm.sortColumn('DealName')" style="cursor: pointer;">
                         <b>Deal Name</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealName'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                     <div flex="10" ng-click="vm.sortColumn('DealParticipationTypeCode')" style="cursor: pointer;">
                         <b>Role</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealParticipationTypeCode'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                     <div flex="10" ng-click="vm.sortColumn('Status')" style="cursor: pointer;">
                         <b>Status</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Status'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                     <div flex="15" ng-click="vm.sortColumn('StatusDate')" style="cursor: pointer;">
                         <b>Status Date</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'StatusDate'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                     <div flex="25" ng-click="vm.sortColumn('PropertyType')" style="cursor: pointer;">
                         <b>Property Type</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'PropertyType'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                     <div flex="10" ng-click="vm.sortColumn('DealType')" style="cursor: pointer;">
                         <b>Deal Type</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealType'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                     <div flex="10" layout="row" layout-align="end center" ng-click="vm.sortColumn('Valuation')" style="cursor: pointer;">
                         <b>Valuation</b>
                         <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Valuation'">
                             {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                         </i>
                     </div>
                 </div>
             </div>
         </md-subheader>
         <section layout-align="center start" class="content-color list-view">
             <md-divider></md-divider>
             <md-list continuous-page query-function="vm.getCompanyDeals" container="#dealsList" query-object="vm.queryObject" paging-data-watch="vm.dealsList.pagingData" class="continuous-page">
                 <md-list-item ng-repeat="deal in vm.dealsList.resources" ng-click="vm.selectRow(deal)">
                     <div layout="column" layout-gt-sm="row" layout-wrap flex>
                         <div flex-gt-sm="15" layout="row">
                             <div class="starColumn">
                                 <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                     <i class="material-icons md-18">{{deal.isWatched ? 'star' : 'star_border'}}</i>
                                 </a>
                             </div>
                             {{deal.dealCode}}
                             <a hide-gt-sm class="md-secondary" aria-label="Details" ng-click="deal.showDetails = !deal.showDetails">
                                 <span class="fa" ng-class="deal.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                             </a>
                         </div>
                         <div flex="85" layout="row" hide show-gt-sm>
                             <div flex="25">
                                 {{deal.dealName}}
                             </div>
                             <div flex="10">
                                 {{deal.dealParticipationTypeCode}}
                             </div>
                             <div flex="10">
                                 {{deal.dealStatus}}
                             </div>
                             <div flex="15" layout="row">
                                 {{deal.statusDate| date: 'MM/dd/yy'}}
                             </div>
                             <div flex="25">
                                 {{deal.propertyType}}
                             </div>
                             <div flex="10">
                                 {{deal.dealType}}
                             </div>
                             <div flex="10" layout="row" layout-align="end">
                                 {{deal.valuation | largeCurrency}}
                             </div>
                         </div>
                         <div layout="column" hide-gt-sm ng-show="deal.showDetails">
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Deal Name:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.dealName}}</span>
                             </div>
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Role:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.dealParticipationTypeCode}}}}</span>
                             </div>
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Status:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.dealStatus}}</span>
                             </div>
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Status Date:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.statusDate| date: 'MM/dd/yy'}}</span>
                             </div>
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Property Type:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.propertyType}}</span>
                             </div>
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Deal Type:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.dealType}}</span>
                             </div>
                             <div layout="row">
                                 <span flex="50" layout="row" layout-align="end"><b>Valuation:</b></span>
                                 <span flex="45" flex-offset="5">{{deal.valuation | largeCurrency}}</span>
                             </div>
                         </div>
                     </div>
                     <md-divider></md-divider>
                 </md-list-item>
             </md-list>
         </section>
     </section>
 </md-content>
