﻿<div layout="row">
    <span flex>
        <h4 class="md-title" flex layout-padding>Communications</h4>
    </span>
    <span flex layout layout-align="end center">
        <md-button aria-label="menu" class="md-mini md-primary" ui-sref="contact.detail">EDIT</md-button>
    </span>
</div>

<md-divider></md-divider>

