﻿<div layout="row">
    <span flex>
        <h4 class="md-title" flex layout-padding>Contact Profile</h4>
    </span>
    <span flex layout layout-align="end center">
        <md-button aria-label="menu" class="md-mini md-primary" ui-sref="contact.detail" disabled>EDIT</md-button>
    </span>
</div>

<md-divider></md-divider>

<md-card-content layout="row" layout-align="space-between">
    <div layout="column" flex>

        <div layout="row">
            <div flex>
                <p class="md-subhead">
                    <strong>{{vm.contact.fullName}}</strong>
                </p>
                <p>
                    {{vm.contact.title}}
                </p>
            </div>

            <div flex>
                <p>
                    <strong>Status</strong>
                </p>
                <p ng-show="vm.contact.isDefunct==false">
                    Active
                </p>
                <p ng-show="vm.contact.isDefunct!=false">
                    Inactive
                </p>
                <p ng-show="vm.contact.defunctReason">
                    {{vm.contact.defunctReason}}
                </p>
            </div>
        </div>

        <div layout="row">
            <div flex>
                <p>
                    <a ui-sref="company.companySummary({companyId:vm.contact.companyMentionId})"><u>{{vm.contact.companyName}}</u></a>
                </p>
                <p>
                    <strong>M:</strong> {{vm.contact.mobilePhone}}
                </p>
                <p>
                    <strong>O:</strong> {{vm.contact.officePhone}}
                </p>
                <p>
                    <strong>E:</strong> <a ng-href="mailto:{{vm.contact.emailAddress}}">{{vm.contact.emailAddress}}</a>
                </p>
                <p>
                    <strong>L:</strong> <u><a ng-href="http://{{vm.contact.linkedInProfileLink}}" target="_blank">{{vm.contact.linkedInProfileLink}}</a></u>
                </p>
            </div>
            <div flex>
                <p>
                    <strong>Location</strong>
                </p>
                <p> {{vm.contact.address}} {{vm.contact.address2}}</p>
                <p> {{vm.contact.city}}, {{vm.contact.state}} {{vm.contact.zipCode}}</p>
                <p> {{vm.contact.country}}</p>
                <p><a ng-href="{{vm.contact.website}}" target="_blank"> {{vm.contact.website}}</a></p>
            </div>
        </div>
    </div>
</md-card-content>
