﻿<div>
    <h4>Advanced Search</h4>
    <div layout="row" layout-align="start">
        <md-select placeholder="Select Core Object" ng-model="selectedObjectType" ng-change="coreObjectChange()" style="min-width: 150px;">
            <md-option ng-repeat="object in coreObjects" value="{{object.type}}">
                {{object.label}}
            </md-option>
        </md-select>
        <md-button type="button" ng-click="loadSearch()">Load</md-button>
    </div>
    <div id="filters" ng-show="displayFilters">
        <div id="advancedSearch"/>
    </div>
</div>
