﻿<div layout="row">
    <md-input-container flex>
        <label>{{label}}</label>
        <input type="number" step="any" ng-model="inputValue"/>
        <div ng-transclude></div>
    </md-input-container>
    <md-input-container>
        <label>Type</label>
        <md-select ng-model="sizeValue" md-on-open="valuationTypeOpen = true" md-on-close="valuationTypeOpen = false">
            <md-option value="">{{valuationTypeOpen ? 'Verbatim (=)' : '='}}</md-option>
            <md-option value="K">{{valuationTypeOpen ? 'Thousands (K)' : 'K'}}</md-option>
            <md-option value="MM">{{valuationTypeOpen ? 'Millions (MM)' : 'MM'}}</md-option>
            <md-option value="B">{{valuationTypeOpen ? 'Billions (B)' : 'B'}}</md-option>
        </md-select>
    </md-input-container>
</div>