﻿<md-card-content>
    <div layout="row" layout-align="space-between center">
        <h2 class="md-title">Contacts</h2>
        <a ng-href="{{viewAllUrl}}" ng-hide="!count">view all {{count}}</a>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-hide="loaded"></md-progress-circular>
    </div>
    <p ng-repeat="contact in contacts">
        <a ng-href="#/contacts/{{contact.contactID}}">{{contact.firstName}} {{contact.lastName}}</a>
        <a ng-href="#/companies/{{contact.companyID}}" style="float: right;">
            <md-icon class="material-icons">home</md-icon>
            <md-tooltip>{{contact.companyName}}</md-tooltip>
        </a>
        <a ng-href="mailto://{{contact.emailAddress}}" style="float: right;" ng-hide="!contact.emailAddress">
            <md-icon class="material-icons">email</md-icon>
            <md-tooltip>{{contact.emailAddress}}</md-tooltip>
        </a>
    </p>
</md-card-content>