﻿<md-tabs>
    <md-tab label="Text Search">
        <md-autocomplete md-no-cache
                         md-selected-item="deal"
                         md-search-text-change="searchTextChange(searchText)"
                         md-search-text="searchText"
                         md-selected-item-change="selectedDealChange(item)"
                         md-items="item in searchDeals(searchText)"
                         md-item-text="item.dealName"
                         md-min-length="2"
                         md-floating-label="Search for a deal to select"
                         md-delay="300">
            <md-item-template>
                <div style="line-height: 2">
                    <b>{{item.dealName}}</b> ({{item.dealStatus}} <span ng-show="item.dealStatus === 'Closed'">{{item.statusDate | date:'MMM yyyy'}}</span>)
                </div>
            </md-item-template>
        </md-autocomplete>
    </md-tab>
    <md-tab label="Map Search">
        <div property-selector mode="single" context="coreType.deal" on-complete="getDealFromProperty(properties)"></div>
    </md-tab>
</md-tabs>

