﻿<md-card-content>
    <div layout="row" layout-align="space-between center">
        <h2 class="md-title">Deals</h2>
        <!--<a ng-href="{{viewAllUrl}}" ng-hide="!count">view all {{count}}</a>-->
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-hide="loaded"></md-progress-circular>
    </div>
    <p ng-repeat="deal in deals">
        <a ng-href="#/deals/{{deal.dealID}}">{{deal.dealName}}</a>
    </p>
</md-card-content>