﻿<div>
    <div layout="row">
        <div flex id="edMessageBox" class="ed-message-box" contenteditable="true" placeholder="{{placeholder}}" ng-model="message"></div>
        <md-button type="button" class="md-primary" ng-click="saveComment()">Send</md-button>
    </div>

    <md-content ng-show="mentions.length || hashtags.length"  class="comment-intellisense" ng-style="bottomOffset" >
        <md-list>
            <md-list-item ng-repeat="mention in mentions" ng-click="autocompleteMention(mention)" style="min-height: 40px; height: 40px;">
                <div class="md-list-item-text" style="padding-top: 0;">
                    <p>
                        {{mention.mentionID}}
                    </p>
                </div>
            </md-list-item>

            <md-list-item ng-repeat="hashtag in hashtags" ng-click="autocompleteHashtag(hashtag)" style="min-height: 40px; height: 40px;">
                <div class="md-list-item-text" style="padding-top: 0;">
                    <p>
                        {{hashtag.tagName}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</div>