﻿<md-menu ng-if="!vm.activeReminder">
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <img src="Content/images/pin.png"/>
    </md-button>
    <md-menu-content width="2">
        <md-menu-item>
            <md-input-container style="margin-top: 10px;">
                <label style="margin-left: 15px;">Remember to...</label>
                <input type="text" ng-model="vm.reminderText"/>
            </md-input-container>
        </md-menu-item>
        <md-menu-item>
            <md-input-container style="margin-top: 10px;">
                <label style="margin-left: 15px;">Assign someone...</label>
                <input type="text" style="" flex mentio="" mentio-require-leading-space="false" mentio-id="'assignee'" id="assignee" ng-model="vm.assigneeText" mentio-trigger-char="'@'" mentio-items="vm.employees" mentio-template-url="/employees.tpl" mentio-search="vm.searchEmployees(term)" mentio-select="vm.getEmployeeText(item)"/>
            </md-input-container>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="vm.setReminder('tomorrow')"> <span md-menu-align-target>Tomorrow</span></md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="vm.setReminder('nextWeek')"> <span md-menu-align-target>Next week</span></md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="vm.setReminder('custom')"> <span md-menu-align-target>Pick date & time</span></md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="vm.setReminder('someDay')"> <span md-menu-align-target>Make it active</span></md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<script type="text/ng-template" id="/employees.tpl">
    <div layout="row">
        <div layout="column" md-whiteframe class="content-background-color" layout-padding>
            <md-list>
                <md-list-item ng-repeat-start="item in items" class="search-row" style="min-height:35px;">
                    <div layout-fill class="news-item" mentio-menu-item="item">
                        <div layout="row" class="sortable-column-header">
                            <strong>{{item.fullName}}</strong>
                        </div>
                    </div>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
        </div>
    </div>
</script>