﻿<form name="filesForm" role="form" enctype="multipart/form-data" style="margin-top: 2px;">
    <div class="form-group">
        <div class="button" ngf-select="uploadFile(file)" ng-model="file" name="file" ngf-pattern="'*'"
             ngf-accept="'*'" ngf-max-size="100MB" ngf-min-height="100" ngf-multiple="false"
             ngf-resize="{width: 100, height: 100}" ngf-keep="false" ngf-drop="uploadFile(file)">
            <ng-md-icon class="sidebar-item-icon" icon="attachment" size="24"></ng-md-icon>
            <md-tooltip md-direction="left">
                Attach File
            </md-tooltip>
        </div>
    </div>
    <div layout="row" ng-if="files.length">
        <div ng-repeat="file in files" class="attachment-box">
            <div class="attachment-box-inner" title="{{file.name}}">{{file.name}}</div>
            <div class="attachment-box-close" ng-click="removeFile($index)">
                <img src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/btw_ic_close_black_12dp.png" />
            </div>
        </div>
    </div>
    <div layout="row" ng-if="progress">
        <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
    </div>
</form> 