﻿<div class="pagination">
    <div>
        <paging class="small"
                page="paging.currentPage"
                page-size="paging.pageSize"
                total="paging.total"
                dots="..."
                ul-class="pagination"
                show-prev-next="true"
                paging-action="goToPage(page)">
        </paging>   
        <!--<ul class="pagination pagination-sm" ng-if="paging.total===0">
            <li class="disabled"><a>&laquo;</a></li>
            <li class="disabled"><a>&raquo;</a></li>
        </ul>-->
    </div>
</div>