﻿<md-card-content>
    <div layout="row" layout-align="space-between center">
        <h2 class="md-title">Properties</h2>
        <!--<a ng-href="{{viewAllUrl}}" ng-hide="!count">view all {{count}}</a>-->
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-hide="loaded"></md-progress-circular>
    </div>
    <p ng-repeat="property in properties">
        <a ng-href="#/properties/{{property.propertyID}}">{{property.propertyName}}</a>
        <a ng-click="selectProperty(property)" style="float: right;" ng-show="allowSelection && property.city && property.state">
            <md-icon class="material-icons">{{ property.selected ? 'pin_drop' : 'place' }}</md-icon>
            <md-tooltip>{{getAddress(property)}}</md-tooltip>
        </a>
    </p>
</md-card-content>