﻿<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="wizard-header content-background-color">
    <div layout="row" layout-padding>
        <div layout="row" layout-align="start center" flex ng-repeat="step in visibleSteps()" ng-click="goToStep(step)">
            <div class="wizard-step" layout="row" layout-align="center center" ng-class="step === form.currentStep ? 'wizard-step-active' : 'wizard-step-inactive'">
                {{$index+1}}
            </div>
            <div layout="column">
                <strong class="wizard-step-text" ng-class="step === form.currentStep ? 'wizard-text-active' : 'wizard-text-inactive'">{{step.label}}</strong>
                <span class="wizard-step-text" ng-class="step === form.currentStep ? 'wizard-text-active' : 'wizard-text-inactive'" ng-show="step.isOptional">Optional</span>
            </div>
            <div class="wizard-step-connector" flex ng-show="!$last"></div>
        </div>
    </div>
</div>
<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="wizard-container content-background-color">
    <div layout="row" flex>
        <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
    </div>
    <div layout="row" flex layout-padding>
        <div flex="50" layout="column">
            <form name="wizardForm" ng-submit="next()" novalidate>
                <div flex ng-include="form.templatesFolder + form.currentStep.currentQuestion.templateFile"></div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-disabled="form.currentStep == form.steps[0] && form.currentStep.currentQuestion.index == 0" ng-click="previous()">
                        Previous
                    </md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-hide="form.currentStep.currentQuestion.isWizardExit" ng-disabled="!form.currentStep.currentQuestion.continueAllowed">
                        Continue
                    </md-button>
                    <md-button class="md-raised md-primary" type="button" ng-show="form.currentStep.isOptional || form.currentStep.currentQuestion.isWizardExit" ng-disabled="!form.currentStep.currentQuestion.continueAllowed" ng-click="finish()">
                        Finish
                    </md-button>
                </div>
            </form>
        </div>
        <div flex="50">
            <div ng-include="form.templatesFolder + form.detailsFile"></div>
        </div>
    </div>
</div>