﻿

<div layout-gt-md="column" flex="100">
    <div class="card-content" layout-gt-md="row">
        <!-- PROFILE -->
        <md-card flex flex-gt-md="50">
            <div layout-margin>
                <md-button aria-label="menu" class="md-mini md-primary" style="float: right;" ui-sref="companyEdit.profile({companyId: vm.companyId})">EDIT</md-button>
                <h4 class="md-title">Company Profile</h4>
            </div>
                <md-divider></md-divider>
            <div layout-margin>
                <div layout="column" layout-gt-sm="row" flex layout-margin>
                    <div flex>
                        <p class="md-subhead">
                            <b>Location</b>
                        </p>
                        <div layout="column" flex>
                            <p class="md-body-1">{{vm.companyDetails.office.physicalAddress.address}}</p>
                            <p class="md-body-1">{{vm.companyDetails.office.physicalAddress.city}} {{vm.companyDetails.office.physicalAddress.stateProvidenceCode}} {{vm.companyDetails.office.physicalAddress.postalCode}}</p>
                            <p class="md-body-1">{{vm.phoneNumber}}</p>
                            <p class="md-body-1">
                                <a ng-href="{{vm.webPage}}" target="_blank">{{vm.webPage}}</a>
                            </p>
                        </div>
                    </div>
                    <div layout="column" flex>
                        <div flex>
                            <p class="md-subhead">
                                <b>Parent</b>
                            </p>
                            <div layout="column" flex>
                                <p class="md-body-1" ng-hide="vm.companyDetails.parentCompany">NONE</p>
                                <p class="md-body-1" ng-show="vm.companyDetails.parentCompany">{{vm.companyDetails.parentCompany.parentCompanyName}}</p>
                            </div>
                        </div>
                        <div flex>
                            <p class="md-subhead">
                                <b>Ticker</b>
                            </p>
                            <div layout="column" flex>
                                <a ng-href="http://finance.yahoo.com/q?s={{vm.companyDetails.tickerSymbol}}" target="_blank">{{vm.companyDetails.tickerSymbol}}</a>
                            </div>
                        </div>
                    </div>
                    <div layout="column" flex>
                        <p class="md-subhead">
                            <b>Aliases</b>
                        </p>
                        <div layout="column" flex>
                            <p class="md-body-1" ng-hide="vm.companyDetails.aliases">NONE</p>

                            <div ng-repeat="a in vm.companyDetails.aliases">
                                <p class="md-body-1" ng-show="!a.isPrimary">
                                    {{a.aliasName}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>

        <!-- COMPLIANCE -->
        <md-card flex flex-gt-md="50">
            <div layout-margin>
                <md-button aria-label="menu" class="md-mini md-primary" style="float: right;" ui-sref="companyEdit.compliance({companyId: vm.companyId})">EDIT</md-button>
                <h4 class="md-title">Compliance</h4>
            </div>
            <md-divider></md-divider>
            <div layout-margin ng-hide="vm.editCompliance">
                <div layout="column" layout-gt-sm="row" flex>
                    <div flex-gt-sm="30">
                        <p class="md-subhead">
                            <b>FCPA List Name</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.fcpaName">{{vm.companyDetails.fcpaName}}</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.fcpaName">---</p>
                    </div>
                    <div flex-gt-sm="35">
                        <p class="md-subhead">
                            <b>OFAC Check</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.isOfacCheck">Yes, {{vm.companyDetails.ofacCheckDate | date: 'MM/dd/yyyy'}}</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.isOfacCheck">No</p>
                    </div>
                    <div flex-gt-sm="35">
                        <p class="md-subhead">
                            <b>Real Estate Allocation Pct.</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.realEstateAllocation">{{vm.companyDetails.realEstateAllocation}}%</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.realEstateAllocation">0%</p>
                    </div>
                </div>

                <div layout="column" layout-gt-sm="row" flex>
                    <div flex-gt-sm="30">
                        <p class="md-subhead">
                            <b>WFS Correlation</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.hasWfsCorrelation">Yes</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.hasWfsCorrelation">No</p>
                    </div>
                    <div flex-gt-sm="35">
                        <p class="md-subhead">
                            <b>CIBOS Code</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.cibosCode">{{vm.companyDetails.cibosCode}}</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.cibosCode">---</p>
                    </div>
                    <div flex-gt-sm="35">
                        <p class="md-subhead">
                            <b>FGOV</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.isForeignGovernment">Yes</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.isForeignGovernment">No</p>
                    </div>
                </div>

                <div layout="column" layout-gt-sm="row" flex>
                    <div flex-gt-sm="30">
                        <p class="md-subhead">
                            <b>Tracked by Asia Team</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.isTrackedByAsiaTeam">Yes</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.isTrackedByAsiaTeam">No</p>
                    </div>
                    <div flex-gt-sm="35">
                        <p class="md-subhead">
                            <b>Restricted Visibility</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.hasRestrictedVisibility">Yes</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.hasRestrictedVisibility">No</p>
                    </div>
                    <div flex-gt-sm="35">
                        <p class="md-subhead">
                            <b>Do Not Solicit</b>
                        </p>
                        <p class="md-body-1" ng-show="vm.companyDetails.isSolicitable">True, as of {{vm.companyDetails.isSolicitableDate | date: 'MM/dd/yyyy'}}</p>
                        <p class="md-body-1" ng-hide="vm.companyDetails.isSolicitable">False</p>
                    </div>
                </div>
            </div>
        </md-card>
    </div>


    <div>
        <md-card flex>
            <md-card-content style="padding: 0">
                <div layout-margin>
                    <h4 class="md-title faded-text"><b>Structure</b></h4>
                </div>
                <md-divider></md-divider>
                <md-content layout="column">
                    <md-subheader>
                        <div layout="row">
                            <div flex flex-gt-sm="20" layout="row">
                                <b>Company Name</b>
                            </div>
                            <div flex="80" layout="row" hide show-gt-sm>
                                <div flex="20">
                                    <b>Parent Company</b>
                                </div>
                                <div flex="20" layout="row" layout-align="end center">
                                    <b>Holdings</b>
                                </div>
                                <div flex="20" layout="row" layout-align="end center">
                                    <b>Active Deals</b>
                                </div>
                                <div flex="20" layout="row" layout-align="end center">
                                    <b>Locations</b>
                                </div>
                                <div flex="20" layout="row" layout-align="end center">
                                    <b>Bid Vol, 30 Days</b>
                                </div>
                            </div>
                        </div>
                    </md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item ng-repeat="company in vm.structureCompanies" ng-controller="companyStatisticsController as statistics" ng-init="statistics.setCompany(company)" ng-click="vm.selectRow(company)">
                            <div layout="column" layout-gt-sm="row" layout-wrap flex>
                                <div flex flex-gt-sm="20" layout="row">
                                    {{company.companyName}}
                                    <a hide-gt-sm class="md-secondary" aria-label="Details" ng-click="vm.showStructureDetails = !vm.showStructureDetails">
                                        <span class="fa" ng-class="vm.showStructureDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                                    </a>
                                </div>
                                <div flex="80" layout="row" hide show-gt-sm>
                                    <div flex="20">
                                        <a ng-mouseover="vm.rowAction = 'summary'" ng-mouseout="vm.rowAction = null" ng-show="company.parentCompany">{{company.parentCompany}}</a>
                                        <md-label ng-hide="company.parentCompany">---</md-label>
                                    </div>
                                    <div flex="20" layout="row" layout-align="end center">
                                        <a ng-mouseover="vm.rowAction = 'summary'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.investments}}</a>
                                    </div>
                                    <div flex="20" layout="row" layout-align="end center">
                                        <a ng-mouseover="vm.rowAction = 'deals'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.activeDeals}}</a>
                                    </div>
                                    <div flex="20" layout="row" layout-align="end center">
                                        <a ng-mouseover="vm.rowAction = 'locations'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.locations}}</a>
                                    </div>
                                    <div flex="20" layout="row" layout-align="end center">
                                        <a ng-mouseover="vm.rowAction = 'contacts'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.bidVolume}}</a>
                                    </div>
                                </div>
                                <div layout="column" hide-gt-sm ng-show="vm.showStructureDetails">
                                    <div layout="row">
                                        <span flex="50" layout="row" layout-align="end"><b>Parent Company:</b></span>
                                        <span flex="45" flex-offset="5">
                                            <a ng-mouseover="vm.rowAction = 'summary'" ng-mouseout="vm.rowAction = null" ng-show="company.parentCompany">{{company.parentCompany}}</a>
                                            <md-label ng-hide="company.parentCompany">---</md-label>
                                        </span>
                                    </div>
                                    <div layout="row">
                                        <span flex="50" layout="row" layout-align="end"><b>Holdings:</b></span>
                                        <span flex="45" flex-offset="5">
                                            <a ng-mouseover="vm.rowAction = 'summary'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.investments}}</a>
                                        </span>
                                    </div>
                                    <div layout="row">
                                        <span flex="50" layout="row" layout-align="end"><b>Active Deals:</b></span>
                                        <span flex="45" flex-offset="5">
                                            <a ng-mouseover="vm.rowAction = 'deals'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.activeDeals}}</a>
                                        </span>
                                    </div>
                                    <div layout="row">
                                        <span flex="50" layout="row" layout-align="end"><b>Locations:</b></span>
                                        <span flex="45" flex-offset="5">
                                            <a ng-mouseover="vm.rowAction = 'locations'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.locations}}</a>
                                        </span>
                                    </div>
                                    <div layout="row">
                                        <span flex="50" layout="row" layout-align="end"><b>Bid Vol, 30 Days:</b></span>
                                        <span flex="45" flex-offset="5">
                                            <a ng-mouseover="vm.rowAction = 'contacts'" ng-mouseout="vm.rowAction = null">{{statistics.companyStatistics.bidVolume}}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
    </div>

</div>
