@import 'roboto.scss';
@import 'font-awesome.scss';

html, 
body {
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  height:100%;
  margin: 0px;
  padding: 0px;
  color: #666;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
h7,
h8 {
    padding: 2px 0;
    margin: 2px 0;
    color: #414851;
}
h2 {
    font-size: 1.76em;
    line-height: 1.76em;
}
h3 {
    font-size: 1.76em;
    line-height: 1.76em;
}
h4 {
    font-size: 1.53em;
    line-height: 1.53em;
}
h5 {
    font-size: 1.38em;
    line-height: 1.38em;
}
h6 {
    font-size: 1.15em;
    line-height: 1.15em;
}
h8 {
   font-size: 1.15em;
    line-height: 1.15em;
}

p {
    padding: 1px 0 !important;
    margin: 1px 0 !important;
}

a {
    color: #333;
    text-decoration: none !important;
    outline: 0;
    cursor: pointer;

    &:hover {
        color: #888;
    }
    &:focus{
    }
    &:active {
    }
}

input,
select {
    padding: 4px !important;
    display: inline-block !important;
}

hr {
    margin: 8px 0 8px 0 !important;
    padding: 0 !important;
    border-top: 0;
    border-bottom: 1px solid #ddd !important;
    height: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.bold {
    font-weight: 600;
}

.editButton {
    font-family: 'roboto';
    font-size: 1.07em;
    color: #5d93cd;
}

.text-bold {
    font-family: "robotoblack"
}
.text-medium {
    font-family: "roboto"
}

