﻿.search-input {
    padding-bottom: 3px;
    border: solid 2px #babdc0;
    /* font-size: 10pt; */
    background-color: #babdc0;
    margin-right: 5px;
    margin-bottom: 10px;
}

.search-icon {
    top: 7px;
}

.search-textbox {
    color: #ffffff;
    padding-left: 25px;
    background-color: #babdc0;
    border: none;
    font-size: small;
}

fabSpeedDial-margin {
    margin-top: 5px;
}

md-fab-speed-dial.md-down {
    /*margin-top: -70%;*/
}

.title-text {
    font-family: "robotoblack";
    color: #ffffff;
}

.sub-title-text {
    margin-top: -10px;
    font-family: 'robotolight';
    color: #dfdddf;
}

.sidenav-margin {
    margin-top: 3%;
}

.content-margin {
    margin-left:75px;
}

.pageNav md-pagination-wrapper {
    margin-left: 310px;
}

@media only screen and (max-device-width: 600px) {
    .fabSpeedDial .md-fab-top-right {
        top: 9px;
        right: 9px;
    }
}

.logo {
    background: url('images/logo-sprite.png') 0 0 no-repeat;
    margin-left: 10px;
}

.quick-add {
    width: 35px;
    height: 35px;
    margin-left: -5px;
    background: url('images/quick-add-icons-sprite.png') 0 0 no-repeat;
}

    .quick-add.companies, .quick-add.companies:hover {
        background-position: 0 0;
    }

    .quick-add.contacts, .quick-add.contacts:hover {
        background-position: 0 -35px;
    }

    .quick-add.properties, .quick-add.properties:hover {
        background-position: 0 -70px;
    }

    .quick-add.loans, .quick-add.loans:hover {
        background-position: 0 -105px;
    }

    .quick-add.deals, .quick-add.deals:hover {
        background-position: 0 -140px;
    }

    .quick-add.valuations, .quick-add.valuations:hover {
        background-position: 0 -105px;
    }

md-tooltip .md-content {
    font-size: 12px;
    font-family: 'roboto';
    text-align: center;
    height: auto;
    min-width: 60px;
    /*padding: 2px;*/
    max-width: 70px;
    background-color: #ffffff !important;
    color: #414851;
    white-space: inherit;
    border-radius: 10%;
    border: #414851 1px solid;
    margin-left: 20px;
}

@media (min-width: 785px) {
    .logo {
        width: 85px;
        height: 24px;
        background-position: 0 0;
    }

    .title-text {
        font-size: 16pt;
    }

    .sub-title-text {
        font-size: 12pt;
    }

    .header-divider {
        min-height: 45px;
        margin-top: 5px;
        margin-right: 5px;
    }

    .search-textbox {
        width: 80% !important;
    }
}

.tabs-height {
    top: 64px;
    position: absolute; 
    left: 0; 
    width: 100%;
}

@media (max-width: 959px) {
    .tabs-height {
        top: 56px;
    }

    .content-margin {
        margin-left:0;
    }

    .pageNav md-pagination-wrapper {
        margin-left: 0;
    }
}

@media (min-width: 655px) and (max-width: 784px) {
    .logo {
        width: 55px;
        height: 18px;
        background-position: 0 -24px;
        margin-right:5px;
    }

    .title-text {
        font-size: 12pt;
    }

    .sub-title-text {
        font-size: 8pt;
    }

    .search-textbox {
        width: 80% !important;
    }

    .header-divider {
        min-height: 45px;
        margin-right: 5px;
    }
}

@media (max-width: 654px) {
    .logo {
        width: 45px;
        height: 12px;
        background-position: 0 -42px;
        margin-left: 0;
    }

    .title-text {
        font-size: 10pt;
        margin-left: 0;
    }

    .sub-title-text {
        font-size: 8pt;
    }

    .search-textbox {
        width: 60% !important;
    }

    .header-divider {
        min-height: 40px;
        margin-right: 5px;
    }
}

.topbar {    
    /*
        Not sure why this is needed?
        overflow: hidden;*/
}

#topbarSearchText::-webkit-input-placeholder {
    color: #ffffff !important;
}

#topbarSearchText:-moz-placeholder { /* Firefox 18- */
    color: #ffffff !important;
}

#topbarSearchText::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff !important;
}

#topbarSearchText:-ms-input-placeholder {
    color: #ffffff !important;
}

md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder {
    color: #414851 !important;
}

.sidebar-divider {
    height: 1px;
    cursor: none;
}

.sidebar-background {
    background-color: #414851;
}

.main-background {
    background-color: #6b737f;
}

md-fab-speed-dial {
    overflow: visible;
    height: 0;
    margin-top: -50px;
}

md-fab-actions {
    padding: 5px;
}

body {
    background-color: #6b737f;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: #6b737f;
}

.sidenav-hamburger {
    margin: 10px 0 0 20px;
    cursor: pointer;
}
 
.sidebar-extdended {
    background: #f2f2f2;
    color: #616161;
}

md-content {
    /*position: inherit !important;*/
    background: inherit;
}

md-whiteframe {
    background: white;
}
 
.sidebar-extdended.div {
    padding: 4px;
}


.sidebar-main {
    margin-top: 14px;
}

.md-sidenav-icons {
    background: url('images/icons-sprite.png') 0 0 no-repeat;
    width: 44px;
    height: 48px;
}

.header-divider {
    background-color: #b9b9ba;
    min-width: 1px;
    float: left;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-item-active {
    background-color: rgba(0, 0, 0, 0.05);
}


md-list-item {
    min-height: 48px;
}

.md-sidenav-icons {
    width: 33px;
    height: 36px;
}

.hamburger {
    background-position: -154px 3px;
}

.dashboard {
    background-position: -89px -36px;
}

.mydeals {
    background-position: -89px -72px;
}

.watchlist {
    background-position: -89px -111px;
}

.notifications {
    background-position: -89px -144px;
}

.companies {
    background-position: -89px -183px;
}

.contacts {
    background-position: -89px -219px;
}

.properties {
    background-position: -89px -255px;
}

.loans {
    background-position: -89px -291px;
}

.deals {
    background-position: -89px -327px;
}

.settings {
    background-position: -89px -361px;
}

.divider {
    height: 1px;
    background-position: -89px -398px;
    cursor:default !important;
}

.valuations {
    background-position: -89px -434px;
}

.divider:hover {
    background-color: #f2f2f2 !important;
}

.md-list-item {
    min-height: 48px;
}

/* Advanced Search */
.evo-editFilter input[type="text"],
.evo-editFilter input[type="number"] {
    height: 24px;
    vertical-align: bottom;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    color: #003366;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: #003366;
    background: #4D7094;
    color: #ffffff;
}

body {
}
