﻿
/*#region toastr */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    margin: 4px auto;
}
/*#endregion */

/* Styles for edMessageBox directive */
.ed-message-box {
    background-color: white;
    border-radius: inherit;
    cursor: text;
    display: block;
    vertical-align: top;
    padding: 8px 10px;
    min-height: 35px;
    max-height: 240px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 14px;
    line-height: 30px;
    -webkit-user-modify: read-write;
    -webkit-line-break: after-white-space;
    direction: ltr;
    unicode-bidi: embed;
}

span.mention {
    color: #b7b7b7;
    /*background-color: #c0392b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 4px;*/
}

span.hashtag {
    color: #b7b7b7;
    /*background-color: #34495e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 4px;*/
}

.ed-message-box.expand {
    min-height: 80px;
}

.ed-message-box:focus {
    outline: none;
}

.ed-message-box:empty:not(:focus):before {
    color: lightgray;
    content: attr(placeholder);
}
/* end styles for edMessageBox directive */

/*Begin page nav styles*/
.pageNav {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    border-radius: 0px;
    margin-bottom: 5px; /* Ensures the bottom drop-shadow is visible */
}

md-tabs.pageNav .md-tab, md-tabs.pageNav .md-tab.md-active, md-tabs.pageNav .md-tab.md-focused, .pageNav a {
    color: #FFFFFF;
}
.companies-bg {
    background-color: #fc6e51;
}
.contacts-bg {
    background-color: #f6bb42;
}
.properties-bg {
    background-color: #5d9cec;
}
.deals-bg {
    background-color: #21295c;
}
.loans-bg {
    background-color: #a0d468;
}
.pitches-bg {
    background-color: #48cfad;
}
.springboard-bg {
    background-color: rgb(0,51,102) ;
}
.reminders-bg {
    background-color: orange;
}

md-tabs.pageNav md-ink-bar {
    color: #FFFFFF;
    background: #FFFFFF;
}
/*End page nav styles*/

.gridBody {
    padding: 0 20px 0 20px;
}

.gridRow {
    padding: 5px 0 5px 0;
}

.textTruncated{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageFilterBox {
    border: 0px none;    
    margin: 15px 0 15px 0;
    background-color: #f2f2f2;
    width: 250px;
}

.sortable-column-header{
    cursor: pointer;
}

/* Recommended sizes for icons. From http://google.github.io/material-design-icons/  */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.starColumn {
    cursor: pointer;
    min-width: 60px;
}

.iconColumn {
    min-width: 60px;
}

.summaryCard {
    color: #6B737F;
}
.summaryCard md-select {
    margin-top: 0px;
    margin-bottom: 0px;
}
.summaryCardHeader {
    font-weight: bold;
    padding-top:5px;
}
.summaryCardNum {
    font-size: 3em;
    font-weight: bold;
    font-family: robotoblack;
    margin-bottom:-8px;
}
.summaryCardLabel {
    padding:8px 0 0 0;
}

.summaryCardDivider {
    padding-top: 25px;
    padding-bottom: 25px;
}
.summaryCommentsList {
    overflow:auto;
    height:400px;
}
.summary-card-select-container{
    margin: 4px;
}
md-select-menu md-content{
    background-color: white;
}

.commentSearch {
    border: none;
    padding: 8px 10px 8px 10px !important;
    line-height: 30px;
}

.pad {
    padding: 0 10px 0 10px;
}


/* Styles to get site demo ready */

.content-main {
    background: #f2f2f2 !important;
    margin: 0 !important;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    width: 216px !important;
    top: 56px !important;
}

md-sidenav md-content {
    overflow: hidden;
}

md-sidenav:hover md-content:hover {
    overflow: auto;
}

$mask-offset: 5px;

.content-well {
    background: #f2f2f2 !important;   
    margin-top: 120px;     
    padding-left:$mask-offset;

    .list-view-container {
        padding: 2px $mask-offset 0 $mask-offset;
        margin: 10px 0 0 0;
    }
    .list-view {
        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    }
    .list-view-header{
        color:black;
    }
    .list-data {
        div {
            padding: 0 10px;
            
        }
        .email {
            -ms-word-break:   break-all;
            word-break:       break-word;
            word-wrap:        break-word;
 
            -webkit-hyphens:  auto;
            -moz-hyphens:  auto;
            hyphens:  auto;
        }
    }
    .md-sticky-clone {
        left: -$mask-offset;
        margin-right: $mask-offset * 2;
        padding-top: 3px;
    }
}

/*.md-backdrop.md-opaque {
    opacity: 0 !important;
} 

md-backdrop.md-sidenav-backdrop {    
    position: absolute !important;
    top: 106px !important;
    bottom: 0 !important;
    left: 232px !important;
    right: 0 !important;
    z-index: 50 !important;
}*/

.content-color {
    background: white;
}

.alias-notification {
    border-left: 5px solid #F37448;
    margin-left: -32px;
}

.contact-notification {
    border-left: 5px solid #fbb03b;
    margin-left: -32px;
}

.employee-notification {
    border-left: 5px solid #21295c;
    margin-left: -32px;
}

.deal-notification {
    border-left: 5px solid #2cc23a;
    margin-left: -32px;
}

.property-notification {
    border-left: 5px solid #0da3ff;
    margin-left: -32px;
}

.loan-notification {
    border-left: 5px solid #2cbdb9;
    margin-left: -32px;
}

.office-notification {
    border-left: 5px solid #F37448;
    margin-left: -32px;
}

.pitch-notification {
    border-left: 5px solid #955ba5;
    margin-left: -32px;
}

.target-notification {
    border-left: 5px solid #e74d3c;
    margin-left: -32px;
}

.underline {
    text-decoration:underline
}

.pad-left {
    margin-left: 10px !important;
}

.pad-top {
    padding-top: 23px !important;
}

.card-content {
    overflow: initial !important;
}

.sidebar-divider {
    border-top: 1px solid #ddd;
}

@media (max-width: 1600px) {
    .content-well .list-view {
        width: auto;
        margin-bottom: 10px;
    }
}

.comment-intellisense {
    position: absolute!important; 
    background-color: white; 
    border: 1px solid gray; 
    width: 300px; 
    max-height: 100px; 
    overflow-y: auto;
}

@media (max-width: 960px) {
    
    .content-well .list-view {
        width: auto;
        margin-bottom: 10px;                  
    }
}

.error {
    color:#dd2c00;
}

.inputHelperText{
    float: right;
    font-size: 0.8em;
}

.short-row {
    height: 40px;
    margin-top: -10px;
}

.content-background-color {
    background-color: rgb(255, 255, 255);
}

/* This gives a gray text color, useful for matching mock ups that look gray. */
.faded-text {
    color: rgba(0,0,0,0.54);
}

md-fab-actions div {
    z-index: 99 !important;
}

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape){
    md-toolbar {
        min-height: 56px !important;
    }
}

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
    md-toolbar {
        min-height: 48px !important;
    }
}

.list-view-container {
    overflow: auto;
    height: 85vh;
}

.full-height {
    height: 100%;
    box-sizing: border-box;
}

.push-down {
    margin-top: 120px;
}
    
.hide-overflow {
    overflow: hidden;
}

.speed-dial-margin {
    margin-top: 10px;
}

.toolbar-position {
    position: absolute; 
    left: 0;
}

.esx-background-color {
    background: #f2f2f2;
}

/* Property map styles */
.map-canvas {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 0;
}

.map-toggle {
    z-index: 59; 
    position: absolute !important; 
    bottom: 0; 
    left: 46%;
}

.map-canvas.expanded {
    height: 600px !important;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.property-image {            
    z-index: 59; 
    border: 1px solid black; 
    background-color: white; 
    width: 210px; 
    height: 180px;
    margin-top: 10px;
    margin-left: 15px;
}

.property-image-small {            
    z-index: 59; 
    border: 1px solid black; 
    background-color: white; 
    width: 150px; 
    height: 120px;
}

.raised {
    z-index: 59;
}
/* end Property map styles */


/* Strip  styles */

$sidebar-Item-color :#6b737f;
$pitches-border-color:#48cfad;
$deals-border-color:#21295c;
$properties-border-color:#5d9cec;
$loans-border-color: #a0d468;
$companies-border-color: #fc6e51;
$contacts-border-color: #f6bb42;
$valuations-border-color: purple;


.summary-info-box-pitches{
    border-left: solid $pitches-border-color 5px;
}
.summary-info-box-pitches-sm{
    border-top: solid $pitches-border-color 5px;
}

.summary-info-box-deals{
    border-left: solid $deals-border-color 5px;
}
.summary-info-box-deals-sm{
    border-top: solid $deals-border-color 5px;
}
.summary-info-box-properties{
    border-left: solid $properties-border-color 5px;
}
.summary-info-box-properties-sm{
    border-top: solid $properties-border-color 5px;
}
.summary-info-box-loans{
    border-left: solid $loans-border-color 5px;
}
.summary-info-box-loans-sm{
    border-top: solid $loans-border-color 5px;
}

.summary-image-graph{
max-width:100%
}

.ie-column-layout-contaner {
   position: relative; 
   display: inline-block;
   margin-top: 10px;
}

/* END Strip  styles */

.subheader-divider {
    margin-left: -16px; 
    margin-right: -16px; 
    margin-bottom: 15px;
}
.grey-text {
    color: #616161;
}

.no-results-text {
    margin-left: 20%;
}

.sidebar-text {
    font-family: "roboto";
    color: #616161;
    margin-left: 50px !important;
    margin-top: -48px !important;
}

.sidebar-center {
    margin-top: 5px;
}

.fa-sidebar-text {
    font-family: "roboto";
    color: #616161;
    margin-left: 50px !important;
    margin-top: -43px !important;
}

.fa-loans-icon {
    color: #8cc152;
}


.sidebar-item-icon{
    fill: $sidebar-Item-color;
}

.sidebar-pitches{
    fill:$pitches-border-color;
}

.sidebar-deals{
    fill:$deals-border-color;
}

.sidebar-properties{
    fill:$properties-border-color;
}

.sidebar-loans{
    fill:$loans-border-color;
}

.sidebar-companies{
    fill:$companies-border-color;
}
.sidebar-contacts{
    fill:$contacts-border-color;
}
.sidebar-loans{
    fill: $sidebar-Item-color;
}
.sidebar-valuations{
    fill: $valuations-border-color;
}
/*search*/
.search-row:hover{

    background-color: rgba(0, 0, 0, .1);
}
.search-container{
    margin-top:20px;
}

.search-filter-active {
    font-weight:bold;
}
.esx-search-companies{
    border-left: solid $companies-border-color 10px;
}
.esx-search-companies-sm{
    border-top: solid $companies-border-color 10px;
}
.esx-search-contacts{
    border-left: solid $contacts-border-color 10px;
}
.esx-search-contacts-sm{
    border-top: solid $contacts-border-color 10px;
}
.esx-search-properties{
    border-left: solid $properties-border-color 10px;
}
.esx-search-properties-sm{
    border-top: solid $properties-border-color 10px;
}

.esx-search-pitch{
    border-left: solid $pitches-border-color 10px;
}
.esx-search-pitch-sm{
    border-top: solid $pitches-border-color 10px;
}

.esx-search-deals {
    border-left: solid #003366 10px;
}
.esx-search-loans {
    border-left: solid $loans-border-color 10px;
}

.md-chip-input-container {
    display:none !important;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none !important;
}

.shorten {
    padding-top: 0 !important; 
    padding-bottom: 0 !important;
}

.short-button {
    padding-top: 0 !important; 
    padding-bottom: 0 !important;
}

.filters-header {
    margin-left: 30px; 
    margin-top: -25px;
}

.filter-list-item {
    margin-left: -15px;
    height: 25px;
    min-height: 25px;
    margin-bottom: 10px;
}
/*end search*/


/* Start news feed */
.news-item.active {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
}

.newsfeed-items:hover {
    cursor:pointer;
}

.newsfeed-box:empty:not(:focus):before {
    color: lightgray;
    content: attr(data-blah);
}

.tag-link-C {
    border-bottom: 2px solid $contacts-border-color;
}
.tag-link-P {
    border-bottom: 2px solid $properties-border-color;
}
.tag-link-D {
    border-bottom: 2px solid $deals-border-color;    
}
.tag-link-A {
    border-bottom: 2px solid $companies-border-color;
}
.tag-link-L {
    border-bottom: 2px solid $loans-border-color;
}
.tag-link-T {
    border-bottom: 2px solid $pitches-border-color;
}

.newsfeed-box {
    height: auto;
    min-height: 30px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid lightgray;
}

/*wizard styles*/
$inactive-step:rgba(0,0,0,0.38);
.wizard-header{
    margin-top:20px;
}

.wizard-container{
    margin-top:4px;
}

.wizard-step{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:white;
}

.wizard-step-text{
   padding-left:5px;
}

.wizard-step-connector{
    background-color:#E0E0E0;
    height:2px;
    margin-left:10px;
}
.wizard-step-active{
     background: $properties-border-color;
}

.wizard-step-inactive{
     background: $inactive-step;
}

.wizard-text-inactive{
     color: #BDBDBD;
}

.wizard-text-inactive{
     color: rgba(0,0,0,0.38);
}
/*end wizard styles*/

.reminders-color {
    color: #ef6c00;
}

.reminders-count {
    margin-left: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: gray;
    color: white;
}
/* end news feed */


/*property address*/
$inactive-step:rgba(0,0,0,0.38);

.property-add-header{
    margin-top:20px;
}

.property-add-container{
    margin-top:4px;
}

.property-add-step{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:white;
}

.property-add-step-text{
   padding-left:5px;
}

.property-add-step-connector{
    background-color:#E0E0E0;
    height:2px;
    margin-left:10px;
}
.property-add-step-active{
     background: $properties-border-color;
}

.property-add-step-inactive{
     background: $inactive-step;
}

.property-add-text-inactive{
     color: #BDBDBD;
}

.property-add-text-inactive{
     color: rgba(0,0,0,0.38);
}

.property-add-map{
   margin-top:20px;
   height:400px; 
   margin-bottom:30px;
}

.property-add-toolbar{
    padding-top:20px; 
}
.property-add-uses{
        padding-top:20px; 
}
/*end property add*/

/*marketing list*/

.complete {
    color:#26ae5f;
}
.blocked {
    color:red;
}
.followUp{
    color:yellowgreen;   
}
.hold{
    color:orange;   
}
.unavailable{
    color:#6b737f;   
}

.ml-contact-row{
    .menu{
        padding:0;
    }
    .button {
        margin:0;
    }
    border-left: solid #eeeeee 10px;
    background-color:#eeeeee;
}

.drop-box
  {
    &.dragover
    {
        background-color: #f4f3f3 ;
    }
    &.dragover-err
    {
        background-color: #ffb2b2;
    }
}
.clickable {
    cursor:pointer;
}

/*end marketing list*/

/* file upload */

.attachment-box {
    box-shadow: 0 0 1px rgba(0,0,0,.11),0 1px 2px rgba(0,0,0,.22);
    box-sizing: border-box;
    height: 28px;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    z-index: 0;
    justify-content: center;
    background-color: rgb(250,250,250);
    margin-right:15px;
}
.attachment-box-inner {
    line-height: 20px;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    word-wrap: normal;
}

.attachment-box-close {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 18px;
    align-items: center;
    justify-content: center;
    background-color: rgb(250,250,250);
}

.attachment-box-close img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
    height: 8px;
    width: 8px;
    margin-left: 5px;
    margin-bottom: 1px;
}
/* end file upload*/

md-input-container .md-errors-spacer {
    min-height: 0 !important;
}
/*wizard styles*/
$inactive-step:rgba(0,0,0,0.38);
.wizard-header{
    margin-top:20px;
}

.wizard-container{
    margin-top:4px;
}

.wizard-step{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:white;
}

.wizard-step-text{
   padding-left:5px;
}

.wizard-step-connector{
    background-color:#E0E0E0;
    height:2px;
    margin-left:10px;
}
.wizard-step-active{
     background: $properties-border-color;
}

.wizard-step-inactive{
     background: $inactive-step;
}

.wizard-text-inactive{
     color: #BDBDBD;
}

.wizard-text-inactive{
     color: rgba(0,0,0,0.38);
}
/*end wizard styles*/
.user-profile-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:black;
}
.wizard-step-big{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:red;
    color:black;
}
.profile-circle-big{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:red;
    color:black;
}
.menu-bg:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.10);
}
.date-picker-padding{
   padding-left:15px;
}
