﻿
<div layout="row" style="position: absolute; top: 0; left: 0; width: 100%; height: 200px;">
    <div class="property-image">
        <img src="Content/images/building.jpg" width="200" height="170" style="margin: 5px;"/>
    </div>
    <div style="margin-left: 10px; margin-top: 15px;" layout="column">
        <div class="raised">
            <h1>{{vm.property.propertyName}}</h1>
        </div>
        <div class="raised">
            <h5>{{vm.property.physicalAddress.city}}, {{vm.property.physicalAddress.stateProvidenceCode}} {{vm.property.physicalAddress.postalCode}}</h5>
        </div>
        <div class="raised">
            <b>Last Close Date: {{vm.property.lastCloseDate | date:'mediumDate'}}</b>
        </div>
        <div class="raised">
            <b>{{vm.property.owner}}</b>
        </div>
        <div class="raised">
            <b>{{vm.property.type}}</b>
        </div>
    </div>    
</div>

<div class="map-canvas" ng-class="{'expanded': vm.mapExpanded }">
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.mapOptions" control="vm.map.control">
        <ui-gmap-marker coords="vm.marker.center" idkey="1" options="{ visible: vm.map.showMarker}"></ui-gmap-marker>
    </ui-gmap-google-map>
    <md-button class="map-toggle" ng-click="vm.toggleMapSize()">{{vm.mapExpanded ? "Shrink" : "Expand"}}</md-button>    
</div>
