﻿<div layout-gt-md="row" flex-gt-md="50">
    <md-card flex>
        <h4 class="pad">Property Stats</h4>
        <md-divider></md-divider>
        <div layout="column" layout-gt-xs="row" style="border-left: solid #45B649 5px;">
            <div layout="column" flex="25" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Last Close</span>
                <span class="summaryCardNum">{{vm.propertyDetails.lastCloseDate | date:'shortDate'}}</span>
                <span class="summaryCardLabel"></span>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="20" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Active Deal</span>
                <span class="summaryCardNum">{{vm.propertyDetails.activeDeal ? "Yes" : "No"}}</span>
                <span class="summaryCardLabel"></span>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="30" layout-align="top center" class="summaryCard" hide show-gt-lg>
                <span  class="summaryCardHeader">Valuation</span>
                <span ng-if="vm.propertyDetails.valuationHistory.length">
                    <span class="summaryCardNum">{{vm.propertyDetails.valuationHistory[0].askingPrice | largeCurrency}}</span>
                </span>
                <span class="summaryCardNum" ng-if="!vm.propertyDetails.valuationHistory.length">
                    N/A
                </span>
                <span class="summaryCardLabel"></span>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="25" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Unit Price</span>
                <span class="summaryCardNum" ng-if="vm.propertyDetails.unitPrice">{{vm.propertyDetails.unitPrice | largeCurrency}}</span>
                <span class="summaryCardNum" ng-if="!vm.propertyDetails.unitPrice">N/A</span>
                <span class="summaryCardLabel">Per {{vm.propertyDetails.sizeUnits}}</span>
            </div>
        </div>
    </md-card>
</div>
<div layout-gt-md="row" flex-gt-md="50" >    
    <md-card flex>
        <h4 class="pad" >Valuation</h4>
        <md-divider></md-divider>
        <div layout="column" layout-gt-xs="row" style="border-left: solid #499AD4 5px;">
            <div layout="column" flex="50" layout-align="top center" class="summaryCard" ng-repeat-start="valuation in vm.propertyDetails.valuationHistory">
                <span class="summaryCardHeader">&nbsp;</span>
                <span ng-class="{'secondary-valuation': $index !== 0}">
                    <span class="summaryCardNum">{{valuation.askingPrice | largeCurrency}}</span>
                </span>
                <span class="summaryCardLabel">&nbsp;</span>
            </div>
            <div layout="row" class="summaryCardDivider" ng-repeat-end>
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="50" layout-align="top center" class="summaryCard" ng-if="!vm.propertyDetails.valuationHistory.length">
                <span class="summaryCardHeader">&nbsp;</span>
                <span class="summaryCardNum">No valuation data available</span>
                <span class="summaryCardLabel">&nbsp;</span>
            </div>
        </div>
    </md-card>
</div>


<style type="text/css">
    .secondary-valuation {
        color: lightgray;
    }
</style>