﻿<h4 class="pad">Alerts</h4>
<md-divider></md-divider>
<md-card-content>
    <md-list>
        <md-list-item style="padding-bottom: 10px;" ng-repeat="alert in vm.alertsList.resources">
            <div class="md-list-item-text" ng-class="vm.styleMap[alert.entityCode]">
                <p class="pad-left">
                    <b><a ng-click="vm.goToEntity(alert)">{{alert.title}}</a></b> {{alert.date | date: 'MM/dd/yy hh:mm a' }}
                </p>
                <p class="pad-left">
                    <span class="underline">{{alert.location}}</span>&nbsp;&nbsp; Type: {{alert.propertyType}}
                </p>
                <p class="pad-left">
                    <a ng-click="vm.acknowledgeAlert(alert)">OK</a> &nbsp;&nbsp;
                    <a ng-click="vm.snoozeAlert(alert)">SNOOZE</a> &nbsp;&nbsp;
                    <a ng-click="vm.removeAlert(alert)">REMOVE ALERT</a>
                </p>
            </div>
        </md-list-item>
    </md-list>
</md-card-content>
