﻿<div flex>
    <div layout-gt-sm="row" ui-view="propertyHeader"></div>
    <div layout-gt-md="row" ui-view="propertyInformation"></div>
    <div layout-gt-md="row">
        <div layout-gt-md="column" flex-gt-md="50">
            <md-card ui-view="propertyAlerts"></md-card>
        </div>
        <div layout-gt-md="column" flex-gt-md="50">
            <md-card ui-view="propertyComments"></md-card>
        </div>
    </div>
</div>