﻿<md-content layout="column" flex flex-sm="100" flex-gt-md="90" id="pitchesList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <section>
                <div layout="row" layout-align="start center">
                    <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchPitches()" placeholder="Filter" class="pageFilterBox" />
                    </div>
                </div>
            </section>
            <md-divider class="subheader-divider"></md-divider>
            <section>
                <div layout="row">
                    <div flex flex-gt-sm="20" layout="row" class="list-data">
                        <div ng-click="vm.sortColumn('isWatched')" class="iconColumn sortable-column-header">
                            <i class="material-icons md-18">star</i>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'isWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div ng-click="vm.sortColumn('dealName')" class="sortable-column-header" flex="80">
                            <b>Name</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                    <div flex="80" layout="row" hide show-gt-sm class="list-data">
                        <div flex="15" ng-click="vm.sortColumn('propertyType')" layout="row" layout-align="start start" style="cursor: pointer;">
                            <b>Property Type</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'propertyType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('dealType')" style="cursor: pointer;">
                            <b>Deal Type</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('sellerCompanies')" style="cursor: pointer;">
                            <b>Company</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'sellerCompanies'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('valuation')" layout="row" layout-align="end" style="cursor: pointer;">
                            <b>Est Deal Size</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'valuation'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('dealOffice')" style="cursor: pointer;">
                            <b>Deal Office</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealOffice'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('dealStatus')" style="cursor: pointer;">
                            <b>Status</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealStatus'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('launchDate')" style="cursor: pointer;">
                            <b>Pitch Date</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'launchDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                      
                        <div flex="10" ng-click="vm.sortColumn('updatedDate')" style="cursor: pointer;">
                            <b>Updated</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'updatedDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                       
                      
                    </div>
                </div>
            </section>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page container="#pitchesList" query-function="vm.getPitches" query-object="vm.queryObject">
                <md-list-item ng-repeat="pitch in vm.pitchesList.resources" class="md-no-style md-button md-ink-ripple" layout-fill>
                    <div layout="column" layout-gt-sm="row" ng-click="vm.selectRow(pitch,$event)" layout-wrap flex>
                        <div flex-gt-sm="20" layout="row" class="list-data">
                            <div class="starColumn">
                                <a>
                                    <i class="material-icons md-18" id="esx-watch">{{pitch.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            <div>
                                <a ui-sref="pitch.pitchSummary({pitchMentionId:pitch.dealMentionId})">
                                    {{pitch.dealName}}
                                </a>
                                <a hide-gt-sm class="md-secondary" aria-label="show details" ng-click="pitch.showDetails = !pitch.showDetails">
                                    <span class="fa" ng-class="pitch.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                                </a>
                            </div>
                        </div>
                        <div flex="80" layout="row" hide show-gt-sm class="list-data">
                            <div flex="15">
                                {{pitch.propertyType}}
                            </div>
                            <div flex="15" layout="row">
                                {{pitch.dealType}}
                            </div>
                            <div flex="15" layout="row">
                                {{pitch.sellerCompanies}}
                            </div>
                            <div flex="10" layout="row" layout-align="end">
                                {{pitch.valuation | largeCurrency}}
                            </div>
                            <div flex="15" layout="row">
                                {{pitch.dealOffice}}
                            </div>
                            <div flex="10" layout="row">
                                {{pitch.dealStatus}}
                            </div>
                            <div flex="10">
                                {{pitch.launchDate | date:'MM/dd/yy'}}
                            </div>
                            <div flex="10">
                                {{pitch.updatedDate | date:'MM/dd/yy'}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="pitch.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Name:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.dealName}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Property Type:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.propertyType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Type:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.dealType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Company/Contact:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.sellerCompanies}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Office:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.dealOffice}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Status:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.dealStatus}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Pitch Date:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.launchDate | date:'shortDate'}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Updated Date:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.updatedDate | date:'shortDate'}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Est Deal Size:</b></span>
                                <span flex="45" flex-offset="5">{{pitch.valuation | largeCurrency}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>