﻿<div layout="column">
    <!--question 1 -->
    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.state">
            <strong>DEAL STATUS:</strong>
            {{vm.deal.state}}
            <span ng-show="vm.deal.closeDate">
                -
                <strong>
                    <strong>CLOSE DATE:</strong>
                </strong>
                {{vm.deal.closeDate | date}}
            </span>
        </span>
    </div>

    <!--question 2 -->
    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.broker">
            <strong>BROKER:</strong>
            {{vm.deal.broker}}
        </span>
    </div>

    <!--question 3 -->
    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.dealTypes.length>0">
            <strong>DEAL TYPES:</strong>
            <i ng-repeat="type in vm.deal.dealTypes">{{type.typeName}} <span ng-show="!$last">, </span></i>
        </span>
    </div>


    <!--question 4 -->
    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.properties.length>0">
            <strong>DEAL PROPERTIES:</strong>
            <i ng-repeat="property in vm.deal.properties">{{property.propertyName}} <span ng-show="!$last">, </span></i>
        </span>
    </div>

    <!--question 2 -->
    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.borrowers.length>0">
            <strong>BORROWERS:</strong>
            <i ng-repeat="borrower in vm.deal.borrowers">{{borrower.company}} <span ng-show="!$last">, </span></i>
        </span>
    </div>

    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.lenders.length>0">
            <strong>LENDERS:</strong>
            <i ng-repeat="lender in vm.deal.lenders">{{lender.company}} <span ng-show="!$last">, </span></i>
        </span>
    </div>

    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.roles.length>0">
            <strong>{{vm.deal.roles[0].roleType | uppercase}}:</strong>
            <i ng-repeat="role in vm.deal.roles">{{role.company}} <span ng-show="!$last">, </span></i>
        </span>
    </div>

    <div layout="row" flex>
        <div flex="50" ng-show="vm.deal.confidentiality">
            <span class="md-subhead md-body-2">
                <strong>INTERNAL CONFIDENTIALITY:</strong>
                {{vm.deal.confidentiality}}
            </span>
        </div>
        <div flex="50" ng-show="vm.deal.stage">
            <span class="md-subhead md-body-2">
                <strong>DEAL STAGE:</strong>
                {{vm.deal.stage}}
            </span>
        </div>
    </div>

    <!--deal Team-->
    <div>
        <span class="md-subhead md-body-2" ng-show="vm.deal.team.length>0">
            <strong>TEAM MEMBERS:</strong>
            <i ng-repeat="member in vm.deal.team">{{member.fullName}} <span ng-show="!$last">, </span></i>
        </span>
    </div>

    <div layout="row" flex ng-show="vm.deal.pitch.pitchDate">
        <span class="md-subhead md-body-2">
            <strong>PITCH DATE:</strong>
            <span ng-show="vm.deal.pitch.pitchDateSelection === 'approximateDate'">Week of </span>
            {{vm.deal.pitch.pitchDate | date}}
        </span>
    </div>

    <div layout="row" flex>
        <div flex="50" ng-show="vm.deal.pitch.esgs">
            <span class="md-subhead md-body-2">
                <strong>ESGS:</strong>
                {{vm.deal.pitch.esgs}}
            </span>
        </div>
        <div flex="50" ng-show="vm.deal.pitch.competing">
            <span class="md-subhead md-body-2">
                <strong>COMPETITIVE:</strong>
                {{vm.deal.pitch.competing}}
            </span>
        </div>
    </div>

    <div layout="row" flex ng-show="vm.deal.pitch.competition.length>0">
        <span class="md-subhead md-body-2">
            <strong>COMPETITION:</strong>
            <i ng-repeat="company in vm.deal.pitch.competition">{{company.aliasName}}<span ng-show="!$last">, </span></i>
        </span>
    </div>

    <div layout="row" flex>
        <div flex="50" ng-show="vm.deal.packaging.pitch">
            <span class="md-subhead md-body-2">
                <strong>PITCHED:</strong>
                {{vm.deal.packaging.pitch}}
            </span>
        </div>
        <div flex="50" ng-show="vm.deal.package.pitchDate">
            <span class="md-subhead md-body-2">
                <strong>PITCH DATE:</strong>
                {{vm.deal.package.pitchDate | date}}
            </span>
        </div>
    </div>
    <div layout="row" flex ng-show="vm.deal.packaging.teaserDate">
        <span class="md-subhead md-body-2">
            <strong>TEASER DATE:</strong>
            <span ng-show="vm.deal.packaging.teaserApproximateDate">Week of </span>
            {{vm.deal.packaging.teaserDate | date}}
        </span>
    </div>
    <div layout="row" flex ng-show="vm.deal.package.legalEntity">
        <span class="md-subhead md-body-2">
            <strong>LEGAL ENTITY:</strong>
            {{vm.deal.package.legalEntity}}
        </span>
    </div>
    <div layout="row" flex ng-show="vm.showMap==true">
        <div id="map" class="property-add-map" ng-class="vm.mapClass" flex></div>
    </div>
</div>

