﻿<h5>Is there a legal entity is the client using on the retention agreement?</h5>
<md-radio-group ng-model="vm.deal.package.legal" ng-change="vm.form.stepThree.progress=100">
    <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
    <md-radio-button value="No" class="md-primary">No</md-radio-button>
    <md-radio-button value="Unknown" class="md-primary">Unknown</md-radio-button>
</md-radio-group>

<div layout="row" ng-show="vm.deal.package.legal==='Yes'" flex>
    <md-input-container flex>
        <label>Legal Entity</label>
        <input ng-model="vm.deal.package.legalEntity">
    </md-input-container>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.teaser.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.deal.package.legal"
               ng-href="#/deals/@TESTCDE1%7CD/summary">
        Finish
    </md-button>
</div>
<!--What legal entity is the client using on the retention agreement?
Choices:
Free text entry with drag and drop document upload
I don’t know
No retention agreement at this time-->
