﻿<!--<h5>Did we pitch?</h5>
<md-radio-group ng-model="vm.deal.packaging.pitch" ng-change="vm.checkPitchStatus()">
    <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
    <md-radio-button value="No" class="md-primary">No</md-radio-button>
</md-radio-group>


<div ng-show="vm.deal.packaging.pitch==='Yes'">
        <Strong>Pitch Date</Strong>
        <md-datepicker ng-model="vm.deal.package.pitchDate" md-placeholder="Enter pitch date" ng-change="vm.form.stepThree.progress=40"></md-datepicker>
</div>



<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionSeven.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.form.stepThree.progress>30 && vm.deal.packaging.pitch==='No'"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.dealTeam.html'">
        Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.form.stepThree.progress>30 && vm.deal.packaging.pitch==='Yes'"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.competing.html'">
        Continue
    </md-button>
</div>-->