﻿<h5>Did We Compete?</h5>
<md-radio-group ng-model="vm.deal.pitch.competing" ng-change="vm.checkPackagePitchCompetition()">
    <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
    <md-radio-button value="No" class="md-primary">No</md-radio-button>
</md-radio-group>


<div ng-show="vm.deal.pitch.competing==='Yes'">
    <h5>Against which companies?</h5>
    <md-autocomplete flex
                     md-no-cache
                     md-input-name="competition"
                     md-selected-item="vm.competition"
                     md-search-text="vm.competitionSearch"
                     md-selected-item-change="vm.addPackagePitchCompetition(item)"
                     md-items="item in vm.companyIntellisense(vm.competitionSearch)"
                     md-item-text="item.aliasName"
                     md-floating-label="Company Name*"
                     ng-model-options="{debounce: 250}"
                     md-autoselect="true"
                     required>
        <md-item-template>
            <span class="item-title">
                <span md-highlight-text="vm.competitionSearch">{{item.aliasName}}</span>
            </span>
        </md-item-template>
    </md-autocomplete>

    <div layout="row" ng-repeat="company in vm.deal.pitch.competition" flex>
        <span layout="row" layout-align="start start">
            <i class="material-icons" ng-click="vm.removeCompetition(company)">delete</i>
            {{company.aliasName}}
        </span>
    </div>
</div>


<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.didWePitch.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.deal.pitch.competition.length>0) || (vm.form.stepThree.progress >50)"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.dealTeam.html'">
        Continue
    </md-button>
</div>