﻿<h5>When is the pitch?</h5>
<md-radio-group ng-model="vm.deal.pitch.pitchDateSelection" ng-change="vm.selectPitchDateType()">
    <md-radio-button value="date">I know the exact date</md-radio-button>
    <md-radio-button value="approximateDate">I know the approximate date</md-radio-button>
    <md-radio-button value="unknown">I don't Know</md-radio-button>
</md-radio-group>

<div layout="row" flex style="margin-top: 25px;">
    <div ng-show="vm.deal.pitch.pitchDateSelection==='date'">
        <strong>Select Date</strong>
        <md-datepicker
            ng-change="vm.derivePitchDates()"
            ng-model="vm.deal.pitch.pitchExactDate"
            md-placeholder="Enter end date">
        </md-datepicker>
    </div>

    <div ng-show="vm.deal.pitch.pitchDateSelection==='approximateDate'">
        <strong>The week of...</strong>
        <md-datepicker
            ng-change="vm.derivePitchDates()"
            ng-model="vm.deal.pitch.approximateDate" 
            md-placeholder="Enter end date"></md-datepicker>
    </div>
</div>

<div flex layout="row" layout-align="end center"  style="margin-top: 25px;">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.pitching.dealTeam.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.deal.pitch.pitchDate"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.pitching.esgs.html'">
        Continue
    </md-button>
</div>