﻿<h5>Who is on the deal team?</h5>
<md-autocomplete flex
                 md-floating-label="Team Member"
                 md-selected-item-change="vm.selectTeamMember(item)"
                 md-search-text="vm.teamSearch"
                 md-items="item in vm.findContacts(vm.teamSearch)"
                 md-item-text="item.fullName"
                 md-delay="200"
                 md-input-minlength="2"
                 md-input-maxlength="200">
    <md-item-template>
        <span md-highlight-text="vm.teamSearch" md-highlight-flags="^i">{{item.fullName}}</span>
    </md-item-template>
</md-autocomplete>

<div layout="row" flex ng-show="vm.deal.team.length>0">
    <div flex="50"><strong>Member</strong></div>
    <div flex="25"><strong>Deal Leader</strong></div>
    <div flex="25"><strong>Deal Manager</strong></div>
</div>
<div layout="row" ng-repeat="member in vm.deal.team" flex>
    <span layout="row" layout-align="start start" flex="50">
        <i class="material-icons" ng-click="vm.removeTeamMember(member)">delete</i>
        {{member.fullName}}
    </span>
    <span flex="25">
        <md-checkbox ng-model="member.lead" aria-label="Deal Lead" ng-click="vm.updateLead(member)">
        </md-checkbox>
    </span>
    <span flex="25">
        <md-checkbox ng-model="member.manager" aria-label="Deal Manager" ng-click="vm.updateManager(member)">
        </md-checkbox>
    </span>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.competing.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.deal.pitch.competition.length>0) || (vm.form.stepThree.progress >55)"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.teaser.html'">
        Continue
    </md-button>
</div>
