﻿<h5>When is the teaser expected to launch?</h5>
<div layout="row" flex style="margin-top: 25px;">
    <md-radio-group ng-model="vm.deal.packaging.teaserDateSelection" ng-change="vm.selectTeaserDateType()">
        <md-radio-button value="date">I know the exact date</md-radio-button>
        <md-radio-button value="approximateDate">I know the approximate date</md-radio-button>
        <md-radio-button value="unknown">I don't Know</md-radio-button>
    </md-radio-group>
</div>

<div layout="row" flex style="margin-top: 25px;">
    <div ng-show="vm.deal.packaging.teaserDateSelection==='date'">
        <strong>Select Date</strong>
        <md-datepicker ng-change="vm.deriveTeaserPitchDates()"
                       ng-model="vm.deal.packaging.teaserExactDate"
                       md-placeholder="Enter end date">
        </md-datepicker>
    </div>

    <div ng-show="vm.deal.packaging.teaserDateSelection==='approximateDate'">
        <strong>The week of...</strong>
        <md-datepicker ng-change="vm.deriveTeaserPitchDates()"
                       ng-model="vm.deal.packaging.teaserApproximateDate"
                       md-placeholder="Enter end date"></md-datepicker>
    </div>
</div>


<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.dealTeam.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.deal.packaging.teaserDate"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.legal.html'">
        Continue
    </md-button>
</div>