﻿<h5>Is ESGS needed?</h5>
<md-radio-group ng-model="vm.deal.pitch.esgs" ng-change="vm.form.stepThree.progress=80">
    <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
    <md-radio-button value="No" class="md-primary">No</md-radio-button>
</md-radio-group>


<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.pitching.pitchDate.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.deal.team.length>0"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.pitching.competing.html'">
        Continue
    </md-button>
</div>