﻿<h5 ng-show="vm.deal.dealTypes.length<1">Please identify the transaction type</h5>

<div ng-show="vm.deal.state==='Active'">
    <div ng-show="vm.deal.dealTypes.length<1">
        <md-radio-group ng-model="vm.deal.primaryDealType" ng-repeat="type in vm.dealTypes">
            <md-radio-button value="{{type.typeId}}" class="md-primary" ng-click="vm.createSecondaryDealTypes(type)">{{type.typeName}}</md-radio-button>
        </md-radio-group>
    </div>
    <div ng-show="vm.deal.dealTypes.length>0" layout="row">
        <div flex="50">
            <div>
                <strong>Primary Deal Type</strong>
            </div>
            <div layout-margin>
                <md-checkbox ng-checked="true" class="md-primary" ng-click="vm.clearDealTypes()" aria-label="type.typeName">
                    {{vm.deal.dealTypes[0].typeName}}
                </md-checkbox>
            </div>
        </div>
        <div flex="50">
            <div>
                <strong>Possible deal types</strong>
            </div>
            <div ng-repeat="type in vm.secondaryDealTypes" layout-margin>
                <md-checkbox class="md-primary" ng-click="vm.addSecondaryDealType(type)" aria-label="type.typeName" ng-checked="vm.checkSecondaryDealTypes(type)">
                    {{ type.typeName }}
                </md-checkbox>
            </div>
        </div>
    </div>
</div>


<div ng-show="vm.deal.state==='Closed'">
    <div>
        <md-radio-group ng-model="vm.deal.primaryDealType" ng-repeat="type in vm.dealTypes">
            <md-radio-button value="{{type.typeId}}" class="md-primary" ng-click="vm.addDealType(type)">{{type.typeName}}</md-radio-button>
        </md-radio-group>
    </div>
</div>

<div flex layout="row" layout-align="end center" >
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionTwo.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.deal.dealTypes.length>0 && vm.deal.dealTypes[0].typeName!=='Investment Banking'"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFour.html'">
        Continue
    </md-button>

    <md-button class="md-raised md-primary"
               ng-show="vm.deal.dealTypes.length>0 && vm.deal.dealTypes[0].typeName==='Investment Banking'"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive.html'">
        Continue
    </md-button>

</div>