﻿<div layout-padding layout="column">
    <div>
        <h5>Is this an active/potential deal?</h5>
        <md-radio-group ng-model="vm.deal.state" ng-change="vm.selectDealState(vm.deal.state)">
            <md-radio-button value="Active" class="md-primary" ng-click="vm.deal.closeDate=null">Yes</md-radio-button>
            <md-radio-button value="Closed">No</md-radio-button>
        </md-radio-group>
    </div>
    <div ng-show="vm.deal.state==='Closed'">
        <h5>When did the deal close?</h5>
        <md-datepicker
            ng-model="vm.deal.closeDate"
            md-placeholder="Enter date"
            ng-change="vm.form.stepOne.progress = 100">
        </md-datepicker>
    </div>
    <div flex layout="row" layout-align="end center" ng-show="vm.deal.state==='Active' || vm.deal.closeDate">
        <md-button class="md-raised md-primary"
                   ng-click="vm.moveToStepTwo()">
            Continue
        </md-button>
    </div>
</div>





 
