﻿<h5>What stage of the deal are we in?</h5>
<md-radio-group ng-model="vm.deal.stage" ng-change="vm.selectStage()">
    <md-radio-button value="Targeting" class="md-primary">Targeting</md-radio-button>
    <md-radio-button value="Pitching" class="md-primary">Pitching</md-radio-button>
    <md-radio-button value="Packaging" class="md-primary">Packaging</md-radio-button>
</md-radio-group>

<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionSix.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepThree.progress>20) && (vm.deal.stage==='Targeting')"
               ng-href="#/deals/@TESTCDE1%7CD/summary">
        Finish
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepThree.progress>20) && (vm.deal.stage==='Pitching')"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.pitching.dealTeam.html'">
        Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepThree.progress>20) && (vm.deal.stage==='Packaging')"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/onboarding.packaging.didWePitch.html'">
        Continue
    </md-button>
</div>