﻿<h5>Will this deal require heightened internal confidentiality?</h5>
<md-radio-group ng-model="vm.deal.confidentiality" ng-change="vm.form.stepThree.progress=20">
    <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
    <md-radio-button value="No" class="md-primary">No</md-radio-button>
</md-radio-group>

<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.form.stepThree.progress>0"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionSeven.html'">
        Continue
    </md-button>
</div>