﻿<!--conditional based on deal state-->
<!--todo use temlates here--> 
<div ng-show="vm.deal.state==='Closed'">
    <h5>
        Please identify the borrowers
    </h5>
    <md-autocomplete flex
                     ng-show="vm.showNewBorrowerInput===false"
                     md-no-cache
                     md-input-name="matchedRole"
                     md-selected-item="vm.matchedBorrower"
                     md-search-text="vm.selectedBorrower"
                     md-selected-item-change="vm.selectBorrower(item,vm.getRoleLabel(vm.deal.dealTypes[0].typeName))"
                     md-items="item in vm.companyIntellisense(vm.selectedBorrower)"
                     md-item-text="item.aliasName"
                     md-floating-label="Company Name*"
                     ng-model-options="{debounce: 250}"
                     md-autoselect="true"
                     required>
        <md-item-template>
            <span class="item-title">
                <span md-highlight-text="vm.selectedBorrower">{{item.aliasName}}</span>
            </span>
        </md-item-template>
        <md-not-found>
            No companies matching "{{vm.selectedBorrower}}" were found.
            <a ng-click="vm.setUpBorrower()">Create One!</a>
        </md-not-found>
    </md-autocomplete>

    <div flex layout="row" ng-show="vm.showNewBorrowerInput===true">
        <md-input-container class="md-block" flex="70">
            <label>Add Company</label>
            <input ng-model="vm.newBorrower">
        </md-input-container>
        <span flex="30" layout="column" layout-align="center start" layout-margin>
            <md-button class="md-icon-button md-primary"
                       aria-label="Add Company"
                       ng-disabled="vm.newBorrower.length<2"
                       ng-click="vm.addNewBorrower(vm.getRoleLabel(vm.deal.dealTypes[0].typeName))">
                <i class="material-icons">done</i>
            </md-button>
        </span>
    </div>


    <div layout="row" ng-show="vm.deal.borrowers.length>1">
        <span><strong>Company</strong></span>
    </div>
    <div layout="row" layout-align="start start" ng-repeat="role in vm.deal.borrowers">
        <i class="material-icons" ng-click="vm.removeBorrower(role)">delete</i>
        {{role.company}}
    </div>



    <div ng-show="vm.form.stepTwo.progress>=75" style="margin-top:45px">
        <h5>
            Please identify the Lenders
        </h5>
        <md-autocomplete flex
                         md-no-cache
                          ng-show="vm.showNewLenderInput===false"
                         md-input-name="matchedRole"
                         md-selected-item="vm.matchedLender"
                         md-search-text="vm.selectedLender"
                         md-selected-item-change="vm.selectLender(item,vm.getRoleLabel(vm.deal.dealTypes[0].typeName))"
                         md-items="item in vm.companyIntellisense(vm.selectedLender)"
                         md-item-text="item.aliasName"
                         md-floating-label="Company Name*"
                         ng-model-options="{debounce: 250}"
                         md-autoselect="true"
                         required>
            <md-item-template>
                <span class="item-title">
                    <span md-highlight-text="vm.selectedLender">{{item.aliasName}}</span>
                </span>
            </md-item-template>
            <md-not-found>
                No companies matching "{{vm.selectedLender}}" were found.
                <a ng-click="vm.setUpLender()">Create One!</a>
            </md-not-found>
        </md-autocomplete>

        <div ng-show="vm.showNewLenderInput===true" layout="row">
            <md-input-container class="md-block" flex="70">
                <label>Add Company</label>
                <input ng-model="vm.newLender">
            </md-input-container>
            <span flex="30" layout="column" layout-align="center start" layout-margin>
                <md-button class="md-icon-button md-primary"
                           aria-label="Add Company"
                           ng-disabled="vm.newLender.length<2"
                           ng-click="vm.addNewLender(vm.getRoleLabel(vm.deal.dealTypes[0].typeName))">
                    <i class="material-icons">done</i>
                </md-button>
            </span>
        </div>
        <div layout="row" ng-show="vm.deal.lenders>1">
            <span><strong>Company</strong></span>
        </div>
        <div layout="row" layout-align="start start" ng-repeat="lender in vm.deal.lenders">
            <i class="material-icons" ng-click="vm.removeLender(lender)">delete</i>
            {{lender.company}}
        </div>
    </div>
</div>



<div ng-show="vm.deal.state==='Active'">
    <h5>
        Please identify the {{vm.getRoleLabel(vm.deal.dealTypes[0].typeName)}}
    </h5>
    <md-autocomplete flex
                     ng-show="(vm.showNewCompanyInput===false)  && (vm.showRoleContacts===false)"
                     md-no-cache
                     md-input-name="matchedRole"
                     md-selected-item="vm.matchedCompany"
                     md-search-text="vm.selectedCompany"
                     md-selected-item-change="vm.selectRole(item,vm.getRoleLabel(vm.deal.dealTypes[0].typeName))"
                     md-items="item in vm.companyIntellisense(vm.selectedCompany)"
                     md-item-text="item.aliasName"
                     md-floating-label="Company Name*"
                     ng-model-options="{debounce: 250}"
                     md-autoselect="true"
                     required>
        <md-item-template>
            <span class="item-title">
                <span md-highlight-text="vm.selectedCompany">{{item.aliasName}}</span>
            </span>
        </md-item-template>
        <md-not-found>
            No companies matching "{{vm.matchedRole}}" were found.
            <a ng-click="vm.setUpCompanyRole()">Create One!</a>
        </md-not-found>
    </md-autocomplete>
</div>
<!--end conditional-->

<div flex layout="row" ng-show="(vm.showNewCompanyInput===true)  && (vm.showRoleContacts===false)">
    <md-input-container class="md-block" flex="70">
        <label>Add Company</label>
        <input ng-model="vm.newCompany" ng-change="vm.checkCompanyText()">
    </md-input-container>
    <span flex="30" layout="column" layout-align="center start" layout-margin>
        <md-button class="md-icon-button md-primary"
                   aria-label="Add Company"
                   ng-disabled="vm.newCompany.length<2"
                   ng-click="vm.addNewCompany(vm.getRoleLabel(vm.deal.dealTypes[0].typeName))">
            <i class="material-icons">done</i>
        </md-button>
    </span>
</div>

<div ng-show="(vm.deal.broker!=='EASTDIL') && vm.deal.roles.length<1" style="margin-top: 40px">
    <md-checkbox ng-model="vm.deal.roleUnknown"
                 aria-label="Will be invoiced"
                 ng-click="vm.unknownRoles()">
         I don't know
    </md-checkbox>
</div>

<div ng-show="(vm.deal.roles.length>0) && (vm.showRoleContacts===false)">
    <div layout="row" flex>
        <div flex="20"><strong>Company</strong></div>
        <div flex="20" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"><strong>Will be invoiced</strong></div>
        <div flex="20" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"><strong>Multiplier effect likely</strong></div>
        <div flex="20" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"><strong>Strategically important</strong></div>
        <div flex="20" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"><strong>Contacts</strong></div>
    </div>
    <div layout="row" ng-repeat="role in vm.deal.roles" flex style="margin-top: 7px;">
        <div flex="20" layout="row" layout-align="start start">
            <i class="material-icons" ng-click="vm.removeCompany(role)">delete</i>
            {{role.company}}
        </div>
        <div flex="20">
            <md-checkbox ng-model="role.willInvoice"
                         ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"
                         aria-label="Will be invoiced">
            </md-checkbox>
        </div>
        <div flex="20">
            <md-checkbox ng-model="role.multiplier"
                         ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"
                         aria-label="Multiplier effect likely">
            </md-checkbox>
        </div>
        <div flex="20">
            <md-checkbox ng-model="role.strategicallyImportant"
                         ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"
                         aria-label="Strategically important">
            </md-checkbox>
        </div>
        <div flex="20" layout="row" layout-align="start start" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')">
            <i class="material-icons"
               ng-click="vm.editRoleContacts(role)">
                mode_edit
            </i>
            <span>({{role.contacts.length}})</span>
        </div>
    </div>
</div>


<div ng-show="vm.showRoleContacts===true" flex>

    <!--TODO make this a template-->
    <md-autocomplete flex
                     ng-show="(vm.selectedContact == null) && (vm.showNewCompanyContact===false)"
                     md-floating-label="Contact Name*"
                     md-selected-item-change="vm.selectContact(item)"
                     md-search-text="vm.contact.contactName"
                     md-items="item in vm.findContacts(vm.contact.contactName)"
                     md-item-text="item.fullName"
                     md-delay="200"
                     md-input-minlength="2"
                     md-input-maxlength="200">
        <md-item-template>
            <span md-highlight-text="vm.contact.contactName" md-highlight-flags="^i">{{item.fullName}}</span>
        </md-item-template>
        <md-not-found>
            No contacts matching "{{vm.contact.contactName}}" were found.
            <a ng-click="vm.setUpNewCompanyContact()">Create One!</a>
        </md-not-found>
    </md-autocomplete>

    <div ng-show="vm.showNewCompanyContact===true" layout="row" flex>
        <md-input-container class="md-block" flex="70">
            <label>Add Contact</label>
            <input ng-model="vm.newCompanyContact" ng-change="vm.checkCompanyContactText()">
        </md-input-container>
        <span flex="30" layout="column" layout-align="center start" layout-margin>
            <md-button class="md-icon-button md-primary"
                       aria-label="Add Contact"
                       ng-disabled="vm.companyContactTextDisabled"
                       ng-click="vm.addNewCompanyContact()">
                <i class="material-icons">done</i>
            </md-button>
        </span>
    </div>

    <div ng-repeat="contact in vm.selectedRole.contacts">
        <span>
            <i class="material-icons" ng-click="vm.removeContact(contact)">delete</i>
            {{contact.fullName}}
        </span>
    </div>

    <div flex layout="row" layout-align="end center" style="margin-top: 25px">
        <md-button class="md-raised md-primary"
                   ng-click="vm.showRoleContacts=false">
            Done
        </md-button>
    </div>
</div>

<div flex layout="row" layout-align="end center" style="margin-top: 25px">
    <md-button class="md-raised md-primary"
               ng-show="vm.showRoleContacts===false"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFour.html'">
        Previous
    </md-button>
   
     <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepTwo.progress>60) && (vm.showRoleContacts===false) && (vm.deal.dealTypes[0].typeName!=='Loan Sale') && (vm.deal.broker==='EASTDIL') && (vm.deal.state==='Active')"
               ng-click="vm.moveToStepThree()">
        Continue
    </md-button>


    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepTwo.progress>60) && (vm.showRoleContacts===false) && (vm.deal.dealTypes[0].typeName!=='Loan Sale') && (vm.deal.broker==='EASTDIL') && (vm.deal.state==='Closed')"
               ng-href="#/deals/@TESTCDE1%7CD/summary">
        Save
    </md-button>

    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepTwo.progress>60) && (vm.showRoleContacts===false) && (vm.deal.dealTypes[0].typeName==='Loan Sale') && (vm.deal.broker==='EASTDIL') && (vm.deal.state==='Active')"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive1.html'">
        Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepTwo.progress>60) && (vm.showRoleContacts===false)  && (vm.deal.broker!=='EASTDIL') && (vm.deal.dealTypes[0].typeName==='Loan Sale')"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive1.html'">
        Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.form.stepTwo.progress>60) && (vm.showRoleContacts===false)  && (vm.deal.broker!=='EASTDIL') && (vm.deal.dealTypes[0].typeName!=='Loan Sale')"
               ng-href="#/deals/@TESTCDE1%7CD/summary">
        Save
    </md-button>
</div>