﻿
<h5>Is someone other than EASTDIL brokering this deal?</h5>
<md-radio-group ng-model="vm.deal.isEastdil" ng-change="vm.selectBroker(vm.deal.isEastdil)">
    <md-radio-button value="No" class="md-primary">No</md-radio-button>
    <md-radio-button value="Yes">Yes</md-radio-button>
    <md-radio-button value="Unknown">I'm not sure</md-radio-button>
</md-radio-group>

<!--<div layout="row" layout-align="start center" layout-margin ng-show="vm.showBrokerAutoComplete==false && vm.deal.brokerUnknown!==true">
    <i class="material-icons" ng-click="vm.showBrokerAutoComplete=true">mode_edit</i><span class="md-title">{{vm.deal.broker}}</span>
</div>-->

<div ng-show="vm.showBrokerAutoComplete===true">
    <h5>Please select a broker</h5>
    <div>
        <md-autocomplete flex
                         md-no-cache
                         md-input-name="Broker"
                         md-selected-item="vm.matchedBroker"
                         md-search-text="vm.selectedBroker"
                         md-selected-item-change="vm.selectCompany(item)"
                         md-items="item in vm.companyIntellisense(vm.selectedBroker)"
                         md-item-text="item.aliasName"
                         md-floating-label="Company Name*"
                         ng-model-options="{debounce: 250}"
                         md-autoselect="true"
                         required>
            <md-item-template>
                <span class="item-title">
                    <span md-highlight-text="vm.selectedBroker">{{item.aliasName}}</span>
                </span>
            </md-item-template>
        </md-autocomplete>
    </div>
</div>
<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.moveToStepOne()">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-click="vm.setBroker()"
               ng-show="vm.hasBroker===true">
        Continue
    </md-button>
</div>
