﻿<h5>Please identify the involved loans</h5>
<md-autocomplete flex
                 ng-show="vm.showNewLoanForm===false" 
                 md-no-cache
                 md-input-name="loans"
                 md-selected-item="vm.selectedLoan"
                 md-input-maxlength="300"
                 md-selected-item-change="vm.selectLoan(loan)"
                 md-search-text="vm.loanSearchText"
                 md-items="loan in vm.searchLoans(vm.loanSearchText)"
                 md-item-text="loan.loanName"
                 md-floating-label="Loan"
                 ng-model-options="{debounce: 250}">
    <md-item-template>
        <span md-highlight-text="vm.loanSearchText">{{loan.loanName}}</span>
    </md-item-template>
    <md-not-found>
        No loans matching "{{vm.loanSearchText}}" were found.
        <a ng-click="vm.createNewLoan()">Create One!</a>
    </md-not-found>
</md-autocomplete>


<div ng-show="vm.showNewLoanForm===true" layout="row" flex>
    <md-input-container class="md-block" flex="70">
        <label>Add New Loan</label>
        <input ng-model="vm.newLoanName" ng-change="vm.checkNewLoanText()">
    </md-input-container>
    <span flex="30" layout="column" layout-align="center start" layout-margin>
        <md-button class="md-icon-button md-primary"
                   aria-label="Add Loan"
                   ng-disabled="vm.newLoanAddDisabled"
                   ng-click="vm.addNewLoan()">
            <i class="material-icons">done</i>
        </md-button>
    </span>
</div>



<div ng-repeat="loan in vm.deal.loans" flex>
    <span layout="row" layout-align="start start">
            <i class="material-icons" ng-click="vm.removeLoan(loan)">delete</i>
            {{loan.loanName}}
        </span>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.deal.loans.length>0) && (vm.deal.broker==='EASTDIL')"
               ng-click="vm.moveToStepThree()">
        Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.deal.loans.length>0) && (vm.deal.broker!=='EASTDIL')"
                ng-href="#/deals/@TESTCDE1%7CD/summary">
       Save
    </md-button>
</div>