﻿<h5>What is the current deal status?</h5>
<md-radio-group ng-model="vm.deal.status" ng-repeat="type in vm.dealStatusTypes">
    <md-radio-button value="{{type.typeName}}" class="md-primary">{{type.typeName}}</md-radio-button>
</md-radio-group>

<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.deal.status) && (vm.deal.dealTypes[0].typeName!=='Loan Sale')"
               ng-click="vm.moveToStepThree()">
        Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="(vm.deal.status) && (vm.deal.dealTypes[0].typeName==='Loan Sale')"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive1.html'">
        Continue
    </md-button>
</div>