﻿<div ng-show="vm.deal.dealTypes[0].typeName==='Non-transactional Advisory'">
    <h5>Would you like to build a list of properties related to ths deal?</h5>
    <md-radio-group ng-model="vm.buildPropertyList">
        <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
        <md-radio-button value="No">No</md-radio-button>
    </md-radio-group>
</div>
<div ng-show="(vm.deal.dealTypes[0].typeName==='Non-transactional Advisory' && vm.buildPropertyList==='Yes') || vm.deal.dealTypes[0].typeName!=='Non-transactional Advisory'">
    <h5>Build a list of properties related to this deal</h5>
    <md-autocomplete flex
                     ng-show="vm.showGoogleAutoComplete===false"
                     md-no-cache vm.propertyIntellisense
                     md-input-name="matchedProperty"
                     md-selected-item="vm.matchedProperty"
                     md-search-text="vm.searchedProperty"
                     md-selected-item-change="vm.selectProperty(item)"
                     md-items="item in vm.propertyIntellisense(vm.searchedProperty)"
                     md-item-text="item.propertyName"
                     md-floating-label="Property Name*"
                     ng-model-options="{debounce: 250}"
                     md-autoselect="true"
                     required>
        <md-item-template>
            <span class="item-title">
                <span md-highlight-text="vm.searchedProperty">{{item.propertyName}}</span>
            </span>
        </md-item-template>
        <md-not-found>
            No properties matching "{{vm.searchedProperty}}" were found.
            <a ng-click="vm.setUpMap()">Create One!</a>
        </md-not-found>
    </md-autocomplete>
    `
    <md-input-container class="md-block">
        <input ng-if="vm.showGoogleAutoComplete===true"
               ng-model="vm.property.propertyAddress"
               placeholder=""
               aria-label="{{vm.property.propertyAddress}}"
               id="autocomplete">
    </md-input-container>

   
    <div ng-show="vm.deal.properties.length>0">
        <div layout="row" flex>
            <strong flex="50">Properties</strong>
            <span flex="25" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')">Multiplier effect likely</span>
            <span flex="25" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')">Strategically important</span>
        </div>
        <div layout="row" ng-repeat="property in vm.deal.properties" flex>
            <span flex="50">
                <i class="material-icons" ng-click="vm.removeProperty(property)">delete</i>
                {{property.propertyName}}
            </span>
            <span flex="25" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')">
                <md-checkbox ng-model="property.multiplier" aria-label="Multiplier effect likely">
                </md-checkbox>
            </span>
            <span flex="25" ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')">
                <md-checkbox ng-model="property.strategicallyImportant" aria-label="Strategically important">
                </md-checkbox>
            </span>
        </div>
    </div>
 

</div>

<div flex layout="row" layout-align="end center" style="padding-top: 20px;">
    <md-button class="md-raised md-primary"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionThree.html'">
        Previous
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.deal.properties.length>0"
               ng-click="vm.form.currentQuestion='app/deals/addDeal/templates/questionFive.html'">
        Continue
    </md-button>
</div>

<!--Optional if deal type is “Non-Transactional Advisory”
Build a list of properties (two options):
Map search (as we’ve been discussing, zoom to display available records)
Autocomplete on park name and property name/address.
In either case, ability to add/remove individual properties
Only if Step 1 is active/potential AND broker is Eastdil, option to designate one or more (or all) properties as “Multiplier effect likely” (label)
Only if Step 1 is active/potential AND broker is Eastdil, option to designate one or more (or all) properties as “Strategically important”  (label)
If ESX database doesn’t contain the necessary properties, there needs to be an option to “Add new…” routing to Property Add Wizard-->

