﻿
<div layout="row" style="position: absolute; top: 0; left: 0; width: 100%; height: 200px;">
    <div class="property-image">
        <img src="content/images/building.jpg" width="200" height="170" style="margin: 5px;" />
    </div>
    <div style="margin-left: 10px; margin-top: 15px;" layout="column">
        <div class="raised">
            <h1>
                    Deal Header
            <!--{{vm.dealSummary.dealName}}-->
            </h1>
        </div>
        <!--<div class="raised" ng-if="vm.dealSummary.properties.length === 1">
            <h6 ng-if="vm.dealSummary.properties[0].physicalAddress.countryKey == vm.country.usa">
                {{vm.dealSummary.properties[0].physicalAddress.address1}} {{vm.dealSummary.properties[0].physicalAddress.city}},
                {{vm.dealSummary.properties[0].physicalAddress.stateProvidenceCode}} {{vm.dealSummary.properties[0].physicalAddress.postalCode}}
            </h6>
            <h6 ng-if="vm.dealSummary.properties[0].physicalAddress.countryKey != vm.country.usa">
                {{vm.dealSummary.properties[0].physicalAddress.city}}, {{vm.dealSummary.properties[0].physicalAddress.country}}
            </h6>
            <h6>{{vm.dealSummary.properties[0].size}} {{vm.dealSummary.properties[0].sizeUnits}}</h6>
        </div>
        <div class="raised" ng-if="vm.dealSummary.properties.length > 1">
            <h6>
                <a ui-sref="deal.dealProperties">
                    <b>Properties: {{vm.dealSummary.properties.length}}</b>
                </a>

            </h6>
        </div>
        <div class="raised" ng-repeat="seller in vm.dealSummary.sellerCompanies">
            <h6>
                <a ui-sref="company.companySummary({companyId:seller.mentionId})">
                    <b>{{seller.aliasName}}</b>
                </a>
            </h6>
        </div>
        <div class="raised">
            <h6>
                <b>{{vm.dealSummary.dealCode}}</b>
            </h6>
        </div>
        <div class="raised">
            <h6>
                <b>{{vm.dealSummary.dealType}}</b>
            </h6>
        </div>
        <div class="raised">
            <h6>
                <b>Status: {{vm.dealSummary.dealStatus}}</b>
            </h6>
        </div>-->
    </div>
</div>
