﻿<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="wizard-header content-background-color">
    <div layout="row" layout-padding>
        <div layout="row" layout-align="center center" flex>
            <div class="wizard-step" layout="row" layout-align="center center" ng-class="vm.form.stepOne.background">
                <div ng-show="!vm.form.stepOne.edit">1</div>
                <div ng-show="vm.form.stepOne.edit==true" ng-click="vm.editStepOne()"><i class="material-icons">mode_edit</i></div>
            </div>
            <strong class="wizard-step-text" ng-class="vm.form.stepOne.text">Current or Historical</strong>
            <div class="wizard-step-connector" flex></div>
        </div>
        <div layout="row" layout-align="start center" flex>
            <div class="wizard-step" layout="row" layout-align="center center" ng-class="vm.form.stepTwo.background">
                <div ng-show="!vm.form.stepTwo.edit" ng-click="vm.moveToStepTwo()">2</div>
                <div ng-click="vm.moveToStepTwo()" ng-show="vm.form.stepTwo.edit==true"><i class="material-icons">mode_edit</i></div>
            </div>
            <div layout="column">
                <strong class="wizard-step-text" ng-class="vm.form.stepTwo.text">Deal Basics</strong>
                <span class="wizard-step-text" ng-class="vm.form.stepTwo.text">Optional</span>
            </div>
            <div class="wizard-step-connector" flex ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')"></div>
        </div>

        <div layout="row" layout-align="start center" flex ng-show="(vm.deal.state==='Active') && (vm.deal.broker==='EASTDIL')">
            <div class="wizard-step" layout="row" layout-align="center center" ng-class="vm.form.stepThree.background">
                <div ng-show="!vm.form.stepThree.edit" ng-click="vm.moveToStepThree()">3</div>
                <div ng-click="vm.moveToStepThree()" ng-show="vm.form.stepThree.edit==true"><i class="material-icons">mode_edit</i></div>
            </div>
            <div layout="column">
                <strong class="wizard-step-text" ng-class="vm.form.stepThree.text">Eastdil Deal Onboarding</strong>
                <span class="wizard-step-text" ng-class="vm.form.stepTwo.text">Optional</span>
            </div>
        </div>
    </div>
</div>



<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="wizard-container content-background-color">
    <div layout="row" flex>
        <md-progress-linear md-mode="determinate" value="{{vm.form.stepOne.progress}}" ng-show="vm.form.currentStep==1"></md-progress-linear>
        <md-progress-linear md-mode="determinate" value="{{vm.form.stepTwo.progress}}" ng-show="vm.form.currentStep==2"></md-progress-linear>
        <md-progress-linear md-mode="determinate" value="{{vm.form.stepThree.progress}}" ng-show="vm.form.currentStep==3"></md-progress-linear>
    </div>
    <div layout="row" flex layout-padding>
        <div flex="50" layout="column">
            <div ng-include="vm.form.currentQuestion" flex></div>
        </div>
        <div flex="50">
            <div ng-include="'app/deals/addDeal/templates/dealDetails.html'"></div>
        </div>
    </div>
</div>