﻿<md-content layout="column" flex flex-sm="90" flex-gt-sm="80" id="locationList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <div layout="row" layout-align="start center" class="content-background-color short-row">
                <md-button ng-href="#/companies/{{::vm.queryObject.companyId}}/locations/add" class="md-primary">
                    Add
                </md-button>
                <md-button class="md-primary">
                    Remove
                </md-button>
                <div flex layout="row" layout-align="end" layout-margin>
                    <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchLocations()" placeholder="Filter" class="pageFilterBox" />
                </div>
            </div>
            <md-divider class="subheader-divider"></md-divider>
            <div layout="row">
                <div flex flex-gt-sm="25" layout="row">
                    <div ng-click="vm.sortColumn('IsHeadquarters')" style="cursor: pointer;" class="iconColumn">
                        <i class="material-icons md-18">business</i>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsHeadquarters'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div ng-click="vm.sortColumn('Name')" style="cursor: pointer;">
                        <b>Name</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Name'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
                <div flex="75" layout="row" hide show-gt-sm>
                    <div flex="30" ng-click="vm.sortColumn('Address')" style="cursor: pointer;">
                        <b>Address</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Address'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('City')" style="cursor: pointer;">
                        <b>City</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'City'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('StateProvince')" style="cursor: pointer;">
                        <b>State/Province</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'StateProvince'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="15" ng-click="vm.sortColumn('Phone')" style="cursor: pointer;">
                        <b>Phone</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Phone'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="15" layout="row" layout-align="end start" ng-click="vm.sortColumn('Contacts')" style="cursor: pointer;">
                        <b>Contacts</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Contacts'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
            </div>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page container="#locationList" query-function="vm.getLocations" query-object="vm.queryObject" paging-data-watch="vm.locationsList.pagingData">
                <md-list-item ng-repeat="location in vm.locationsList.resources" ng-click="vm.selectRow(location)">
                    <div layout="column" layout-gt-sm="row" layout-wrap flex>
                        <div flex-gt-sm="25" layout="row">
                            <div class="iconColumn">
                                <i class="material-icons md-18" ng-show="location.isHeadquarters" title="Headquarters">business</i>
                            </div>
                            {{location.name}}
                            <a hide-gt-sm class="md-secondary" ng-click="location.showAddress = !location.showAddress">
                                <span class="fa" ng-class="location.showAddress ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="75" layout="row" hide show-gt-sm>
                            <div flex="30">
                                {{location.address}}
                            </div>
                            <div flex="20">
                                {{location.city}}
                            </div>
                            <div flex="20">
                                {{location.stateProvince}}
                            </div>
                            <div flex="15">
                                {{location.phone}}
                            </div>
                            <div flex="15" layout="row" layout-align="end">
                                {{location.contacts}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="location.showAddress">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Address:</b></span>
                                <span flex="45" flex-offset="5">{{location.address}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>City:</b></span>
                                <span flex="45" flex-offset="5">{{location.city}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>State/Province:</b></span>
                                <span flex="45" flex-offset="5">{{location.stateProvince}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Phone:</b></span>
                                <span flex="45" flex-offset="5">{{location.phone}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Contacts:</b></span>
                                <span flex="45" flex-offset="5">{{location.contacts}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>
