﻿<div layout="row" flex flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80">
    <div flex>
        <md-card>
            <span layout-margin>
                <div flex>
                    <h1>Add Company Location</h1>
                </div>
                <div flex>* = Required Field</div>
            </span>
            <div layout-padding>
                <form name="locationAdd" ng-submit="vm.addCompanyLocation(locationAdd, vm.location)" novalidate>
                    <section flex>
                        <div layout-gt-sm="row" layout-sm="column">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Name</label>
                                <input md-maxlength="200" name="name" ng-model="vm.location.name" />
                                <div ng-messages="locationAdd.name.$error">
                                    <div ng-message="md-maxlength">The name has to be less than 200 characters long.</div>
                                </div>
                            </md-input-container>
                            <div flex-gt-sm="55"></div>
                        </div>

                        <div layout-gt-sm="row" layout-sm="column">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Phone</label>
                                <input name="phone" ng-model="vm.location.phone" />
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                                <label>Country*</label>
                                <md-select ng-model="vm.location.countryKey" name="country" required>
                                    <md-option ng-repeat="item in vm.countries" value="{{item.countryKey}}">
                                        {{item.countryName}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="locationAdd.country.$error" ng-if="locationAdd.country.$touched || locationAdd.$submitted">
                                    <div ng-message="required">Country is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" layout-sm="column">
                            <md-autocomplete class="md-block" flex-gt-sm="50"
                                             md-no-cache
                                             md-input-name="matchedAddress"
                                             md-selected-item="vm.matchedAddress"
                                             md-selected-item-change="vm.selectedAddressChange(item)"
                                             md-search-text="vm.location.address1"
                                             md-items="item in vm.getCompanyLocations(vm.location.address1)"
                                             md-item-text="item.address1"
                                             md-floating-label="Street Address 1*"
                                             ng-model="vm.location.address1"
                                             ng-model-options="{debounce: 250}"
                                             name="address"
                                             required>
                                <md-item-template>
                                    <span class="item-title">
                                        <span md-highlight-text="vm.company.contactName">{{item.address}}</span>
                                    </span>
                                </md-item-template>

                                <div ng-messages="locationAdd.address.$error" ng-if="locationAdd.$submitted">
                                    <div ng-message="required">Address is required.</div>
                                </div>

                            </md-autocomplete>
                            <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                                <label>Street Address 2</label>
                                <input name="address2" ng-model="vm.location.address2" />
                                <div class="inputHelperText" ng-hide="vm.hasMoreLines || !vm.isUsa()">
                                    <a ng-click="vm.hasMoreLines = true">Show more address lines</a>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" layout-sm="column" ng-show="vm.location.countryKey > 0 && (vm.hasMoreLines || !vm.isUsa())">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Address 3</label>
                                <input type="text" name="locationAddress3" ng-model="vm.location.address3" maxlength="300" />
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                                <label>Address 4</label>
                                <input type="text" name="locationAddress4" ng-model="vm.location.address4" maxlength="300" />
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" layout-sm="column">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>City <span ng-show="!vm.isUsa()">or Locality</span>*</label>
                                <input required name="city" ng-model="vm.location.city" />
                                <div ng-messages="locationAdd.city.$error" ng-if="locationAdd.city.$touched || locationAdd.$submitted">
                                    <div ng-message="required">
                                        City <span ng-show="!vm.isUsa()">or Locality </span>is required.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                                <label>State <span ng-show="!vm.isUsa()"> or Province</span>*</label>
                                <md-select ng-model="vm.location.state" required name="state">
                                    <md-option ng-repeat="item in vm.stateList" value="{{item.stateProvinceCode}}">
                                        {{item.stateProvinceCode}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="locationAdd.state.$error" ng-if="locationAdd.state.$touched || locationAdd.$submitted">
                                    <div ng-message="required">
                                        State <span ng-show="!vm.isUsa()">or Province </span>is required.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" layout-sm="column">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Postal Code*</label>
                                <input required name="zip" ng-model="vm.location.zip" />
                                <div ng-messages="locationAdd.zip.$error" ng-if="userForm.zip.$touched || locationAdd.$submitted">
                                    <div ng-message="required">Postal Code is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                                <label>Website</label>
                                <input name="website" ng-model="vm.location.website" />
                            </md-input-container>
                        </div>
                    </section>
                    <section flex>
                        <div layout="row">
                            <md-input-container class="md-block" flex-gt-sm="100" flex="50">
                                <label>Primary: </label>
                                <md-radio-group ng-model="vm.location.primary" layout="row" flex-offset-xs="20" flex-offset-sm="15" flex-offset="5">
                                    <md-radio-button ng-repeat="item in vm.primaryOptions" ng-value="item.value" aria-label="{{ item.label }}">
                                        {{ item.label }}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-align="end center">
                            <md-button ui-sref="company.companyLocations({companyId: vm.companyMentionId})">Cancel</md-button>
                            <md-button type="submit">Save</md-button>
                        </div>

                        <div layout="row" layout-align="end center" ng-messages="vm.validationErrors" class="error">
                            <p>{{vm.validationErrors}}</p>
                        </div>
                    </section>
                </form>
            </div>
        </md-card>
    </div>
</div>


