﻿
<div layout="column" flex-xs="100" flex-md="80" flex-gt-md="80" md-whiteframe class="search-container content-background-color">
  
    <md-subheader class="list-view-header">
        <section>
            <div layout="row" layout-align="start center" class="content-background-color short-row">
                <div flex layout="row" layout-align="end" layout-margin>
                    <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.search()" placeholder="Filter" class="pageFilterBox" />
                </div>
            </div>
        </section>
        <md-divider class="subheader-divider"></md-divider>
        <section>
            <div style="padding-left: 10px;" layout="row">
                <div flex="20" layout="row" layout-align="start center">
                    Company
                </div>
                <div flex="30" layout="column" layout-align="start center">
                    Days since last reached
                </div>
                <div flex="30" layout="column" layout-align="start center">
                    CA's in my pipeline
                </div>
                <div flex="10" layout="column" layout-align="start center">
                    Need to call
                </div>                    
            </div>
        </section>
    </md-subheader>
    <md-divider></md-divider>
    <section layout-align="center start" class="content-color list-view">
        <div layout="row" layout-xs="column">
            <div flex-gt-xs layout="column">
                <md-list style="padding: 0;">
                    <md-list-item ng-repeat="company in vm.engageList.resources"
                                    class="esx-search-companies" md-ink-ripple="#000000" style="padding-right: 0;"
                                    ng-include="'app/engage/engageListRow.html'">
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </section>
  
</div>
