﻿<div layout-fill>
    <!---- Company stuff-->
    <div style="padding-left: 10px;" layout="row" flex layout-align="start center" class="" ng-click="vm.getCompanyEngageDetails(company.mentionID)">
        <div flex="20" layout="row" layout-align="start center">
            <h5>{{company.canonicalCompany}}</h5>
        </div>

        <div flex="30" layout="column" layout-align="start center">
            {{company.daysSinceLastReached}}
        </div>

        <div flex="30" layout="column" layout-align="start center">
            {{company.numberOfCasInPipeline}}
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <span ng-if="company.daysSinceLastReached > 3 || company.numberOfCasInPipeline > 0">
                <ng-md-icon icon="error" size="25" style="fill: red;"></ng-md-icon>
            </span>
        </div>

        <div flex></div>

        <div flex="10" layout="row" layout-align="end">
            <md-menu>
                <md-button aria-label="Options" class="md-icon-button  esx-search-contacts" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="vm.showStatusOptions('Decline', company)">Decline</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.showStatusOptions('Not Reached', company)">Not Reached</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.showStatusOptions('Deal Feedback', company)">Deal Feedback</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.showStatusOptions('Tour', company)">Tour</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.showStatusOptions('Bid Expected', company)">Bid Expected</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </div>
</div>
<md-divider></md-divider>
