﻿<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="search-container content-background-color">
    <div layout="row" layout-padding>
        <h5>{{vm.company.canonicalCompany}}</h5>
    </div>
    <md-divider></md-divider>
    <div layout="row">
        <div flex-gt-xs="25" layout="column">
            <div layout-padding>
                <md-input-container style="width: 95%;">
                    <label style="margin-left: 7px;">Filter all contacts (contact, deal)</label>
                    <input type="text" ng-model="vm.filterText" />
                </md-input-container>
            </div>
            <div layout-padding style="margin-left: 10px;">
                Primary Contacts
            </div>
            <md-list style="padding-bottom: 0;">
                <md-divider></md-divider>
                <md-list-item ng-repeat-start="contact in vm.company.contacts | filter:{fullName: vm.filterText}" ng-class="{'sidebar-item-active': vm.selectedContact.contactId === contact.contactId}" ng-click="vm.doStuff()" style="">
                    <p style="font-size: 16px; font-weight: bold;">
                        {{contact.fullName}}
                    </p>
                    <a ng-href="mailto:{{contact.emailAddress}}" style="margin-top: 10px;" ng-if="contact.emailAddress">
                        <ng-md-icon icon="email" size="30" style="margin-right: 15px;"></ng-md-icon>
                    </a>                    
                    <ng-md-icon icon="keyboard_arrow_right" size="20" style="margin-top: 10px;"></ng-md-icon>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
        </div>
        <div flex-gt-xs layout="column" style="border-left: 1px solid lightgray;">
            <div layout="row" style="border-bottom: 1px solid lightgray;">
                <md-list-item ng-repeat-start="deal in vm.deals.resources" ng-class="{'sidebar-item-active': vm.selectedDeal.dealID === deal.dealID}" ng-click="vm.doStuff()">
                    <div class="md-list-item-text">
                        <h5>{{deal.dealName}}</h5>
                        <p style="margin-left: 25px !important;">{{deal.dealStatus}}</p>
                    </div>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </div>
            <div layout="row" style="margin-left: 20px;">
                <div layout="column" flex>
                    <div layout="row" layout-padding>
                        <div style="font-size: 20px;">
                            <strong>{{vm.company.daysSinceLastReached}}</strong> business days since last reached
                        </div>
                    </div>
                    <div layout="row">
                        <md-button ng-click="vm.showStatusOptions('Decline', vm.company)" class="md-raised">Decline</md-button>
                        <md-button ng-click="vm.showStatusOptions('Not Reached', vm.company)" class="md-raised md-warn">Not Reached</md-button>
                        <md-button ng-click="vm.showStatusOptions('Deal Feedback', vm.company)" class="md-raised md-primary">Deal Feedback</md-button>
                        <md-button ng-click="vm.showStatusOptions('Tour', vm.company)" class="md-raised md-warn md-hue-2">Tour</md-button>
                        <md-button ng-click="vm.showStatusOptions('Bid Expected', vm.company)" class="md-raised md-primary md-hue-2">Bid Expected</md-button>
                    </div>
                    <div layout="row" layout-margin>
                        <div flex style="height: 200px; border: 1px solid lightgray;">
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="comment in vm.commentsList.resources">
                                    <div class="md-list-item-text" layout="column">
                                        <p ng-bind-html="comment.commentText"></p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div flex style="height: 200px; border: 1px solid lightgray;">
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="reminder in vm.remindersList.resources">
                                    <div class="md-list-item-text" layout="column">
                                        <p ng-bind-html="reminder.commentText"></p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <div layout="row" layout-padding style="margin-bottom: -10px;">
                        Deal Exhibits
                    </div>
                    <div layout="row" layout-padding>
                        <div ng-repeat="attachment in [1, 2, 3]" class="attachment-box" style="cursor: pointer;">
                            <div class="attachment-box-inner">Attachment {{attachment}}</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
