﻿<div layout="column" layout-padding layout-margin>
    <h5>{{vm.status}}</h5>
    <form name="filterForm" ng-submit="vm.apply(filterForm)">

        <div layout="row">
            <md-autocomplete md-floating-label="Contact Name (optional)"
                             md-selected-item-change="vm.selectContact(item)"
                             md-search-text="vm.searchText"
                             md-items="item in vm.findContacts(vm.searchText)"
                             md-item-text="item.fullName"
                             md-delay="200" flex="100">
                <md-item-template>
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.fullName}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>

        <div layout="row" style="margin-bottom: 15px;" ng-if="vm.status !== 'Not Reached'">
            <div layout="column">
                <div layout="row" ng-repeat="deal in vm.deals">
                    <md-checkbox ng-checked="deal.isSelected" ng-click="deal.isSelected = !deal.isSelected" flex="60">
                        {{deal.dealName}}
                    </md-checkbox>
                    <md-input-container style="margin-top: 0; margin-left: 20px;">
                        <label>Comment</label>
                        <input type="text" ng-model="deal.declineReason"/>
                    </md-input-container>
                    <span ng-if="vm.status === 'Deal Feedback'" es-reminder-pin mention-id="{{deal.dealMentionId}}" mention-label="{{deal.dealName}}" core-object-type="D" reminder-text="deal.dealName" style=""></span>                    
                </div>
            </div>
            <div ng-if="!vm.deals.length"><b>No Deals Found</b></div>
        </div>

        <div layout="row" ng-if="vm.status !== 'Bid Expected'" style="margin-top: 10px; margin-bottom: 15px;">            
            <md-datepicker name="statusDate" ng-model="vm.statusDate" md-placeholder="{{vm.status === 'Tour' ? 'Tour Date' : 'Back Date'}}" ng-required="vm.status === 'Tour'"></md-datepicker>                        
        </div>

        <div layout="row" style="margin-top: 30px;margin-bottom: 10px;" ng-if="vm.status === 'Not Reached'">            
            <label>Snooze</label>
            <span es-reminder-pin mention-id="{{vm.company.mentionID}}" mention-label="{{vm.company.canonicalCompany}}" core-object-type="A" reminder-text="vm.company.canonicalCompany" style="margin-top: -10px;"></span>           
        </div>

        <md-divider></md-divider>
        <div layout="row">
            <md-button type="submit" class="md-primary">
                OK
            </md-button>
            <md-button ng-click="vm.cancel()" class="md-primary">
                Cancel
            </md-button>
        </div>
    </form>
</div>
