﻿<div>
    <div class="card-content" layout-gt-md="row" flex>
        <md-card flex-gt-md="70" flex style="">
            <md-card-content style="padding-top: 0">
                <h2 class="md-title" style="padding-top: 0; padding-bottom: 0;">My Deals</h2>
                <md-divider></md-divider>
                <div layout="column" flex style="border-left: 5px solid green; margin-left: -16px; margin-bottom: -10px; padding-bottom: 10px;">
                    <div layout="row" flex class="gridRow" style="font-weight: bold; padding-left: 20px;">
                        <div flex="25" layout="row">Deal Name</div>
                        <div flex="25" layout="row">Deal Type</div>
                        <div flex="30" layout="row">Deal Status</div>
                        <div flex="20" layout="row">Current Bid</div>
                    </div>
                    <div layout="row" flex ng-repeat="deal in vm.myDeals" class="gridBody pad-top">
                        <div flex="25" layout="row">{{deal.dealName}}</div>
                        <div flex="25" layout="row">{{deal.dealType}}</div>
                        <div flex="25" layout="row">{{deal.dealStatus}}</div>
                        <div flex="15" layout="row" layout-align="end">{{deal.currentBid}}</div>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card flex-gt-md="30" flex>
            <md-card-content style="padding-top: 0; padding-bottom: 0;">
                <h2 class="md-title" style="padding-top: 0; padding-bottom: 0;">Notifications</h2>
                <md-divider></md-divider>
                <md-list>
                    <md-list-item style="padding-bottom: 10px;">
                        <div class="md-list-item-text red-notification">
                            <p class="pad-left">
                                <span class="underline">@MarkJohnson</span> submitted a new Company:
                            </p>
                            <p class="pad-left">
                                <span class="underline">#60Guilders.</span>&nbsp;
                                <span class="underline">View Entry</span>
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="padding-bottom: 10px;">
                        <div class="md-list-item-text red-notification">
                            <p class="pad-left">
                                <span class="underline">@ShannonChing</span> posted a comment on
                            </p>
                            <p class="pad-left">
                                <span class="underline">#60Guilders:</span> "Topping out in the high $50MM
                            </p>
                            <p class="pad-left">range."</p>
                        </div>
                    </md-list-item>
                    <md-list-item style="padding-bottom: 10px;">
                        <div class="md-list-item-text property-notification">
                            <p class="pad-left">
                                <span class="underline">@JenniferWhite</span> added 1 new image to
                            </p>
                            <p class="pad-left">
                                <span class="underline">#114FifthAve.</span>&nbsp;
                                <span class="underline">View Image</span>
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="padding-bottom: 10px;">
                        <div class="md-list-item-text loan-notification">
                            <p class="pad-left">
                                <span class="underline">@JohnBlake</span> posted a comment on
                            </p>
                            <p class="pad-left">
                                <span class="underline">#MillerHillMall:</span> "Please update interest rate to
                            </p>
                            <p class="pad-left">4.87%."</p>
                        </div>
                    </md-list-item>
                    <md-list-item style="padding-bottom: 10px;">
                        <div class="md-list-item-text office-notification">
                            <p class="pad-left">
                                <span class="underline">@ChrissyHiggins</span> added 2 new contacts under
                            </p>
                            <p class="pad-left">
                                <span class="underline">#RudinManagement</span>.
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div class="card-content" layout-gt-md="row">
        <md-card flex-gt-md="50" flex>
            <md-card-content style="padding-top: 0; padding-bottom: 0;">
                <h2 class="md-title" style="padding-top: 0; padding-bottom: 0;">Watchlist</h2>
                <md-divider></md-divider>
                <div layout="column" flex>
                    <div layout="row" flex ng-repeat="item in vm.watchList" class="gridBody pad-top" style="margin-bottom: 8px; padding-bottom: 8px;" ng-style="item.style">
                        <div flex="40" layout="row" style="margin-top: -10px;">{{item.name}}</div>
                        <div flex="40" layout="row" style="margin-top: -10px;">{{item.status}}</div>
                        <div flex="20" layout="row" ng-if="item.hasUpdate" style="margin-top: -10px;"><b>1 Update</b></div>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card flex-gt-md="20" flex="50">
            <md-card-content style="padding-top: 0; padding-bottom: 0;">
                <h2 class="md-title" style="padding-top: 0; padding-bottom: 0;">Trending Hashtags</h2>
                <md-divider></md-divider>
                <md-list>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>#MillerHillMall</p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #60Guilders
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #FlatironPortfolio
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #BlackstoneGroup
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #RenaissanceSquare
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card flex-gt-md="30" flex="50">
            <md-card-content style="padding-top: 0; padding-bottom: 0;">
                <h2 class="md-title" style="padding-top: 0; padding-bottom: 0;">Recent Contacts</h2>
                <md-divider></md-divider>
                <div></div>
                <md-list style="border-left: 5px solid orange; margin-left: -16px;">
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>#RobertFrisbee at #60Guilders</p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #HenryAlbers at #CarlyleGroup
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #GiovanniCutaia at #BlackstoneGroup
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #StephanieSchmerler at #JLL
                            </p>
                        </div>
                    </md-list-item>
                    <md-list-item style="margin-bottom: -5px;">
                        <div class="md-list-item-text">
                            <p>
                                #AaronChase at #iCoreGlobal
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>