﻿<div layout="row" flex flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80">
    <div flex>
        <md-card style="">
            <span layout-margin>
                <div flex>
                    <h1>Edit Company</h1>
                </div>
                <div flex>* = Required Field</div>
            </span>
            <div layout-padding>
                <form name="companyProfileEdit">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Company Name *</label>
                                <input md-maxlength="128" name="name" ng-model="vm.companyDetails.companyName" required>
                                <div ng-messages="companyProfileEdit.name.$error">
                                    <div ng-message="required">Company name is required.</div>
                                    <div ng-message="md-maxlength">The company name has to be less than 128 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-autocomplete flex-gt-sm flex-offset-gt-sm="5"
                                             md-no-cache
                                             md-input-name="parentCompanyName"
                                             md-selected-item="vm.parentCompany"
                                             md-input-maxlength="300"
                                             md-selected-item-change="vm.selectedParentChange(item)"
                                             md-search-text="vm.parentSearch.searchText"
                                             md-items="item in vm.companyIntellisense(vm.parentSearch.searchText)"
                                             md-item-text="item.aliasName"
                                             md-floating-label="Parent Company Name"
                                             ng-model-options="{debounce: 250}">
                                <md-item-template>
                                    <span md-highlight-text="vm.parentSearch.searchText">{{item.aliasName}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Ticker Symbol</label>
                                <input md-maxlength="50" name="ticker" ng-model="vm.companyDetails.tickerSymbol">
                                <div ng-messages="companyProfileEdit.ticker.$error">
                                    <div ng-message="md-maxlength">Ticker Symbol has to be less than 50 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex flex-offset-gt-sm="5">
                                <label>Status</label>
                                <md-select ng-model="vm.companyDetails.isDefunct">
                                    <md-option ng-value="false">Active</md-option>
                                    <md-option ng-value="true">Inactive</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">                         
                            <md-input-container class="md-block" flex-gt-sm="45" flex>
                                <label>Add New Alias</label>
                                <input md-maxlength="50" name="aliasName" ng-model="vm.aliasName">
                                <div ng-messages="companyProfileEdit.aliasName.$error">
                                    <div ng-message="md-maxlength">Alias has to be less than 50 characters long.</div>
                                </div>
                            </md-input-container>
                            <md-button aria-label="menu" class="md-mini md-primary" ng-click="vm.addAlias()">ADD</md-button>                           
                        </div>
                        <div layout="column">
                            <b>Aliases</b>
                            <div ng-repeat="a in vm.companyDetails.aliases">
                                <p class="md-body-1" ng-show="!a.isPrimary">
                                    {{a.aliasName}}
                                </p>
                            </div>
                        </div>
                    <md-divider flex layout-margin></md-divider>
                    <md-content layout="row" layout-align="end end" flex>
                        <md-button aria-label="cancel" class="md-mini md-primary" ui-sref="company.companyDetails({companyId: vm.companyMentionId})">CANCEL</md-button>
                        <md-button aria-label="savequit" class="md-mini md-primary" ng-click="vm.saveCompanyProfile(companyProfileEdit, vm.companyDetails, false)">SAVE AND QUIT</md-button>
                        <md-button aria-label="cancel" class="md-mini md-primary" ng-click="vm.saveCompanyProfile(companyProfileEdit, vm.companyDetails, true)">CONTINUE</md-button>
                    </md-content>
                </form>
            </div>
        </md-card>
    </div>
</div>
