﻿<div layout="row" flex flex-md="90" flex-gt-md="80">
    <div flex>
        <md-card>
            <span layout-margin>
                <div flex>
                    <h1>Edit Company</h1>
                </div>
                <div flex>* = Required Field</div>
            </span>
            <div layout-padding>
                <form name="companyComplianceEdit">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>FCPA List Name</label>
                            <input md-maxlength="50" name="fcpa" ng-model="vm.companyDetails.fcpaName">
                            <div ng-messages="companyComplianceEdit.fcpa.$error">
                                <div ng-message="md-maxlength">FCPA List Name has to be less than 50 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                            <label>CIBOS Code</label>
                            <input md-maxlength="50" name="cibos" ng-model="vm.companyDetails.cibosCode">
                            <div ng-messages="companyComplianceEdit.cibos.$error">
                                <div ng-message="md-maxlength">CIBOS Code has to be less than 50 characters long.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>Real Estate Allocation Pct.</label>
                            <input ng-model="vm.companyDetails.realEstateAllocation" />
                        </md-input-container>
                        <div flex-gt-sm="50" flex-offset-gt-sm="5"></div>
                    </div>
                    <div layout="row">
                        <md-checkbox flex ng-model="vm.companyDetails.isOfacCheck">OFAC Check</md-checkbox>
                        <md-checkbox flex ng-model="vm.companyDetails.hasWfsCorrelation">WFS Correlation</md-checkbox>
                    </div>
                    <div layout="row">                       
                        <md-checkbox flex ng-model="vm.companyDetails.isForeignGovernment">FGOV</md-checkbox>
                        <md-checkbox flex ng-model="vm.companyDetails.isTrackedByAsiaTeam">Tracked by Asia Team</md-checkbox>                      
                    </div>
                    <div layout="row">
                        <md-checkbox flex ng-model="vm.companyDetails.hasRestrictedVisibility">Restricted Visibility</md-checkbox>
                    </div>
                    <div layout="row">
                        <md-checkbox flex flex ng-model="vm.companyDetails.isSolicitable">Do Not Solicit</md-checkbox>
                    </div>
                    <div layout="row">                       
                        <span ng-show="vm.companyDetails.isSolicitable">As of:</span>
                        <md-datepicker ng-show="vm.companyDetails.isSolicitable" md-placeholder="Enter date" style="margin-top: -8px;"
                                        ng-model="vm.doNotSolicitDate" ng-change="vm.companyDetails.isSolicitableDate = vm.doNotSolicitDate.toISOString()"></md-datepicker>                       
                    </div>
                    <md-divider flex layout-margin></md-divider>
                    <md-content layout="row" layout-align="end end" flex>                        
                        <md-button aria-label="cancel" class="md-mini md-primary" ui-sref="company.companyDetails({companyId: vm.companyMentionId})">CANCEL</md-button>
                        <md-button aria-label="savequit" class="md-mini md-primary" ng-click="vm.saveCompanyCompliance(companyComplianceEdit, vm.companyDetails)">SAVE AND QUIT</md-button>
                    </md-content>
                </form>
            </div>
        </md-card>
    </div>
</div>