﻿<div layout="row" flex>
    <md-content layout="column" flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="companyList" class="list-view-container">
        <md-subheader class="list-view-header">
            <div layout="row" layout-align="end">
                <div flex></div>
                <div style="width: 250px">
                    <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchCompanies()" placeholder="Filter" class="pageFilterBox" />
                </div>
            </div>
            <div layout="row" class="md-body-2" style="padding-right: 26px; font-weight: bold;">
                <div flex="40" layout="row">
                    <div ng-click="vm.sortColumn('IsWatched')" class="starColumn">
                        <i class="material-icons md-18">star</i>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div ng-click="vm.sortColumn('CanonicalCompany')" style="cursor: pointer;">
                        Company Name
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'CanonicalCompany'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
                <div flex="60" layout="row" hide show-gt-sm>
                    <div flex="25" layout="row" layout-align="end center">
                        Active Deals
                    </div>
                    <div flex="25" layout="row" layout-align="end center">
                        Investments
                    </div>
                    <div flex="25" layout="row" layout-align="end center">
                        Bid Vol, 30 Days
                    </div>
                    <div flex="25" layout="row" layout-align="end center">
                        Locations
                    </div>
                </div>
            </div>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list id="companyList" container="#companyList" continuous-page query-function="vm.getCompanies" query-object="vm.queryObject" paging-data-watch="vm.companyList.pagingData">
            <md-list-item ng-repeat-start="company in vm.companyList.resources" ng-controller="companyStatisticsController as statistics" ng-init="statistics.setCompany(company)" ng-click="vm.selectRow(company)">
                <div layout="column" layout-gt-sm="row" layout-wrap flex>
                    <div flex="40" layout="row">
                        <div class="starColumn">
                            <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                <i class="material-icons md-18">{{company.isWatched ? 'star' : 'star_border'}}</i>
                            </a>
                        </div>
                        {{company.canonicalCompany}}
                        <a hide-gt-sm class="md-secondary" ng-click="company.showStats = !company.showStats">
                            <span class="fa" ng-class="company.showStats ? 'fa-caret-down' : 'fa-caret-right'"></span>
                        </a>
                    </div>
                    <div flex="60" layout="row">
                        <div flex="25" layout="row" layout-align="end">
                            <a ng-href="#/companies/{{company.mentionID | encode}}/deals">{{statistics.companyStatistics.activeDeals}}</a>
                        </div>
                        <div flex="25" layout="row" layout-align="end">
                            <a ng-href="#/companies/{{company.mentionID | encode}}/investments">{{statistics.companyStatistics.investments}}</a>
                        </div>
                        <div flex="25" layout="row" layout-align="end">
                            {{statistics.companyStatistics.bidVolume}}
                        </div>
                        <div flex="25" layout="row" layout-align="end">
                            <a ng-href="#/companies/{{company.mentionID | encode}}/locations">{{statistics.companyStatistics.locations}}</a>
                        </div>
                    </div>
                    <div layout="column" hide-gt-sm ng-show="company.showStats">
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Active Deals:</b></span>
                            <span flex="45" flex-offset="5"><a ng-href="#/companies/{{company.mentionID | encode}}/deals">{{statistics.companyStatistics.activeDeals}}</a></span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Investments:</b></span>
                            <span flex="45" flex-offset="5"><a ng-href="#/companies/{{company.mentionID | encode}}/investments">{{statistics.companyStatistics.investments}}</a></span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Bid Volume:</b></span>
                            <span flex="45" flex-offset="5">{{statistics.companyStatistics.bidVolume}}</span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Locations:</b></span>
                            <span flex="45" flex-offset="5"><a ng-href="#/companies/{{company.mentionID | encode}}/locations">{{statistics.companyStatistics.locations}}</a></span>
                        </div>
                    </div>
                </div>
            </md-list-item>
            <md-divider ng-repeat-end></md-divider>
        </md-list>
    </section>
</md-content>