﻿<h5>What is the risk profile for this valuation?</h5>

<div ng-controller="basicsRiskProfileController as vm">
    <md-radio-group ng-model="form.result.riskProfile">
        <md-radio-button ng-repeat="option in vm.options" value="{{option.Code}}">
            {{option.Code}}
        </md-radio-button>
    </md-radio-group>

    <p ng-show="form.result.valuationProperties.length > 1">
        This profile will apply to the aggregate value for all included properties.
        Capture an individual asset's risk profile by adding a valuation for that asset.
    </p>
</div>
