﻿<div ng-controller="basicsPropertiesIncludedController as vm" ng-init="vm.init(form)">
    <h5>What properties are included in this valuation?</h5>

    <md-switch class="md-primary" ng-model="vm.form.result.dealAllProperties" ng-change="vm.onAllPropertiesChange()" aria-label="All Properties">
        All Properties
    </md-switch>

    <div layout="row" ng-hide="vm.form.result.dealAllProperties">
        <md-input-container flex>
            <label>Select Individual Properties</label>
            <md-select multiple="true" ng-model="vm.form.result.valuationProperties" ng-model-options="{trackBy: '$value.propertyKey'}">
                <md-option ng-value="property" ng-repeat="property in vm.form.meta.dealSummary.properties"><b>{{ property.propertyName }}</b> {{property.physicalAddress.address1}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <p ng-show="vm.form.result.valuationProperties.length > 1">
        A valuation including multiple properties represents the aggregated value and metrics for all included properties.
        If individual asset valuations are needed, please add each on its own.
    </p>
</div>
