﻿<div ng-controller="basicsDealPhysicalSizeController as vm" ng-init="vm.init(form)">
    <h5>What is the physical size of the deal?</h5>

    <div ng-repeat="usage in vm.form.meta.propertyUsages" ng-init="vm.form.result.propertyUsages[usage.usageType].spaceType = usage.spaceType">
        <md-input-container>
            <label>{{usage.usageType}} ({{usage.spaceType}})</label>
            <input type="number" min="0" ng-model="vm.form.result.propertyUsages[usage.usageType].value" />
        </md-input-container>
    </div>
</div>
