﻿<div ng-controller="basicsLoansInvolvedController as vm" ng-init="vm.init(form)">
    <h5>Please identify the involved loans.</h5>

    <div layout="row">
        <md-input-container flex>
            <label>Select Individual Loans</label>
            <md-select multiple="true" ng-model="vm.form.result.valuationLoans" ng-model-options="{trackBy: '$value.loanKey'}">
                <md-option ng-value="loan" ng-repeat="loan in vm.form.meta.dealLoans">{{ loan.loanName }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    
    <p ng-show="vm.form.result.valuationLoans.length > 1">
        A valuation including multiple loans represents the aggregated value and metrics for all included loans.
        If individual loan valuations are needed, please add each on its own.
    </p>
</div>
