﻿<div ng-controller="bidBasicsBidRoundController as vm" ng-init="vm.init(form)">
    <h5>What round of bidding is this bid from?</h5>

    <md-radio-group ng-model="vm.form.result.bidRound">
        <md-radio-button ng-value="1">First Round</md-radio-button>
        <md-radio-button ng-value="2">Second Round</md-radio-button>
        <md-radio-button ng-value="3" ng-if="vm.maxRound >= 3">Third Round</md-radio-button>
        <md-radio-button ng-value="4" ng-if="vm.maxRound >= 4">Fourth Round</md-radio-button>
        <md-radio-button ng-value="5" ng-if="vm.maxRound >= 5">Fifth Round</md-radio-button>
    </md-radio-group>
</div>