﻿<div ng-controller="bidBasicsCompaniesSubmittingController as vm" ng-init="vm.init(form)">

    <h5>What companies are submitting this bid?</h5>

    <md-autocomplete md-no-cache
                     md-input-name="submitter"
                     md-selected-item="vm.selectedCompany"
                     md-input-maxlength="300"
                     md-selected-item-change="vm.selectedCompanyChange(item)"
                     md-search-text="vm.companySearch.searchText"
                     md-items="item in vm.companyIntellisense(vm.companySearch.searchText)"
                     md-item-text="item.aliasName"
                     md-floating-label="Search companies"
                     ng-model-options="{debounce: 250}">
        <md-item-template>
            <span md-highlight-text="vm.companySearch.searchText">{{item.aliasName}}</span>
        </md-item-template>
    </md-autocomplete>

    <md-list>
        <md-list-item ng-repeat="company in vm.form.result.companiesSubmittingBids track by company.company_Key" layout="row">
            {{company.aliasName}}
            <md-button class="md-secondary" ng-click="vm.removeCompany($index)">Remove</md-button>
        </md-list-item>
    </md-list>
</div>
