﻿<div ng-controller="scenarioDealStatusForValuationController as vm" ng-init="vm.init(form, safeApply)">
    <h5>Deal Status</h5>

    <p>
        This deal's current status is <b>{{vm.form.result.deal.dealStatus}}</b>.
        If this valuation is for a prior point in the deal's lifecycle, please indicate that status now.
    </p>

    <md-radio-group ng-model="form.result.valuationDealStatus">
        <md-radio-button ng-value="opt" ng-repeat="opt in vm.options">{{ opt }}</md-radio-button>
    </md-radio-group>
</div>
