﻿<div ng-controller="scenarioDealStatusForBidsController as vm" ng-init="vm.init(form)">

    <h5>Deal Status</h5>

    <p>This deal's current status is {{form.result.deal.dealStatus}}. To enter bids on this deal, the status must be updated to at least 'Bid Receipt'.</p>

    <md-radio-group ng-model="form.result.updateDealStatus">
        <md-radio-button ng-repeat="opt in vm.options" ng-value="opt.Code">{{opt.Code}}</md-radio-button>
    </md-radio-group>

</div>
