﻿<h5>What is the scenario?</h5>

<md-radio-group ng-model="form.result.dealValuationType">
    <md-radio-button ng-repeat="type in data.lookups.DealValuationType.GetAll()" ng-value="type.Code">
        {{type.Label}}
    </md-radio-button>
</md-radio-group>
