﻿<h5>What is the economic size of this deal?</h5>

<div ng-if="form.result.deal.dealType === data.lookups.DealType.EquitySale100.Code">
    <div layout="column">
        <big-number-input name="equitySale100PropertyValue" ng-model="form.result.economicSize" label="Input property value ($)" required>
            <div ng-messages="wizardForm.equitySale100PropertyValue.$error" ng-if="wizardForm.equitySale100PropertyValue.$touched || wizardForm.$submitted">
                <div ng-message="required">Property value is required.</div>
            </div>
        </big-number-input>

        <md-input-container>
            <label>Going-In Cap Rate (%)</label>
            <input ng-model="form.result.goingInCapRate" type="number" step="0.01">
        </md-input-container>

        <md-input-container>
            <label>Going-In Price/Unit ($)</label>
            <input ng-model="form.result.goingInPriceUnit" type="number" step="0.01">
        </md-input-container>

        <md-input-container>
            <label>IRR (%)</label>
            <input ng-model="form.result.irr" type="number" step="0.1">
        </md-input-container>
        <md-radio-group ng-model="form.result.leveraged">
            <md-radio-button ng-value="true">Leveraged</md-radio-button>
            <md-radio-button ng-value="false">Unleveraged</md-radio-button>
        </md-radio-group>
    </div>
</div>
<div ng-if="form.result.deal.dealType === data.lookups.DealType.EquitySaleLessThan100.Code">
    <div layout="column">
        <big-number-input name="equitySaleLessThan100PropertyValue" ng-model="form.result.economicSize" label="Input property value ($)" required>
            <div ng-messages="wizardForm.equitySaleLessThan100PropertyValue.$error" ng-if="wizardForm.equitySaleLessThan100PropertyValue.$touched || wizardForm.$submitted">
                <div ng-message="required">Property value is required.</div>
            </div>
        </big-number-input>

        <md-input-container>
            <label>Going-In Cap Rate (%)</label>
            <input name="equitySaleLessThan100goingInCapRate" ng-model="form.result.goingInCapRate" type="number" step="0.01" ng-required="form.result.dealValuationType != data.lookups.DealValuationType.Bid.Code">
            <div ng-messages="wizardForm.equitySaleLessThan100goingInCapRate.$error" ng-if="wizardForm.equitySaleLessThan100goingInCapRate.$touched || wizardForm.$submitted">
                <div ng-message="required">Going-In Cap Rate is required.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Going-In Price/Unit ($)</label>
            <input name="equitySaleLessThan100goingInPriceUnit" ng-model="form.result.goingInPriceUnit" type="number" step="0.01" ng-required="form.result.dealValuationType != data.lookups.DealValuationType.Bid.Code">
            <div ng-messages="wizardForm.equitySaleLessThan100goingInPriceUnit.$error" ng-if="wizardForm.equitySaleLessThan100goingInPriceUnit.$touched || wizardForm.$submitted">
                <div ng-message="required">Going-In Price/Unit is required.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>IRR (%)</label>
            <input name="equitySaleLessThan100irr" ng-model="form.result.irr" type="number" step="0.1" ng-required="form.result.dealValuationType != data.lookups.DealValuationType.Bid.Code">
            <div ng-messages="wizardForm.equitySaleLessThan100irr.$error" ng-if="wizardForm.equitySaleLessThan100irr.$touched || wizardForm.$submitted">
                <div ng-message="required">IRR is required.</div>
            </div>
        </md-input-container>
        <md-radio-group name="equitySaleLessThan100leveraged" ng-model="form.result.leveraged" ng-required="form.result.dealValuationType != data.lookups.DealValuationType.Bid.Code">
            <md-radio-button ng-value="true">Leveraged</md-radio-button>
            <md-radio-button ng-value="false">Unleveraged</md-radio-button>
        </md-radio-group>
        <div ng-messages="wizardForm.equitySaleLessThan100leveraged.$error" ng-if="wizardForm.equitySaleLessThan100leveraged.$touched || wizardForm.$submitted">
            <div ng-message="required">Leveraged or Unleveraged is required.</div>
        </div>
    </div>
</div>
<div ng-if="form.result.deal.dealType === data.lookups.DealType.DebtPlacement.Code">
    <div layout="column">
        <big-number-input name="debtPlacementLoanAmount" ng-model="form.result.economicSize" label="Input total loan amount ($)" required>
            <div ng-messages="wizardForm.debtPlacementLoanAmount.$error" ng-if="wizardForm.debtPlacementLoanAmount.$touched || wizardForm.$submitted">
                <div ng-message="required">Total loan amount is required.</div>
            </div>
        </big-number-input>

        <md-input-container>
            <label>Loan Term (Months)</label>
            <input name="debtPlacementLoanTerm" ng-model="form.result.loanTerm" type="number" step="1" required>
            <div ng-messages="wizardForm.debtPlacementLoanTerm.$error" ng-if="wizardForm.debtPlacementLoanTerm.$touched || wizardForm.$submitted">
                <div ng-message="required">Loan Term is required.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>All-in Interest Rate (%)</label>
            <input name="debtPlacementAllInInterestRate" ng-model="form.result.allInInterestRate" type="number" step="0.01" required>
            <div ng-messages="wizardForm.debtPlacementAllInInterestRate.$error" ng-if="wizardForm.debtPlacementAllInInterestRate.$touched || wizardForm.$submitted">
                <div ng-message="required">All-in Interest Rate is required.</div>
            </div>
        </md-input-container>

        <big-number-input ng-model="form.result.economicSize" label="Input property value ($)"></big-number-input>
    </div>
</div>
<div ng-if="form.result.deal.dealType === data.lookups.DealType.LoanSale.Code">
    <div layout="column">
        <big-number-input label="Input loan value ($)" name="loanSaleLoanAmount" ng-model="form.result.loanAmount" required>
            <div ng-messages="wizardForm.loanSaleLoanAmount.$error" ng-if="wizardForm.loanSaleLoanAmount.$touched || wizardForm.$submitted">
                <div ng-message="required">Loan value is required.</div>
            </div>
        </big-number-input>

        <md-input-container>
            <label>Input unpaid balance ($)</label>
            <input ng-model="form.result.unpaidBalance" type="number" step="0.01" />
        </md-input-container>
    </div>
</div>
