﻿<div ng-controller="valuationUserSelectionsController as vm" ng-init="vm.init(form)">
    <div ng-show="vm.form.result.deal">
        <b>Deal:</b> {{vm.form.result.deal.dealName}} ({{vm.form.result.deal.dealStatus}} <span ng-show="vm.form.result.deal.dealStatus == 'Closed'">{{vm.form.result.deal.statusDate | date:'MMM yyyy'}}</span>)<br/>
        <b>Deal Type:</b> {{vm.form.result.deal.dealType}}<br/>
        <b>Eastdil Brokers:</b> <span ng-repeat="broker in vm.form.meta.dealSummary.brokers | filter:{isEastdil: true}">{{broker.companyAlias}}<span ng-show="!$last">, </span></span><br/>
        <b>Non-Eastdil Brokers:</b> <span ng-repeat="broker in vm.form.meta.dealSummary.brokers | filter:{isEastdil: false}">{{broker.companyAlias}}<span ng-show="!$last">, </span></span>
    </div>
    <div ng-show="vm.form.meta.basicsPropertiesIncludedTouched">
        <b>Properties Included:</b> {{vm.form.result.dealAllProperties ? 'All ' + vm.form.meta.dealSummary.properties.length : vm.form.result.valuationProperties.length}}
    </div>
    <div ng-show="vm.form.result.valuationLoans.length">
        <b>Loans Involved:</b>
        <span ng-repeat="loan in vm.form.result.valuationLoans">
            {{loan.loanName}}<span ng-show="!$last">, </span>
        </span>
    </div>
    <div ng-show="vm.form.result.riskProfile">
        <b>Risk Profile:</b> {{vm.form.result.riskProfile}}
    </div>
    <div ng-show="!vm.isEmptyObject(vm.form.result.propertyUsages)">
        <b>Physical Size:</b>
        <span ng-repeat="(label, value) in vm.form.result.propertyUsages">
            {{label}} ({{value.value}} {{value.spaceType}})<span ng-show="!$last">, </span>
        </span>
    </div>
    <div ng-show="vm.form.result.dealValuationType">
        <b>Scenario:</b> {{vm.form.result.dealValuationType}}
    </div>
    <div ng-show="form.result.valuationDealStatus">
        <b>For Deal Status:</b> {{form.result.valuationDealStatus}}
    </div>
    <div ng-show="form.result.updateDealStatus">
        <b>Update Deal Status to:</b> {{form.result.updateDealStatus}}
    </div>
    <div ng-show="form.result.bidRound">
        <b>Bid Round</b> {{form.result.bidRound}}
    </div>
    <div ng-show="vm.form.result.economicSize">
        <b>Economic Size:</b> {{vm.form.result.economicSize | largeCurrency}}
    </div>
    <div ng-show="vm.form.result.attachments">
        <b>Attachments:</b> {{vm.form.result.attachments.length}}
    </div>
</div>