﻿
<!--<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="search-container content-background-color">
    <div layout="row" layout-padding>
        <h5>{{vm.queryObject.coreObjectName}} ({{vm.searchResults.resources.length}})</h5>
        <span flex></span>
        <md-button ng-click="vm.showNewSearchOptions()" style="padding-top: 0; padding-bottom: 0;">New Search</md-button>
        <md-button style="padding-top: 0;padding-bottom: 0;">XLS</md-button>
    </div>
    <md-divider></md-divider>-->



<!---->

<!--<div layout="row">
    <span flex><h5>Active Pipeline</h5></span>
    <span layout="row" layout-align="end center" layout-padding flex>
        <md-button class="md-icon-button" aria-label="Download" layout="column">
            <i class="material-icons">file_download</i>
        </md-button>
        <input type="text" ng-model="vm.activePipeLineSearch" maxlength="255" placeholder="Filter" class="pageFilterBox" />
    </span>
</div>
<md-divider></md-divider>-->

    <div style="height: 95vh;  margin-top:20px; overflow-x: hidden;"  flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80">
        <div layout="column" layout-fill  class="md-whiteframe-2dp">
            <div style="background-color:white">
                <div layout="row" layout-padding>
                    <h5>Active Pipeline</h5>
                    <span flex></span>
                    <md-button style="padding-top: 0;padding-bottom: 0;">XLS</md-button>
                    <input type="text" ng-model="vm.activePipeLineSearch" maxlength="255" placeholder="Filter" class="pageFilterBox" />
                </div>
                <md-divider></md-divider>
            </div>
                <md-content flex="50" layout-column style="overflow: scroll;overflow-x: hidden; background-color:white" class="md-whiteframe-2dp">
                    <section>
                        <md-subheader class="list-view-header">
                            <p layout="row">
                                <span flex="10">
                                    <b ng-click="vm.order('name')" >Name</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'name'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10">
                                    <b ng-click="vm.order('office')" class="sortable-column-header">Deal Location</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'office'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="15">
                                    <b ng-click="vm.order('client')" class="sortable-column-header">Client</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'client'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10">
                                    <b ng-click="vm.order('dealType')" class="sortable-column-header">Deal Type</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'dealType'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10">
                                    <b ng-click="vm.order('propertyType')" class="sortable-column-header">Property Type</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'propertyType'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">
                                    <b ng-click="vm.order('estPrice')" class="sortable-column-header">Deal Size</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'estPrice'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">
                                    <b ng-click="vm.order('estFees')" class="sortable-column-header">Est. Fees</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'estFees'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10">
                                    <b ng-click="vm.order('status')" class="sortable-column-header">Status</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'status'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                                <span flex="10">
                                    <b ng-click="vm.order('pitchLaunchDate')" class="sortable-column-header">Pitch/Launch</b>
                                    <i class="material-icons md-18" ng-show="vm.predicate == 'pitchLaunchDate'">{{vm.reverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                                </span>
                            </p>
                        </md-subheader>
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item class="md-1-line" ng-repeat="item in vm.activePipeline  | orderBy:vm.predicate:vm.reverse| filter:vm.activePipeLineSearch" ng-class="item.class" flex>
                                <div class="md-list-item-text" flex>
                                    <p layout="row" flex>
                                        <span flex="10">{{item.name}}</span>
                                        <span flex="10">{{item.office}}</span>
                                        <span flex="15">{{item.client}}</span>
                                        <span flex="10">{{item.dealType}}</span>
                                        <span flex="10">{{item.propertyType}}</span>
                                        <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">{{item.estPrice| largeCurrency}}</span>
                                        <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">{{item.estFees| largeCurrency}}</span>
                                        <span flex="10">{{item.status}}</span>
                                        <span flex="10">{{item.pitchLaunchDate | date:"MM/dd/yyyy"}}</span>
                                    </p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </section>
                </md-content>
           
         
            <div style="background-color:white;margin-top:20px;">
                <div layout="row" >
                    <div layout-padding>
                        <h5>Closed Deals</h5>
                    </div>

                    <span flex></span>
                    <md-select ng-model="vm.selectedOptions.pitches" placeholder="within...">
                        <md-option ng-repeat="period in vm.periods" ng-value="period.period">
                           {{period.period}}
                        </md-option>
                    </md-select>
                    <md-button style="padding-top: 0;padding-bottom: 0;">XLS</md-button>
                    <div layout-padding>
                        <input type="text" ng-model="vm.closedDealsSearch" maxlength="255" placeholder="Filter" class="pageFilterBox" />
                    </div>
                    
                </div>
                <md-divider></md-divider>
            </div>
            <md-content flex="50" layout-column style="overflow: scroll;overflow-x: hidden; background-color:white" class="md-whiteframe-2dp">
                <section>
                    <md-subheader class="list-view-header">
                        <p layout="row">
                            <span flex="10">
                                <b ng-click="vm.orderClosed('name')" class="sortable-column-header">Name</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'name'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10">
                                <b ng-click="vm.orderClosed('office')" class="sortable-column-header">Deal/Office</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'office'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="15">
                                <b ng-click="vm.orderClosed('client')" class="sortable-column-header">Client</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'client'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10">
                                <b ng-click="vm.orderClosed('buyer')" class="sortable-column-header">Counterparty</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'buyer'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10">
                                <b ng-click="vm.orderClosed('dealType')" class="sortable-column-header">Deal Type</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'dealType'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10">
                                <b ng-click="vm.orderClosed('propertyType')" class="sortable-column-header email">Property Type</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'propertyType'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">
                                <b ng-click="vm.orderClosed('purchasePrice')" class="sortable-column-header">Deal Size</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'purchasePrice'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">
                                <b ng-click="vm.orderClosed('fees')" class="sortable-column-header">Fees</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'fees'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                            <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">
                                <b ng-click="vm.orderClosed('bidsRecieved')" class="sortable-column-header">Bids Recieved</b>
                                <i class="material-icons md-18" ng-show="vm.closedPredicate == 'bidsRecieved'">{{vm.closedReverse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                            </span>
                        </p>
                    </md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item class="md-1-line" ng-repeat="item in vm.closedDeals | orderBy:vm.closedPredicate:vm.closedReverse| filter:vm.closedDealsSearch" ng-class="item.class" flex>
                            <div class="md-list-item-text" flex>
                                <p layout="row" flex>
                                    <span flex="10">{{item.name}}</span>
                                    <span flex="10">{{item.office}}</span>
                                    <span flex="15">{{item.client}}</span>
                                    <span flex="10">{{item.buyer}}</span>
                                    <span flex="10">{{item.dealType}}</span>
                                    <span flex="10">{{item.propertyType}}</span>
                                    <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">{{item.purchasePrice| largeCurrency}}</span>
                                    <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">{{item.fees| largeCurrency}}</span>
                                    <span flex="10" layout="row" layout-align="end start" style="margin-right:16px;">{{item.bidsRecieved}}</span>
                                </p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
        </div>

    </div>
