﻿<md-content layout="column" flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="userList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <section>
                <div layout="row" layout-align="start center">
                    <div flex layout="row" layout-align="start start" layout-margin>
                        <md-button ng-click="vm.backToPreviousPage()" class="md-raised">Done</md-button>
                    </div>
                    <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchUsers()" placeholder="Filter" class="pageFilterBox" />
                    </div>
                </div>
            </section>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-repeat="user in vm.userList.resources" class="md-no-style md-button md-ink-ripple" layout-fill>
                    <div layout="column" layout-gt-sm="row" ng-click="vm.toggleDelegatedUser(user,$event)" layout-wrap flex>
                        <md-checkbox ng-checked="user.isDelegatedUser" ng-click="toggleDelegatedUser(user, selected)">
                            {{user.fullName}} - {{user.username}}
                        </md-checkbox>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>