﻿<!--large Screens-->
<div layout="row" ng-controller="companyStatisticsController as statistics" ng-init="statistics.setCompany(result)" hide show-gt-md flex="90" class="sortable-column-header" ui-sref="company.companySummary({companyId:result.mentionID})">
    <div layout="column" layout-align="center start" flex="5">
        <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
            <i class="material-icons md-18">{{result.isWatched ? 'star' : 'star_border'}}</i>
        </a>
    </div>
    <div layout="column" flex="35">
        <span>
            <strong>{{result.canonicalCompany}}</strong>
        </span>
        <span>
            {{result.mentionID}}
        </span>
    </div>
    <div layout="column" layout-align="center end" flex="20">
        <span>
            Properties
        </span>
        <span>
            {{statistics.companyStatistics.properties}}
        </span>
    </div>
    <div layout="column" layout-align="center end" flex="20">
        <span>
            Active Deals
        </span>
        <span>
            {{statistics.companyStatistics.activeDeals}}
        </span>
    </div>
    <div layout="column" layout-align="center end" flex="20">
        <span>
            Loans
        </span>
        <span>
            {{statistics.companyStatistics.loans}}
        </span>
    </div>
    <div layout="column" layout-align="center end" flex="5" flex-offset="10">
        <span es-reminder-pin mention-id="{{result.mentionID}}" mention-label="{{result.canonicalCompany}}" core-object-type="A" reminder-text="result.canonicalCompany"></span>
    </div>
</div>

<!--small Screens-->
<div hide-gt-md flex>
    <div layout="column" ng-controller="companyStatisticsController as statistics" ng-init="statistics.setCompany(result)" ui-sref="company.companySummary({companyId:result.mentionID})" layout-margin flex>
        <div class="ie-column-layout-contaner" layout="row">
            <span layout-align="center center">
                <a>
                    <i class="material-icons md-18">{{result.isWatched ? 'star' : 'star_border'}} </i>
                </a>
            </span>
            <span>
                <strong> {{result.canonicalCompany}}</strong>
            </span> |
            <span>
                <a class="sortable-column-header">{{result.mentionID}}</a>
            </span>
        </div>
        <div class="ie-column-layout-contaner">
            <span>Properties: </span><span>{{statistics.companyStatistics.properties}}</span>
        </div>
        <div class="ie-column-layout-contaner">
            <span>Active Deals: </span><span>{{statistics.companyStatistics.activeDeals}}</span>
        </div>
        <div class="ie-column-layout-contaner">
            <span>Loans: </span><span>{{statistics.companyStatistics.loans}}</span>
        </div>
    </div>
</div>
