﻿<!--large Screens-->
<div hide show-gt-xs layout="row" flex="90" class="sortable-column-header">
    <div layout="column" flex="5" style="margin-top: 10px;">
        <div class="starColumn">
            <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                <i class="material-icons md-18">{{company.isWatched ? 'star' : 'star_border'}}</i>
            </a>
        </div>
    </div>
    <div layout="column" flex="30" style="margin-top: 10px;">
        <span>
            <strong>{{result.fullName}}</strong>
        </span>
        <span>
            {{result.title}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="30">
        <span>
            {{result.companyName}}
        </span>
        <span>
            {{result.location}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>
            {{result.mobilePhone}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>
            {{result.emailAddress}}
        </span>
    </div>
</div>

<!--small Screens-->
<div layout="column" hide-gt-xs ui-sref="contact.details({contactId:result.contactId})">
    <div layout="row">
        <span flex="50" layout="row" layout-align="end">
            <a>
                <i class="material-icons md-18">{{result.isWatched ? 'star' : 'star_border'}} </i>
            </a>
        </span>
        <span flex="45" flex-offset="5"><b>{{result.fullName}}</b></span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.title}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.companyName}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.location}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.mobilePhone}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5"><a ng-href="mailto:{{result.emailAddress}}">{{result.emailAddress}}</a></span>
    </div>
</div>
