﻿<!--large Screens-->
<div layout="row" flex="90" class="sortable-column-header">
    <div layout="column" flex="5" style="margin-top: 10px;">
        <div class="starColumn">
            <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                <i class="material-icons md-18">{{company.isWatched ? 'star' : 'star_border'}}</i>
            </a>
        </div>
    </div>
    <div layout="column" flex="30" style="margin-top: 10px;">        
        <span>
            <strong>{{result.dealName}}</strong>
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="25">
        <span>Owner</span>
        <span>
            {{result.companyName}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>Deal Type</span>
        <span>
            {{result.transactionType}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>Property Type</span>
        <span>
           {{result.propertyType}}
        </span>
    </div>
</div>