﻿<div layout="column" layout-padding>
        <form name="filterForm" ng-submit="apply(filterForm)">
            <p>
                <b>{{filterType.label}}</b>
            </p>
            <div ng-if="filterType.type === 'multiSelect'">
                <p ng-repeat="option in filterType.typeValues">
                    <md-checkbox ng-checked="exists(option, filterType.values)" ng-click="toggle(option, filterType.values)">
                        {{option.label}}
                    </md-checkbox>
                </p>
            </div>
          
            <div ng-if="filterType.type === 'dateRange'" style="min-width:330px">
                <div layout="column" >
                    <div>
                        <label class="md-caption">From</label>
                        <md-datepicker name="dateFrom" ng-model="filterType.values[0].value" md-placeholder="MM/DD/YYYY" ng-required="filterType.values[1].value == null"></md-datepicker>
                        <div class="error" layout="row" layout-align="start" ng-messages="filterForm.dateFrom.$error" ng-if="filterForm.dateFrom.$touched || filterForm.$submitted">
                            <div ng-message="valid">Invalid date</div>
                            <div ng-message="required">Required if no "To" date</div>
                        </div>
                    </div>
                    <div>
                        <label class="md-caption">To</label>
                        <md-datepicker class="date-picker-padding" name="dateTo" ng-model="filterType.values[1].value" md-placeholder="MM/DD/YYYY" ng-required="filterType.values[0].value == null"></md-datepicker>
                        <div class="error" layout="row" layout-align="start" ng-messages="filterForm.dateTo.$error" ng-if="filterForm.dateTo.$touched || filterForm.$submitted">
                            <div ng-message="valid">Invalid date</div>
                            <div ng-message="required">Required if no "From" date</div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="filterType.type === 'input'">
                <div layout="row">
                    <md-input-container>
                        <label>{{filterType.label}}</label>
                        <input type="text" ng-model="filterType.values[0].value" required />
                    </md-input-container>
                </div>
            </div>

            <div ng-if="filterType.type === 'numberRange'">
                <div layout="column">
                    <div>
                        <big-number-input label="From" name="numberFrom" ng-model="filterType.values[0].value" ng-required="filterType.values[1].value == null">
                            <div class="error" ng-messages="filterForm.numberFrom.$error" ng-if="filterForm.numberFrom.$touched || filterForm.$submitted">
                                <div ng-message="pattern">Invalid number</div>
                                <div ng-message="required">Required if no "To"</div>
                            </div>
                        </big-number-input>
                    </div>
                    <div>
                        <big-number-input label="To" name="numberTo" ng-model="filterType.values[1].value" ng-required="filterType.values[0].value == null">
                            <div class="error" ng-messages="filterForm.numberTo.$error" ng-if="filterForm.numberTo.$touched || filterForm.$submitted">
                                <div ng-message="pattern">Invalid number</div>
                                <div ng-message="required">Required if no "From"</div>
                            </div>
                        </big-number-input>
                    </div>
                </div>
            </div>

            <div layout="row">
                <md-button type="submit">
                    Apply
                </md-button>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
        </form>
    </div>
