﻿<!--large Screens-->
<div hide show-gt-sm layout="row" flex="90" class="sortable-column-header">
    <div layout="column" flex="5" style="margin-top: 10px;">
        <div class="starColumn">
            <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                <i class="material-icons md-18">{{result.isWatched ? 'star' : 'star_border'}}</i>
            </a>
        </div>
    </div>
    <div layout="column" flex="20" style="margin-top: 10px;">
        <span>
            <strong>{{result.loanName}}</strong>
        </span>
        <span>
            Active: {{result.active ? 'Yes' : 'No'}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>
            B: {{result.borrower}}
        </span>
        <span>
            L: {{result.lender}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>
            {{result.propertyType}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="20">
        <span>
            Orig. {{result.originationDate | date:'MM/dd/yyyy'}}
        </span>
        <span>
            Mat. {{result.maturityDate | date:'MM/dd/yyyy'}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="15">
        <span>
            Amount: {{result.loanAmount | largeCurrency}}
        </span>
        <span>
            Rate: {{result.allInRate}}
        </span>
    </div>
</div>

<!--small Screens-->
<div layout="column" hide-gt-sm ui-sref="contact.details({contactId:result.contactId})">
    <div layout="row">
        <span flex="50" layout="row" layout-align="end">
            <a>
                <i class="material-icons md-18">{{result.isWatched ? 'star' : 'star_border'}} </i>
            </a>
        </span>
        <span flex="45" flex-offset="5"><b>{{result.loanName}}</b></span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.activeLoan ? 'Yes' : 'No'}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">B: {{result.borrower}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">L: {{result.lender}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.propertyTypes}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.originationDate | date:'MM/dd/yyyy'}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.maturityDate | date:'MM/dd/yyyy'}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.loanAmount | largeCurrency}}</span>
    </div>
    <div layout="row">
        <span flex="95" flex-offset="5">{{result.loanRate}}</span>
    </div>
</div>
