﻿<!--large Screens-->
<div layout="row" hide show-gt-md flex="90" class="sortable-column-header" ui-sref="property.propertyDetails({propertyId:result.mentionId})">
    <div layout="column" flex="45">
        <span>
            <strong>{{result.propertyName}}</strong>
        </span>
        <span>
            {{result.city}}{{result.city ? ',': ''}} {{result.state}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="30">
        <span>
            {{result.type}}
        </span>
        <span>
            {{result.size | number}} {{result.sizeUnits}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="15">
        <span>Valuation</span>
        <span>
            {{result.valuation ? '' : '-' }}{{result.valuation | largeCurrency}}
        </span>
    </div>
    <div layout="column" layout-align="center start" flex="10">
        <span>Active Deal</span>
        <span>
            {{result.activeDeal ? 'Yes' : 'No'}}
        </span>
    </div>
</div>

<!--small Screens-->
<div hide-gt-md flex>
    <div layout="column" layout-margin flex ui-sref="property.propertyDetails({propertyId:result.mentionId})">
        <div class="ie-column-layout-contaner">
            <span>
                <strong>{{result.propertyName}}</strong>
            </span>
            <span>
                {{result.city}}{{result.city ? ',': ''}} {{result.state}}
            </span>
        </div>
        <div class="ie-column-layout-contaner">
            <span>
                {{result.type}}
            </span>
            <span>
                {{result.size | number}} {{result.sizeUnits}}
            </span>
        </div>
        <div class="ie-column-layout-contaner">
            <span>Valuation</span><span>{{result.valuation ? '' : '-' }}{{result.valuation | largeCurrency}}</span>
        </div>
        <div class="ie-column-layout-contaner">
            <span>Active Deal</span><span>{{result.activeDeal ? 'Yes' : 'No'}}</span>
        </div>
    </div>
</div>
