﻿<div layout="column"  flex flex-md="90" flex-gt-md="90" md-whiteframe class="search-container content-background-color">
    <div layout="row" layout-padding class="shorten">
        <h5 ng-if="vm.queryObject.coreObjectType">{{vm.queryObject.coreObjectName}} ( <span ng-show="vm.showMap===false">{{vm.searchResults.resources.length}}</span>   <span ng-show="vm.showMap===true">{{vm.mapCount}}</span> )</h5>
        <h5 ng-if="!vm.queryObject.coreObjectType">New Search</h5>
        <div layout="row" layout-align="start center" ng-show="(vm.queryObject.coreObjectType==='P') && (vm.showMap===false)" ng-click="vm.toggleMap()">
            <i class="material-icons">add_location</i>
        </div>
        <div layout="row" layout-align="start center" ng-show="(vm.queryObject.coreObjectType==='P') && (vm.showMap===true)" ng-click="vm.toggleList()">
            <i class="material-icons">list</i>
        </div>
      
        <span flex></span>
        <md-button ng-click="vm.showNewSearchOptions()" class="short-button">New Search</md-button>
        <md-button class="short-button">XLS</md-button>
        <md-button ng-click="vm.getShareableLink()" class="short-button">Share</md-button>
    </div>
    <md-divider></md-divider>

    <div layout="row" layout-padding>
        <div layout="column">
            <div layout="row">
                <strong>Your Filters</strong>
            </div>
            <div layout="row">
                <form name="filterForm">
                    <md-chips ng-model="vm.filters" name="filter" md-on-remove="vm.filter($chip)" md-on-select="vm.editFilter($chip)">
                        <md-chip-template>
                            <span ng-if="$chip.type === 'mapChip'">
                                <strong>{{$chip.label}}</strong>
                                <span>
                                    {{item.label}}
                                </span>
                            </span>
                            <span ng-if="$chip.type === 'multiSelect'">
                                <strong>{{$chip.label}}</strong>
                                (<span ng-repeat="item in $chip.values">
                                    {{item.label}}<span ng-if="!$last">,</span>
                                </span>)
                            </span>
                            <span ng-if="$chip.type === 'dateRange' || $chip.type === 'numberRange'">
                                <strong>{{$chip.label}}</strong>
                                (<span ng-if="$chip.values.length == 1 || ($chip.values[0].value != null && $chip.values[1].value == null)">&gt;=</span>
                                 <span ng-if="$chip.values.length > 1 && $chip.values[0].value == null && $chip.values[1].value != null">&lt;=</span>
                                <span ng-repeat="item in $chip.values">
                                    <span ng-if="$chip.type === 'dateRange'">{{item.value | date:'MM/dd/yyyy'}}</span>
                                    <span ng-if="$chip.type === 'numberRange'">{{item.value | largeCurrency:false}}</span>
                                    <span ng-if="!$last && $chip.values[0].value != null && $chip.values[1].value != null"> - </span>
                                </span>)
                            </span>
                            <span ng-if="$chip.type === 'input'">
                                <strong>{{$chip.label}}</strong>
                                (<span ng-repeat="item in $chip.values">
                                    {{item.value}}
                                </span>)
                            </span>
                        </md-chip-template>
                    </md-chips>
                    <div ng-if="!vm.filters.length">No filters selected.</div>
                </form>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-xs="column" class="list-view-container"  id="searchResultList">
        <div flex-gt-xs="20" layout="column" ng-if="vm.queryObject.coreObjectType">
            <div class="grey-text" layout-padding>
                <div>
                    <ng-md-icon icon="filter_list" size="25"></ng-md-icon>
                    <div class="filters-header">
                        <strong>Filters</strong>
                    </div>
                </div>
                <md-divider></md-divider>
                <div ng-repeat="filterType in vm.filterTypes">
                    <p>
                        <b>{{filterType.category}}</b>
                    </p>
                    <md-list style="padding-bottom: 0;">
                        <md-list-item ng-click="vm.showFilterOptions(filter)" ng-repeat="filter in filterType.filters" class="filter-list-item">
                            <div style="margin-bottom: 10px;">{{filter.label}}</div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
        <div flex-gt-xs layout="column">
            <div id="map"
                 style="width: 100%; height: 95vh;" layout="row"
                 ng-show="(vm.showMap===true)">
            </div>
        
                <md-button
                    ng-show="(vm.showMap===true)"
                    layout-margin
                    id="delete-shape-button"
                    class="md-raised">
                    Delete Selected Shape
                    <br/>
                    {{vm.shapes()}}
                </md-button>
           

            <md-list continuous-page container="#searchResultList" query-function="vm.search" query-object="vm.queryObject" style="padding-top: 0;"  ng-show="(vm.showMap===false)">
                <md-list-item ng-repeat-start="result in vm.searchResults.resources"
                              class="search-row"
                              md-ink-ripple="#000000"
                              ng-class="vm.searchCategoryClass">
                    <div ng-include="vm.searchResultsTemplateUri" layout-fill></div>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
            <div class="no-results-text" ng-show="!vm.searchResults.resources.length && vm.queryObject.coreObjectType && !vm.queryObject.isBusy && !vm.initializing" layout-padding layout-margin>
                <p class="md-title">Your search is empty.</p>
                <p class="grey-text">Use the filters on the left to search the ESX database.</p>
            </div>
            <div style="margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-top: 20px;" ng-show="!vm.queryObject.coreObjectType">
                <p class="md-title">Your search is empty.</p>
            </div>
            <md-progress-circular md-mode="indeterminate" ng-show="vm.queryObject.isBusy && vm.queryObject.coreObjectType" style="margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-top: 20px;"></md-progress-circular>
        </div>
    </div>
</div>

