﻿<div layout="column" layout-padding>
    <div ng-if="searchInput.length">Search for <strong>{{searchInput}}</strong> in:</div>
    <md-list>
        <md-list-item ng-click="apply('search.deal')">
            <span class="sidebar-center">
                <ng-md-icon icon="attach_money" class="sidebar-deals" size="30"></ng-md-icon>
                <p class="sidebar-text" style="font-size: 20px;">Deals</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="apply('search.property')">
            <span class="sidebar-center">
                <ng-md-icon icon="location_city" class="sidebar-properties" size="30"></ng-md-icon>
                <p class="sidebar-text" style="font-size: 20px;">Properties</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="apply('search.company')">
            <span class="sidebar-center">
                <ng-md-icon icon="work" class="sidebar-companies" size="30"></ng-md-icon>
                <p class="sidebar-text" style="font-size: 20px;">Companies</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="apply('search.contact')">
            <span class="sidebar-center">
                <ng-md-icon icon="contacts" class="sidebar-contacts" size="30"></ng-md-icon>
                <p class="sidebar-text" style="font-size: 20px;">Contacts</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="apply('search.loan')">
            <span class="sidebar-center">
                <i class="fa fa-money fa-2x fa-loans-icon" style="margin-left: 2px;"></i>
                <p class="sidebar-text" style="font-size: 20px; margin-top: -42px !important;">Loans</p>
            </span>
        </md-list-item>
    </md-list>
</div>
