﻿<div layout="column" layout-padding>
    <div layout="row">
        Copy this link to share
    </div>
    <div layout="row">
        <md-input-container>
            <label>Shareable Link</label>
            <input type="text" ng-model="shareableLink" />
        </md-input-container>
    </div>
</div>
