﻿<md-card layout="column" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" layout-padding>

    <div layout-gt-md="row">
        <div layout="column">
            <div flex>
                <h1>Add Company</h1>
            </div>
            <div flex>* = Required Field</div>
        </div>
    </div>

    <form name="companyNameForm" ng-if="!vm.continueAdd">
        <div layout="row">
            <md-autocomplete flex
                             md-no-cache
                             md-input-name="matchedCompany"
                             md-selected-item="vm.matchedCompany"
                             md-search-text="vm.company.companyName"
                             md-selected-item-change="vm.showCompanyDetails(item)"
                             md-items="item in vm.companyIntellisense(vm.company.companyName)"
                             md-item-text="item.aliasName"
                             md-floating-label="Company Name*"
                             ng-model-options="{debounce: 250}"
                             md-autoselect="true"
                             required>
                <md-item-template>
                    <span class="item-title">
                        <span md-highlight-text="vm.company.companyName">{{item.aliasName}}</span>
                    </span>
                </md-item-template>
                <div ng-messages="companyNameForm.companyName.$error" ng-if="companyNameForm.matchedCompany.$touched">
                    <div ng-message="required">Company name is required.</div>
                    <div ng-message="minlength">Company name must be at least 3 characters.</div>
                </div>
            </md-autocomplete>
            <input type="hidden" name="companyName" ng-model="vm.company.companyName" required minlength="3" />
            <md-button class="md-raised md-primary" ng-click="vm.continueAdding()" ng-show="vm.isValidCompanyToAdd(companyNameForm)">Continue</md-button>
        </div>
    </form>

    <form name="userForm" ng-if="vm.continueAdd">
        <div layout-gt-md="row" offset="20">
            <md-autocomplete flex
                             md-no-cache
                             md-input-name="matchedCompany"
                             md-selected-item="vm.matchedCompany"
                             md-search-text="vm.company.companyName"
                             md-selected-item-change="vm.showCompanyDetails(item)"
                             md-items="item in vm.companyIntellisense(vm.company.companyName)"
                             md-item-text="item.aliasName"
                             md-floating-label="Company Name*"
                             ng-model-options="{debounce: 250}"
                             required>
                <md-item-template>
                    <span class="item-title">
                        <span md-highlight-text="vm.company.companyName">{{item.aliasName}}</span>
                    </span>
                </md-item-template>
                <div ng-messages="userForm.companyName.$error" ng-if="userForm.matchedCompany.$touched || vm.formSubmitted">
                    <div ng-message="required">Company name is required.</div>
                </div>
            </md-autocomplete>
            <input type="hidden" name="companyName" ng-model="vm.company.companyName" required />
            <md-autocomplete flex
                             md-no-cache
                             md-input-name="parentCompanyName"
                             md-selected-item="vm.parentCompany"
                             md-input-maxlength="300"
                             md-selected-item-change="vm.selectedParentChange(item)"
                             md-search-text="vm.parentSearch.searchText"
                             md-items="item in vm.companyIntellisense(vm.parentSearch.searchText)"
                             md-item-text="item.aliasName"
                             md-floating-label="Parent Company Name"
                             ng-model-options="{debounce: 250}">
                <md-item-template>
                    <span md-highlight-text="vm.parentSearch.searchText">{{item.aliasName}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
        <div layout-gt-md="row" offset="20" style="">
            <md-input-container class="md-block" flex>
                <label>Alias Name</label>
                <input ng-model="vm.company.aliasName">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Website URL</label>
                <input ng-model="vm.company.website">
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20">
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>Main Phone Number</label>
                <input ng-model="vm.company.phone">
            </md-input-container>
        </div>



        <div layout-gt-md="row" offset="20">
            <h5>Location</h5>
        </div>
        <div layout-gt-md="row" offset="20">
            <md-input-container class="md-block" flex>
                <label>Location Name</label>
                <input ng-model="vm.company.locationName">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Address 1*</label>
                <input ng-model="vm.company.locationAddress1" required name="locationAddress1">
                <div ng-messages="userForm.locationAddress1.$error" ng-if="userForm.locationAddress1.$touched || vm.formSubmitted">
                    <div ng-message="required">Location Address 1 is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20">
            <md-input-container class="md-block" flex>
                <label>Address 2</label>
                <input ng-model="vm.company.locationAddress2">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>City*</label>
                <input ng-model="vm.company.locationCity" required name="locationCity">
                <div ng-messages="userForm.locationCity.$error" ng-if="userForm.locationCity.$touched || vm.formSubmitted">
                    <div ng-message="required">Location City is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20">
            <md-input-container class="md-block" flex>
                <label>State/Province*</label>
                <md-select ng-model="vm.company.locationState" required name="locationState">
                    <md-option ng-repeat="item in vm.stateProvinces" value="{{item.stateProvinceCode}}">
                        {{item.stateProvinceCode}}
                    </md-option>
                </md-select>
                <div ng-messages="userForm.locationState.$error" ng-if="userForm.locationState.$touched || vm.formSubmitted">
                    <div ng-message="required">Location State is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Zip/Postal Code*</label>
                <input ng-model="vm.company.locationZip" required name="locationZip">
                <div ng-messages="userForm.locationZip.$error" ng-if="userForm.locationZip.$touched || vm.formSubmitted">
                    <div ng-message="required">Location Zip/Postal Code is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row">
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>Location Phone</label>
                <input ng-model="vm.company.locationPhone">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm="40">
                <label>Country*</label>
                <md-select ng-model="vm.company.locationCountry" name="locationCountry" required>
                    <md-option ng-repeat="item in vm.countries" value="{{item.countryKey}}">
                        {{item.countryName}}
                    </md-option>
                </md-select>
                <div ng-messages="userForm.locationCountry.$error" ng-if="userForm.locationCountry.$touched || vm.formSubmitted">
                    <div ng-message="required">Location Country is required.</div>
                </div>
            </md-input-container>
            <div flex-gt-sm="10" ng-show="!vm.hasDefaultCountry">
                <md-checkbox flex ng-model="vm.company.setDefaultCountry">
                    Set as Default
                </md-checkbox>
            </div>
        </div>



        <div layout-gt-md="row" offset="20">
            <h5>Contact</h5>
        </div>
        <div layout-gt-md="row" offset="20">
            <md-autocomplete flex
                             md-no-cache
                             md-input-name="matchedContact"
                             md-selected-item="vm.matchedContact"
                             md-search-text="vm.company.contactName"
                             md-items="item in vm.contactsIntellisense(vm.company.contactName)"
                             md-item-text="item.fullName"
                             md-floating-label="Contact Name*"
                             ng-model-options="{debounce: 250}">
                <md-item-template>
                    <span class="item-title">
                        <span md-highlight-text="vm.company.contactName">{{item.fullName}}</span>
                    </span>
                </md-item-template>
                <div ng-messages="userForm.contactName.$error" ng-if="userForm.matchedContact.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact Name is required.</div>
                </div>
            </md-autocomplete>
            <input type="hidden" name="contactName" ng-model="vm.company.contactName" required />
            <md-input-container class="md-block" flex ng-hide="vm.matchedContact">
                <label>Title*</label>
                <input ng-model="vm.company.contactTitle" name="contactTitle" ng-required="!vm.matchedContact">
                <div ng-messages="userForm.contactTitle.$error" ng-if="userForm.contactTitle.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact Title is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20" ng-hide="vm.matchedContact">
            <md-input-container class="md-block" flex>
                <label>Mobile Phone</label>
                <input ng-model="vm.company.contactMobilePhone">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Office Phone</label>
                <input ng-model="vm.company.contactOfficePhone">
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20" ng-hide="vm.matchedContact">
            <md-input-container class="md-block" flex>
                <label>Home Phone</label>
                <input ng-model="vm.company.contactHomePhone">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Email Address*</label>
                <input type="email" ng-model="vm.company.contactEmailAddress" name="contactEmail" ng-required="!vm.matchedContact">
                <div ng-messages="userForm.contactEmail.$error" ng-if="userForm.contactEmail.$touched || vm.formSubmitted">
                    <div ng-message="email">Invalid email format.</div>
                    <div ng-message="required">Email Address is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20" ng-hide="vm.matchedContact">
            <md-input-container class="md-block" flex>
                <label>Address 1*</label>
                <input ng-model="vm.company.contactAddress1" name="contactAddress1" ng-required="!vm.matchedContact">
                <div ng-messages="userForm.contactAddress1.$error" ng-if="userForm.contactAddress1.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact Address 1 is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Address 2</label>
                <input ng-model="vm.company.contactAddress2">
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20" ng-hide="vm.matchedContact">
            <md-input-container class="md-block" flex>
                <label>City*</label>
                <input ng-model="vm.company.contactCity" name="contactCity" ng-required="!vm.matchedContact">
                <div ng-messages="userForm.contactCity.$error" ng-if="userForm.contactCity.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact City is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>State/Province*</label>
                <md-select ng-model="vm.company.contactState" name="contactState" ng-required="!vm.matchedContact">
                    <md-option ng-repeat="item in vm.stateProvinces" value="{{item.stateProvinceCode}}">
                        {{item.stateProvinceCode}}
                    </md-option>
                </md-select>
                <div ng-messages="userForm.contactState.$error" ng-if="userForm.contactState.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact State/Province is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row" offset="20" ng-hide="vm.matchedContact">
            <md-input-container class="md-block" flex>
                <label>Zip/Postal Code*</label>
                <input ng-model="vm.company.contactZip" name="contactZip" ng-required="!vm.matchedContact">
                <div ng-messages="userForm.contactZip.$error" ng-if="userForm.contactZip.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact Zip/Postal code is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>Country*</label>
                <md-select ng-model="vm.company.contactCountry" name="contactCountry" ng-required="!vm.matchedContact">
                    <md-option ng-repeat="item in vm.countries" value="{{item.countryKey}}">
                        {{item.countryName}}
                    </md-option>
                </md-select>
                <div ng-messages="userForm.contactCountry.$error" ng-if="userForm.contactCountry.$touched || vm.formSubmitted">
                    <div ng-message="required">Contact Country is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-md="row" class="right">
            <md-button ui-sref="companies">Cancel</md-button>
            <md-button ng-click="vm.addCompany(userForm, vm.company)">Save</md-button>
        </div>
    </form>
</md-card>