﻿<div>
    <md-content class="md-padding" layout="row" layout-md="column" layout-sm="column">
            <md-card flex>
                <md-card-content>
                        <h2 class="md-title">#{{vm.hashtag.tagName}}</h2>
                        <div ng-repeat="tagComment in vm.hashtag.tagNotes">
                            <span style="font-size: x-small;">{{tagComment.updateTime | date: 'MM/dd/yyyy hh:mm a'}}</span> <span flex ng-bind-html="tagComment | tagsFilter"></span>
                        </div>
                </md-card-content>
            </md-card>
    </md-content>
</div>