﻿
<div layout="row" class="full-height">
    <div ng-include="'app/layout/sidebar.html'" class="push-down"></div>

    <div class="hide-overflow content-margin" layout="column" flex data-ng-controller="shell as vm">

        <md-toolbar class="md-primary toolbar-position">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" hide-gt-sm ng-click="vm.openSidebar()">
                    <md-icon md-svg-icon="content/images/menu.svg"></md-icon>
                </md-button>
                <div layout="row" class="fill-height" flex>
                    <span class="logo" hide-xs></span>
                    <div class="header-divider" hide-xs></div>
                    <h2>
                        <div flex>
                            <span class="title-text" ng-show="vm.displayHeading">{{vm.heading}}</span>
                            <span class="sub-title-text" ng-show="vm.displayMentionId" hide-xs>{{vm.mentionId}}</span>
                            <span class="sub-title-text" ng-show="vm.displayPhoneNumber"> | {{vm.phoneNumber}}</span>
                            <span class="sub-title-text" ng-show="vm.displayEmailAddress"> | <a ng-href="mailto:{{vm.emailAddress}}"><u>{{vm.emailAddress}}</u></a></span>
                        </div>
                    </h2>
                    <span flex></span>
                    <div>
                        <form ng-submit="vm.search()">
                            <md-input class="search-input" hide-xs>                                
                                <input type="text" ng-model="vm.searchInput" placeholder="Search" id="topbarSearchText" class="search-textbox" style="width: 300px !important;">
                            </md-input>
                        </form>
                    </div>
                    <div layout="row" class="fill-height speed-dial-margin">
                        <md-fab-speed-dial md-direction="down" class="md-scale" md-open="vm.isFabOpen" ng-mouseenter="vm.isFabOpen=true" ng-mouseleave="vm.isFabOpen=false">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-mini md-primary">
                                    <md-tooltip md-direction="left">Add</md-tooltip>
                                    <i class="fa fa-plus" aria-label="menu"></i>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <div ng-repeat="item in vm.quickAddItems">
                                    <md-tooltip md-direction="left">{{::item.name}}</md-tooltip>
                                    <a ng-href="{{::item.href}}"><md-icon class="quick-add {{::item.icon}}"></md-icon></a>
                                </div>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                    <div layout="row">
                        <a ng-href="mailto:eastdilmsm+qarn3brnh1fv8y344gfw@boards.trello.com?subject=ESX Feedback">
                            <i class="material-icons md-36">feedback</i>
                        </a>
                    </div>
                    <div layout="row">
                        <md-menu md-offset="-20 50" md-position-mode="target-right target">
                            <div fex>
                                <div class="profile-circle-big"
                                     ng-attr-style="background-color: {{ vm.selectedUserPosition | colorPicker }}; cursor:pointer"
                                      ng-click="$mdOpenMenu($event)"
                                     layout="row"
                                     layout-align="center center"
                                     layout-margin>
                                    <h1 style="color:white" class="md-headline">{{ vm.selectedUser.fullName[0] }}</h1>
                                </div>
                            </div>
                            <md-menu-content width="5">
                                <div ng-repeat="user in vm.userList track by $index">
                                    <md-menu-item ng-if="user.isPrincipal===true && user.isSelected===true" layout-align="center center" style="min-height:55px;" flex>
                                        <div flex="25">
                                            <div class="profile-circle-big"
                                                 ng-attr-style="background-color: {{ $index | colorPicker }}"
                                                 layout="row"
                                                 layout-align="center center"
                                                 layout-margin>
                                                <h1 style="color:white" class="md-headline">{{ user.fullName[0] }}</h1>
                                            </div>
                                        </div>
                                        <div flex="40">
                                            <span>
                                                {{ user.fullName }}
                                            </span>
                                        </div>
                                        <div flex="35">
                                            <span>
                                                <a ng-href="#/userdelegates">
                                                    <i class="material-icons">settings</i>
                                                </a>

                                            </span>
                                        </div>
                                    </md-menu-item>
                                    <md-menu-item ng-if="user.isPrincipal===true  && user.isSelected===false" class="menu-bg" ng-click="vm.impersonateUser(user)" layout-align="center center" style="min-height:55px;" flex>
                                        <div flex="25" >
                                            <div class="profile-circle-big"
                                                 ng-attr-style="background-color: {{ $index | colorPicker }}"
                                                 layout="row"
                                                 layout-align="center center"
                                                 layout-margin>
                                                <h1 style="color:white" class="md-headline">{{ user.fullName[0] }}</h1>
                                            </div>
                                        </div>
                                        <div flex="75">
                                            <span>
                                                {{ user.fullName }}
                                            </span>
                                        </div>
                                    </md-menu-item>
                                    <md-menu-item ng-if="user.isSelected===true && user.isPrincipal === false" style="background-color: rgba(0,0,0,.10)" layout-align="center center" flex>
                                        <div flex="25">
                                            <div class="user-profile-circle"
                                                 ng-attr-style="background-color: {{ $index | colorPicker }}"
                                                 layout="row"
                                                 layout-align="center center"
                                                 layout-margin>
                                                <h1 style="color:white" class="md-headline">{{ user.fullName[0] }}</h1>
                                            </div>
                                        </div>
                                        <div flex="40">
                                            <span>
                                                {{ user.fullName }}
                                            </span>
                                        </div>
                                        <div flex="35">
                                            <i class="material-icons">checked</i>
                                        </div>
                                    </md-menu-item>
                                    <md-menu-item ng-if="user.isSelected===false && user.isPrincipal === false"  layout-align="center center" class="menu-bg"  ng-click="vm.impersonateUser(user)" flex>
                                        <div flex="25">
                                            <div class="user-profile-circle"
                                                 ng-attr-style="background-color: {{ $index | colorPicker }}"
                                                 layout="row"
                                                 layout-align="center center"
                                                 layout-margin>
                                                <span style="color:white" class="md-headline">{{ user.fullName[0] }}</span>
                                            </div>
                                        </div>
                                        <div flex="75">
                                            <span flex="flex">
                                                {{ user.fullName }}
                                            </span>
                                        </div> 
                                    </md-menu-item>
                                    <md-divider></md-divider>
                                </div>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <md-tabs class="pageNav tabs-height" ng-class="vm.subnavClass" md-selected="vm.tabIndex">
            <md-tab ng-if="!vm.subnavItems.length" label=""></md-tab>
            <md-tab ng-repeat="tab in vm.subnavItems" ui-sref="{{tab.sref}}">{{tab.label}}</md-tab>
        </md-tabs>

        <md-content id="contentSection" flex class="content-well">                
            <div data-ui-view></div>
        </md-content>
    </div>
</div>

<md-progress-circular md-mode="indeterminate" ng-show="vm.isBusy" style="position: absolute; top: 47%; left: 47%;"></md-progress-circular>