﻿<md-sidenav class="md-sidenav-left esx-background-color" md-component-id="extended" md-is-locked-open="$mdMedia('gt-sm')" flex>
    <md-content>
        <md-list-item ng-click="s.closeSidebar('pipeline')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'dashboard'}">
            <span class="sidebar-center">
                <ng-md-icon icon="dashboard" class="sidebar-item-icon" size="30"></ng-md-icon>
                <p class="sidebar-text">Pipeline</p>
            </span>
        </md-list-item>
        <md-list-item ng-click="s.closeSidebar('newsFeed')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'newsFeed'}">
            <span class="sidebar-center">
                <ng-md-icon class="sidebar-item-icon" icon="forum" size="30"></ng-md-icon>
                <p class="sidebar-text">Pulse</p>
            </span>
        </md-list-item>

        <md-list-item ng-click="s.closeSidebar('reminders')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'reminders'}">
            <span class="sidebar-center">
                <ng-md-icon class="sidebar-item-icon" icon="alarm" size="30"></ng-md-icon>
                <p class="sidebar-text">
                    To-Do
                    <span class="reminders-count" ng-if="s.activeRemindersCount > 0">{{s.activeRemindersCount}}</span>
                </p>
            </span>
        </md-list-item>

        <md-list-item ng-click="s.closeSidebar('search')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'search'}">
            <span class="sidebar-center">
                <ng-md-icon icon="search" class="sidebar-item-icon" size="30"></ng-md-icon>
                <p class="sidebar-text">Search</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="s.closeSidebar('pitches')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'pitches'}">
            <span class="sidebar-center">
                <ng-md-icon icon="insert_chart" class="sidebar-pitches" size="30"></ng-md-icon>
                <p class="sidebar-text">Pitches</p>
            </span>
        </md-list-item>
        <md-list-item ng-click="s.closeSidebar('deals')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'deals'}">
            <span class="sidebar-center">
                <ng-md-icon icon="attach_money" class="sidebar-deals" size="30"></ng-md-icon>
                <p class="sidebar-text">Deals</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="s.closeSidebar('properties')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'properties'}">
            <span class="sidebar-center">
                <ng-md-icon icon="location_city" class="sidebar-properties" size="30"></ng-md-icon>
                <p class="sidebar-text">Properties</p>
            </span>
        </md-list-item>
        <md-list-item ng-click="s.closeSidebar('loans')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'loans'}">
            <span class="sidebar-center">
                <i class="fa fa-money fa-2x fa-loans-icon"></i>
                <p class="fa-sidebar-text">Loans</p>
            </span>
        </md-list-item>
        <md-list-item ng-click="s.closeSidebar('companies')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'companies'}">
            <span class="sidebar-center">
                <ng-md-icon icon="work" class="sidebar-companies" size="30"></ng-md-icon>
                <p class="sidebar-text">Companies</p>
            </span>
        </md-list-item>
        <md-list-item ng-click="s.closeSidebar('contacts')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'contacts'}">
            <span class="sidebar-center">
                <ng-md-icon icon="contacts" class="sidebar-contacts" size="30"></ng-md-icon>
                <p class="sidebar-text">Contacts</p>
            </span>
        </md-list-item>
        <md-list-item ng-click="s.closeSidebar('valuations')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'valuations'}">
            <span class="sidebar-center">
                <ng-md-icon icon="poll" class="sidebar-valuations" size="30"></ng-md-icon>
                <p class="sidebar-text">Valuations</p>
            </span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="s.closeSidebar('settings')" class="sidebar-item" ng-class="{'sidebar-item-active': s.activeIcon === 'settings'}">
            <span class="sidebar-center">
                <ng-md-icon icon="" class="sidebar-item-icon" size="30"></ng-md-icon>
                <p class="sidebar-text">Settings</p>
            </span>
        </md-list-item>
        <div ng-if="buildNumber.length>1">
            <md-divider></md-divider>
            <md-list-item>
                <span class="sidebar-center">
                    {{buildNumber}}
                </span>
            </md-list-item>
            <md-divider></md-divider>
        </div>
        <div>
            <md-divider></md-divider>
            <md-list-item>
                <span class="sidebar-center">
                        {{fullName}}
                </span>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-content>
</md-sidenav>




