﻿<section layout="row" flex>
    <md-toolbar class="md-primary">
        <h2 class="md-toolbar-tools">
            <span style="color: white;">Welcome to Eastdil Secured Esx</span>
        </h2>
    </md-toolbar>
</section>