﻿<div layout-gt-sm="column" flex-gt-sm="50">
    <md-card>
        <h4 class="pad">Deal Stats</h4>
        <md-divider></md-divider>
        <div layout="column" layout-gt-xs="row" style="border-left: solid #45B649 5px;">
            <div layout="column" flex="25" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Pitches</span>
                <span class="summaryCardNum">{{vm.stats.pitches}}</span>
                <md-select ng-model="vm.selectedOptions.pitches" placeholder="Pitches">
                    <md-option ng-repeat="period in vm.pitchPeriods" ng-value="period.value">
                        {{period.text}}
                    </md-option>
                </md-select>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="25" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Active Deals</span>
                <span class="summaryCardNum">{{vm.stats.activeDeals}}</span>
                <span class="summaryCardLabel">As Client</span>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="25" layout-align="top center" class="summaryCard">
                <span  class="summaryCardHeader">Bid Activity</span>
                <span class="summaryCardNum">{{vm.stats.bidActivity}}</span>
                <md-select ng-model="vm.selectedOptions.bidActivity" placeholder="Bid Activity">
                    <md-option ng-repeat="period in vm.bidActivityPeriods" ng-value="period.value">
                        {{period.text}}
                    </md-option>
                </md-select>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="25" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Deals in Pursuit</span>
                <span class="summaryCardNum">{{vm.stats.dealsInPursuit}}</span>
                <span class="summaryCardLabel">CAs Signed</span>
            </div>
        </div>
    </md-card>
</div>
<div layout-gt-sm="column" flex-gt-sm="50" >    
    <md-card >
        <h4 class="pad" >Company Holdings</h4>
        <md-divider></md-divider>
        <div layout="column" layout-gt-xs="row" style="border-left: solid #499AD4 5px;">
            <div layout="column" flex="50" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Properties</span>
                <span class="summaryCardNum">{{vm.stats.properties}}</span>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="50" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Hold Period</span>
                <span class="summaryCardNum">{{vm.stats.holdPeriod}}</span>
                <md-select ng-model="vm.selectedOptions.holdPeriod" placeholder="Hold Period">
                    <md-option ng-repeat="period in vm.holdPeriods" ng-value="period.value">
                        {{period.text}}
                    </md-option>
                </md-select>
            </div>
            <div layout="column" flex="50" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Loans</span>
                <span class="summaryCardNum">{{vm.stats.loans}}</span>
            </div>
            <div layout="row" class="summaryCardDivider">
                <md-divider></md-divider>
            </div>
            <div layout="column" flex="50" layout-align="top center" class="summaryCard">
                <span class="summaryCardHeader">Loans Maturing</span>
                <span class="summaryCardNum">{{vm.stats.loansMaturing}}</span>
                <md-select ng-model="vm.selectedOptions.loansMaturing" placeholder="Loans Maturing">
                    <md-option ng-repeat="period in vm.loansMaturingPeriods" ng-value="period.value">
                        {{period.text}}
                    </md-option>
                </md-select>
            </div>
        </div>
    </md-card>
</div>


