﻿<md-card-content >
    <h2 class="md-title" style="padding-top: 0; padding-bottom: 0;">Deal Activity</h2>
    <md-select ng-model="vm.dealTimePeriod" placeholder="Deal Activity" flex="25" style="float: right; margin-top: -35px;">
        <md-option ng-value="period.value">
            Last 6 Months
        </md-option>
    </md-select>
    <md-divider></md-divider>
    <md-list>
        <md-list-item style="padding-bottom: 10px;">
            <div layout="column" flex>
                    <b>Properties</b><br/>
                <div style="width: 100%; height: 100%; display: inline-block;">
                    <img src="Content/images/loans-graph.png" />
                </div>
            </div>
        </md-list-item>
        <md-list-item>
            <div layout="column" flex>
                    <b>Loans</b><br/>
                <div style="width: 100%; height: 100%; display: inline-block;">
                    <img src="Content/images/loans-graph.png" />
                </div>
                </div>
        </md-list-item>
    </md-list>
</md-card-content>