﻿<div layout="column" flex>
    <div layout-gt-sm="row" ui-view="information"></div>
    <div layout-gt-sm="row"  >
        <div  layout-gt-sm="column" flex >
            <md-card ui-view="dealActivity"></md-card>
            <md-card ui-view="alerts"></md-card>
        </div>
        <div  layout-gt-sm="column" flex >
            <md-card   ui-view="comments"></md-card>
        </div>
    </div>
</div>