﻿<md-card-content  >
        <div >
            <h4 class="pad">Comments</h4>
        </div>
        <md-divider></md-divider>
        <div>
            <input type="text" maxlength="255" class="commentSearch" placeholder="Search Comments" ng-model="vm.commentsQueryObject.filterText" ng-change="vm.searchComments()" />
        </div>
        <md-divider></md-divider>
        <div flex class="summaryCommentsList" id="commentsList">
                <md-list continuous-page query-function="vm.getMentionedComments" query-object="vm.commentsQueryObject" paging-data-watch="vm.commentsList.pagingData" container="#commentsList">
                    <md-list-item class="md-2-line" ng-repeat="comment in vm.commentsList.resources">
                        <div class="md-list-item-text" layout="column">
                            <p>
                                <strong>{{comment.creatorName}}</strong>
                                <span ng-bind-html="comment.creatorMentionID | tagsFilter"></span>
                                <span class="text-subtle">{{comment.createTime | adjustDate |date: 'MM/dd/yyyy hh:mm a'}}</span>
                            </p>
                            <p ng-bind-html="comment | tagsFilter"></p>
                        </div>
                    </md-list-item>
                </md-list>
        </div>
        <md-divider></md-divider>
        <div >
            <ed-tags-field ng-model="newComment" primary-mention-id="{{vm.companyMentionId}}" comment-added-callback="vm.commentAdded" direction-up="true" placeholder="Add a comment..." flex />
        </div>
</md-card-content>