﻿<div flex>
    <div layout-gt-sm="row" ui-view="propertyHeader"></div>
    <div layout-gt-md="row">
        <div layout-gt-md="row" flex-gt-md="50">
            <md-card flex>
                <md-card-content style="padding: 0">
                    <h4 class="pad">Profile</h4>
                    <md-divider></md-divider>
                    <div layout="column" layout-gt-xs="row" flex layout-margin>
                        <div layout="column" flex="20">
                            <div flex style="font-weight: bold;">Alternate Name</div>
                            <div flex>N/A</div>
                        </div>
                        <div layout="column" flex="20">
                            <div flex style="font-weight: bold;">Region</div>
                            <div flex>N/A</div>
                        </div>
                        <div layout="column" flex="20">
                            <div flex style="font-weight: bold;">Sub-Market</div>
                            <div flex>N/A</div>
                        </div>
                        <div layout="column" flex="20">
                            <div flex style="font-weight: bold;">Portfolio</div>
                            <div flex>N/A</div>
                        </div>
                        <div layout="column" flex="20">
                            <div flex style="font-weight: bold;">Campus</div>
                            <div flex>N/A</div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div layout-gt-md="row" flex-gt-md="50">
            <md-card flex>
                <h4 class="pad">Valuation</h4>
                <md-divider></md-divider>
                <div layout="column" layout-gt-xs="row" style="border-left: solid #499AD4 5px;">
                    <div layout="column" flex="50" layout-align="top center" class="summaryCard" ng-repeat="valuation in vm.propertyDetails.valuationHistory">
                        <span class="summaryCardHeader">&nbsp;</span>
                        <span ng-class="{'secondary-valuation': $index !== 0}">
                            <span class="summaryCardNum">{{valuation.askingPrice | largeCurrency}}</span>
                        </span>
                        <span class="summaryCardLabel">&nbsp;</span>
                    </div>
                    <div layout="row" class="summaryCardDivider">
                        <md-divider></md-divider>
                    </div>
                    <div layout="column" flex="50" layout-align="top center" class="summaryCard" ng-if="!vm.propertyDetails.valuationHistory.length">
                        <span class="summaryCardHeader">&nbsp;</span>
                        <span class="summaryCardNum">No valuation data available</span>
                        <span class="summaryCardLabel">&nbsp;</span>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div layout-gt-md="row">
        <md-content layout="column" flex id="valuationList" class="list-view-container">
            <md-subheader class="list-view-header">
                <div layout="row">
                    <div flex layout="row" hide show-gt-sm>
                        <div flex="15">
                            <b>Valuation Date</b>
                        </div>
                        <div flex="15" layout="row" layout-align="end">
                            <b>Amount</b>
                        </div>
                        <div flex="15" style="cursor: pointer;" layout="row" layout-align="end">
                            <b>Amt/Unit</b>
                        </div>
                        <div flex="15" style="cursor: pointer;" layout="row" layout-align="end">
                            <b>Deal Code</b>
                        </div>
                        <div flex="20" style="cursor: pointer;" layout="row" layout-align="end">
                            <b>Deal Name</b>
                        </div>
                        <div flex="20" style="cursor: pointer;" layout="row" layout-align="end">
                            <b>Buyer</b>
                        </div>
                    </div>
                </div>
            </md-subheader>
            <section layout-align="center start" class="content-color list-view">
                <md-divider></md-divider>
                <md-list continuous-page container="#valuationList" query-function="vm.getValuationHistory" query-object="vm.queryObject" paging-data-watch="vm.valuationsList.pagingData">
                    <!-- IE needs an ng-click on the item to align stuff properly even if the row doesn't do anything. -->
                    <md-list-item ng-repeat="valuation in vm.valuationsList.resources" ng-click="neededForIeHack = true">
                        <div layout="column" layout-gt-sm="row" layout-wrap flex>
                            <div flex hide-gt-sm layout="row">
                                {{valuation.valuationDate | date:'mediumDate'}}
                                <a hide-gt-sm class="md-secondary" ng-click="valuation.showDetails = !valuation.showDetails">
                                    <span class="fa" ng-class="valuation.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                                </a>
                            </div>
                            <div flex layout="row" hide show-gt-sm>
                                <div flex="15">
                                    {{valuation.valuationDate | date:'mediumDate'}}
                                </div>
                                <div flex="15"  layout="row"  layout-align="end">
                                    {{valuation.askingPrice | largeCurrency}}
                                </div>
                                <div flex="15" layout="row"  layout-align="end">
                                    {{valuation.unitPrice | largeCurrency}}
                                </div>
                                <div flex="15" layout="row" layout-align="end">
                                    {{valuation.dealCode}}
                                </div>
                                <div flex="20" layout="row" layout-align="end">
                                    {{valuation.dealName}}
                                </div>
                                <div flex="20" layout="row" layout-align="end">
                                    {{valuation.buyer}}
                                </div>
                            </div>
                            <div flex layout="column" hide-gt-sm ng-show="valuation.showDetails">
                                <div layout="row">
                                    <span flex="50" layout="row" layout-align="end"><b>Valuation Date:</b></span>
                                    <span flex="45" flex-offset="5">{{valuation.valuationDate | date:'mediumDate'}}</span>
                                </div>
                                <div layout="row">
                                    <span flex="50" layout="row" layout-align="end"><b>Amount:</b></span>
                                    <span flex="45" flex-offset="5">{{valuation.askingPrice | largeCurrency}}</span>
                                </div>
                                <div layout="row">
                                    <span flex="50" layout="row" layout-align="end"><b>Amt/Unit:</b></span>
                                    <span flex="45" flex-offset="5">{{valuation.unitPrice}}</span>
                                </div>
                                <div layout="row">
                                    <span flex="50" layout="row" layout-align="end"><b>Deal Code:</b></span>
                                    <span flex="45" flex-offset="5">{{valuation.dealCode}}</span>
                                </div>
                                <div layout="row">
                                    <span flex="50" layout="row" layout-align="end"><b>Deal Name:</b></span>
                                    <span flex="45" flex-offset="5">{{valuation.dealName}}</span>
                                </div>
                                <div layout="row">
                                    <span flex="50" layout="row" layout-align="end"><b>Buyer:</b></span>
                                    <span flex="45" flex-offset="5">{{valuation.buyer}}</span>
                                </div>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
    </div>
</div>

<style type="text/css">
    .secondary-valuation {
        color: lightgray;
    }
</style>