﻿@using System.Web.Razor.Generator
@using Cassette.Views

@{
    ViewBag.Title = "Index";
    Bundles.Reference("app");
    Bundles.Reference("content");
}

<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <base href="@Href("~/")" />
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>
    <title data-ng-bind="title"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <script type="text/javascript">
        // Must be first. IE10 mobile viewport fix
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    @Bundles.RenderStylesheets()

    <link href="~/scripts/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Scripts/lib/ng-sortable/ng-sortable.min.css" rel="stylesheet" />

</head>
<body class="esx-background-color">
    <div data-ng-include="'app/layout/shell.html'" class="full-height" data-ng-controller="sidebar as s"></div>

    <span data-cc-scroll-to-top></span>
    
    <!-- Vendor Scripts -->
    <script src="~/scripts/lib/lodash/lodash.js"></script> <!-- Must be above Angular for constant to be defined -->
    <script src="~/scripts/lib/jquery/jquery.js"></script>
    <script src="~/scripts/lib/angular/angular.js"></script>
    <script src="~/scripts/lib/angular-animate/angular-animate.js"></script>
    <script src="~/scripts/lib/angular-messages/angular-messages.js"></script>
    <script src="~/scripts/lib/angular-resource/angular-resource.js"></script>
    <script src="~/scripts/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/scripts/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/Scripts/lib/angular-aria/angular-aria.js"></script>
    <script src="~/scripts/lib/angular-material/angular-material.js"></script>
    <script src="~/scripts/lib/angular-material-icons/angular-material-icons.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvGd2TnwEv_bGUWAgtUDuro3HNKjxsgY4&libraries=places,drawing,geometry"></script>
    <script src="~/Scripts/lib/angular-simple-logger/angular-simple-logger.js"></script>
    <script src="~/Scripts/lib/angular-google-maps/angular-google-maps.js"></script>    
    <script src="~/scripts/toastr.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/paging.js"></script>
    <script src="~/scripts/ng-infinite-scroll.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/lib/rangy/rangy-core.js"></script>
    <script src="~/Scripts/lib/rangy/rangy-textrange.js"></script>
    <script src="~/Scripts/moment-timezone.min.js"></script>
    <script src="~/Scripts/lib/ment.io/dist/mentio.js"></script>
    <script src="~/Scripts/bililiteRange.js"></script>
    <script src="~/Scripts/jquery.sendKeys.js"></script>
    <script src="~/Scripts/lib/ng-file-upload/ng-file-upload.js"></script>
    <script src="~/Scripts/lib/ng-sortable/ng-sortable.min.js"></script>
    <script src="~/Scripts/lib/google-maps/markerclusterer.js"></script>
    <!-- app -->
    @Bundles.RenderScripts()

</body>
</html>
