﻿<md-content layout="column" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="loansList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <div layout="row" layout-align="start center" class="content-background-color short-row">
                <md-button href="/#/companies/{{::vm.queryObject.companyId}}/loans/add" class="md-primary">Add</md-button>
                <md-button class="md-primary">Remove</md-button>
                <div flex layout="row" layout-align="end" layout-margin>
                    <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchCompanyLoans()" placeholder="Filter" class="pageFilterBox"/>
                </div>
            </div>
            <md-divider class="subheader-divider"></md-divider>
            <div layout="row" class="list">
                <div flex flex-gt-sm="25" layout="row">
                    <div ng-click="vm.sortColumn('IsWatched')" style="cursor: pointer;" class="starColumn">
                        <i class="material-icons md-18">star</i>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div ng-click="vm.sortColumn('LoanName')" style="cursor: pointer;">
                        <b>Name</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'LoanName'">
                            {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </i>
                    </div>
                </div>
                <div flex="75" layout="row" hide show-gt-sm>
                    <div flex="20" ng-click="vm.sortColumn('Borrower')" style="cursor: pointer;">
                        <b>Borrower</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Borrower'">
                            {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('Lender')" style="cursor: pointer;">
                        <b>Lender</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Lender'">
                            {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </i>
                    </div>
                    <div flex="20" layout="row" layout-align="end start" ng-click="vm.sortColumn('LoanAmount')" style="cursor: pointer;">
                        <b>Loan Amount</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'LoanAmount'">
                            {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </i>
                    </div>
                    <div flex="20" layout="row" layout-align="end start" ng-click="vm.sortColumn('OriginationDate')" style="cursor: pointer;">
                        <b>Origination</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'OriginationDate'">
                            {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </i>
                    </div>
                    <div flex="20" layout="row" layout-align="end start" ng-click="vm.sortColumn('MaturityDate')" style="cursor: pointer;">
                        <b>Maturation</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'MaturityDate'">
                            {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                        </i>
                    </div>
                </div>
            </div>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page container="#loansList" query-function="vm.getCompanyLoans" query-object="vm.queryObject" paging-data-watch="vm.loansList.pagingData">
                <md-list-item ng-repeat="loan in vm.loansList.resources" ng-click="vm.selectRow(loan)">
                    <div layout="column" layout-gt-sm="row" layout-wrap flex>
                        <div flex-gt-sm="25" layout="row">
                            <div class="starColumn">
                                <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                    <i class="material-icons md-18">{{loan.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            {{loan.loanName}}
                            <a hide-gt-sm class="md-secondary" aria-label="Details" ng-click="loan.showDetails = !loan.showDetails">
                                <span class="fa" ng-class="loan.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="75" layout="row" hide show-gt-sm>
                            <div flex="20">
                                {{loan.borrower}}
                            </div>
                            <div flex="20">
                                {{loan.lender}}
                            </div>
                            <div flex="20" layout="row" layout-align="end">
                                {{loan.loanAmount | largeCurrency}}
                            </div>
                            <div flex="20">
                                {{loan.originationDate | date: 'MM/dd/yy'}}
                            </div>
                            <div flex="20">
                                {{loan.maturityDate | date: 'MM/dd/yy'}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="loan.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Borrower:</b></span>
                                <span flex="45" flex-offset="5">{{loan.borrower}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Lender:</b></span>
                                <span flex="45" flex-offset="5">{{loan.lender}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Loan Amount:</b></span>
                                <span flex="45" flex-offset="5">{{loan.loanAmount | largeCurrency}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Origination:</b></span>
                                <span flex="45" flex-offset="5">{{loan.originationDate | date: 'MM/dd/yy'}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Maturation:</b></span>
                                <span flex="45" flex-offset="5">{{loan.maturityDate | date: 'MM/dd/yy'}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>
