﻿<div layout="row" flex flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80">
    <div flex>
        <md-card>
            <span layout-margin>
                <div flex>
                    <h1>Add Company Loan</h1>
                </div>
                <div flex>* = Required Field</div>
            </span>
            <div layout-padding>
                <form name="loanAdd" ng-submit="vm.addCompanyLoan(loanAdd, vm.loan)" novalidate>
                    <div layout-gt-sm="row">
                        <md-autocomplete flex-gt-sm="50"
                                         md-no-cache
                                         md-input-name="property"
                                         md-selected-item="vm.property"
                                         md-input-maxlength="300"
                                         md-selected-item-change="vm.selectedPropertyChange(p)"
                                         md-search-text="vm.propertySearch.searchText"
                                         md-items="p in vm.propertyIntellisense(vm.propertySearch.searchText)"
                                         md-item-text="p.propertyName"
                                         md-floating-label="Property*"
                                         ng-model-options="{debounce: 250}">
                            <md-item-template>
                                <span md-highlight-text="vm.propertySearch.searchText">{{p.propertyName}}</span>
                            </md-item-template>
                            <div class="errors" ng-messages="loanAdd.propertyName.$error" ng-if="loanAdd.propertyName.$touched || loanAdd.$submitted">
                                <div ng-message="required">
                                    <span ng-show="vm.propertySearch.searchText.length">An existing property must be selected from this autocomplete list.</span>
                                    <span ng-hide="vm.propertySearch.searchText.length">Property Name is required.</span>
                                </div>
                            </div>
                        </md-autocomplete>
                        <input type="text" name="propertyName" ng-hide="true" ng-model="vm.property" required />
                        <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                            <label>Property Type*</label>
                            <md-select ng-model="vm.loan.propertyType" placeholder="Select a property Type">
                                <md-option ng-value="type.type" ng-repeat="type in vm.propertyTypes">{{type.type}}</md-option>
                            </md-select>
                            <div class="errors" ng-messages="loanAdd.propertyType.$error" ng-if="loanAdd.propertyType.$touched || loanAdd.$submitted">
                                <div ng-message="required">Property Type is required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <div layout="row" flex-gt-sm="50">
                            <big-number-input flex label="Property Valuation" ng-model="vm.loan.valuation"></big-number-input>
                        </div>
                        <div layout="row" flex-gt-sm="50" flex-offset-gt-sm="5"></div>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>Loan Name*</label>
                            <input required md-maxlength="200" name="name" ng-model="vm.loan.loanName" />
                            <div ng-messages="loanAdd.name.$error" ng-if="loanAdd.name.$touched || loanAdd.$submitted">
                                <div ng-message="required">Loan Name is required.</div>
                                <div ng-message="md-maxlength">The loan name has to be less than 200 characters long.</div>
                            </div>
                        </md-input-container>
                        <div flex-gt-sm="50" flex-offset-gt-sm="5">
                            <big-number-input flex label="Loan Amount*" name="loanAmount" ng-model="vm.loan.loanAmount" required>
                                <div ng-messages="loanAdd.loanAmount.$error" ng-if="loanAdd.loanAmount.$touched || loanAdd.$submitted">
                                    <div ng-message="required">Loan Amount is required.</div>
                                </div>
                            </big-number-input>
                        </div>
                    </div>

                    <div layout-gt-sm="row">
                        <div layout-gt-sm="row" flex-gt-sm="50" layout-align="start center">
                            <div flex="50">
                                <md-checkbox ng-model="vm.loan.isBorrower" ng-change="vm.changeBorroweLender(true)">Borrower</md-checkbox>
                            </div>
                            <div flex="50">
                                <md-checkbox ng-model="vm.loan.isLender" ng-change="vm.changeBorroweLender(false)">Lender</md-checkbox>
                            </div>
                        </div>
                        <md-autocomplete aria-required flex-gt-sm="50" flex-offset-gt-sm="5"
                                         md-no-cache
                                         md-input-name="lender"
                                         md-selected-item="vm.borrowerLenderCompany"
                                         md-input-maxlength="300"
                                         md-selected-item-change="vm.selectedCompanyChange(item)"
                                         md-search-text="vm.companySearch.searchText"
                                         md-items="item in vm.companyIntellisense(vm.companySearch.searchText)"
                                         md-item-text="item.aliasName"
                                         ng-attr-md-floating-label="{{vm.loan.isBorrower ? 'Lender*' : 'Borrower*'}}"
                                         ng-model-options="{debounce: 250}">
                            <md-item-template>
                                <span md-highlight-text="vm.companySearch.searchText">{{item.aliasName}}</span>
                            </md-item-template>
                            <div ng-messages="loanAdd.borrowerLenderCompany.$error" ng-if="loanAdd.borrowerLenderCompany.$touched || loanAdd.$submitted">
                                <div ng-message="required">
                                    <span ng-show="vm.companySearch.searchText.length">An existing {{vm.loan.isBorrower ? 'Lender' : 'Borrower'}} must be selected from this autocomplete list.</span>
                                    <span ng-hide="vm.companySearch.searchText.length">{{vm.loan.isBorrower ? 'Lender' : 'Borrower'}} is required.</span>
                                </div>
                            </div>
                        </md-autocomplete>
                        <input type="text" ng-hide="true" name="borrowerLenderCompany" ng-model="vm.borrowerLenderCompany" required />
                    </div>

                    <div layout-gt-sm="row">
                        <div layout="column" flex>
                            <label class="md-caption">Origination Date*</label>
                            <md-datepicker required name="originationDate" ng-model="vm.originationDate" ng-change="vm.loan.originationDate = vm.originationDate.toISOString()"
                                           md-placeholder="Origination Date*"></md-datepicker>
                            <div ng-messages="loanAdd.originationDate.$error" ng-if="loanAdd.originationDate.$touched || loanAdd.$submitted">
                                <div ng-message="required">Origination Date is required.</div>
                            </div>
                        </div>
                        <div layout="column" flex hide-gt-sm>&nbsp;</div>
                        <div layout="column" flex flex-offset-gt-sm="5">
                            <label class="md-caption">Maturity Date</label>
                            <md-datepicker ng-model="vm.maturityDate" ng-change="vm.loan.maturationDate = vm.maturityDate.toISOString()"
                                           md-placeholder="Maturity Date"></md-datepicker>
                        </div>
                    </div>

                    <md-divider flex layout-margin></md-divider>

                    <div layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="company.companyLoans({companyId: vm.companyMentionId})">Cancel</md-button>
                        <md-button class="md-primary" type="submit">Save</md-button>
                    </div>
                </form>
            </div>
        </md-card>
    </div>
</div>
