﻿<md-content layout="column" flex flex-md="90" flex-gt-md="80" id="propertyList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <div layout="row" layout-align="start center" class="content-background-color short-row">
                <md-button ng-href="#/companies/{{::vm.queryObject.companyId}}/properties/add" class="md-primary">
                    Add
                </md-button>
                <md-button class="md-primary">
                    Remove
                </md-button>
                <div flex layout="row" layout-align="end" layout-margin>
                    <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchProperties()" placeholder="Filter" class="pageFilterBox"/>
                </div>
            </div>
            <md-divider class="subheader-divider"></md-divider>
            <div layout="row" class="list">
                <div flex flex-gt-sm="30" layout="row">
                    <div ng-click="vm.sortColumn('IsWatched')" class="starColumn">
                        <i class="material-icons md-18">star</i>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div ng-click="vm.sortColumn('PropertyName')" style="cursor: pointer;">
                        <b>Name</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'PropertyName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
                <div flex="70" layout="row" hide show-gt-sm>
                    <div flex="20" ng-click="vm.sortColumn('DealCode')" style="cursor: pointer;">
                        <b>Deal Code</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealCode'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('Type')" style="cursor: pointer;">
                        <b>Property Type</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Type'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('Size')" style="cursor: pointer;" layout="row" layout-align="end">
                        <b>Size</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Size'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('Valuation')" style="cursor: pointer;" layout="row" layout-align="end">
                        <b>Valuation</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Valuation'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('JointVenture')" style="cursor: pointer;" layout="row" layout-align="end">
                        <b>JV</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'JointVenture'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
            </div>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page container="#propertyList" query-function="vm.getProperties" query-object="vm.queryObject" paging-data-watch="vm.propertiesList.pagingData">
                <md-list-item ng-repeat="property in vm.propertiesList.resources" ng-click="vm.selectRow(property)">
                    <div layout="column" layout-gt-sm="row" layout-wrap flex>
                        <div flex-gt-sm="30" layout="row">
                            <div class="starColumn">
                                <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                    <i class="material-icons md-18">{{property.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            {{property.propertyName}}
                            <a hide-gt-sm class="md-secondary" ng-click="property.showDetails = !property.showDetails">
                                <span class="fa" ng-class="property.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="70" layout="row" hide show-gt-sm>
                            <div flex="20">
                                {{property.dealCode}}
                            </div>
                            <div flex="20">
                                {{property.type}}
                            </div>
                            <div flex="20" layout="row" layout-align="end">
                                {{property.size}}
                            </div>
                            <div flex="20" layout="row" layout-align="end">
                                {{property.valuation | largeCurrency}}
                            </div>
                            <div flex="20" layout="row" layout-align="end">
                                {{property.jointVenture ? 'Yes' : 'No'}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="property.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Code:</b></span>
                                <span flex="45" flex-offset="5">{{property.dealCode}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Property Type:</b></span>
                                <span flex="45" flex-offset="5">{{property.type}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Size:</b></span>
                                <span flex="45" flex-offset="5">{{property.size}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Valuation:</b></span>
                                <span flex="45" flex-offset="5">{{property.valuation | largeCurrency}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>JV:</b></span>
                                <span flex="45" flex-offset="5">{{property.jointVenture ? 'Yes' : 'No'}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>