﻿<div>
    <div layout="row">
        <md-button type="button" class="md-primary" ng-click="vm.showAll()">Show All Employees</md-button>
    </div>
    <md-content class="md-padding" layout="row" ng-show="!vm.editMode">
        <md-card flex>
            <md-card-content>
                <div layout="row" layout-sm="column" layout-align="space-between">
                    <h2 class="md-title">{{vm.employee.employeeName}}</h2>
                    <md-button type="button" class="md-primary" ng-click="vm.edit()">Edit</md-button>
                </div>
                <div layout="row" layout-margin layout-md="column" layout-sm="column">
                    <div flex>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                First Name:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.firstName}}</div>
                            <div flex="20" class="md-body-2">
                                Last Name:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.lastName}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                Company:
                            </div>
                            <div flex="20" class="md-body-1">
                                <a ng-href="#/companies/{{vm.employee.companyID}}">{{vm.employee.companyName}}</a>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                Employee Initials:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.employeeInitials}}</div>
                            <div flex="20" class="md-body-2">
                                Employee Type:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.employeeType}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                User Type:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.userType}}</div>
                            <div flex="20" class="md-body-2">
                                Username:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.userName}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                Address:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.streetAddress}}</div>
                            <div flex="20" class="md-body-2">
                                Address (contd.):
                            </div>
                            <div flex class="md-body-1">{{vm.employee.address2}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                City:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.city}}</div>
                            <div flex="20" class="md-body-2">
                                State:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.state}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                Zip:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.zip}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                Phone:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.phone}}</div>
                            <div flex="20" class="md-body-2">
                                Extension:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.extension}}</div>
                        </div>
                        <div layout="row">
                            <div flex="20" class="md-body-2">
                                Mobile:
                            </div>
                            <div flex class="md-body-1">{{vm.employee.mobilePhone}}</div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </md-content>

    <md-content class="md-padding" layout="column" ng-show="vm.editMode">
        <md-card flex>
            <md-card-content>
                <form name="employeeForm" ng-submit="vm.save(employeeForm)">
                    <div layout="row" layout-sm="column" layout-align="space-between">
                        <h2 ng-show="vm.employee.employeeID" class="md-title">Edit Employee</h2>
                        <h2 ng-show="!vm.employee.employeeID" class="md-title">Add Employee</h2>
                        <div layout="row">
                            <md-button type="submit" class="md-primary">Save</md-button>
                            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
                        </div>
                    </div>
                    <md-input-container>
                        <label>First Name</label>
                        <input type="text" md-maxlength="15" required name="firstName" ng-model="vm.employee.firstName">
                        <div ng-messages="employeeForm.firstName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 15 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input type="text" md-maxlength="20" required name="lastName" ng-model="vm.employee.lastName">
                        <div ng-messages="employeeForm.lastName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Employee Initials</label>
                        <input type="text" md-maxlength="5" required name="employeeInitials" ng-model="vm.employee.employeeInitials">
                        <div ng-messages="employeeForm.employeeInitials.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 5 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Employee Type</label>
                        <input type="text" md-maxlength="15" required name="employeeType" ng-model="vm.employee.employeeType">
                        <div ng-messages="employeeForm.employeeType.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 15 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>User Type</label>
                        <input type="text" md-maxlength="15" required name="userType" ng-model="vm.employee.userType">
                        <div ng-messages="employeeForm.userType.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 15 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Username</label>
                        <input type="text" md-maxlength="12" required name="userName" ng-model="vm.employee.userName">
                        <div ng-messages="employeeForm.userName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 12 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Title</label>
                        <input type="text" md-maxlength="50" required name="title" ng-model="vm.employee.title">
                        <div ng-messages="employeeForm.title.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Email Address</label>
                        <input type="text" md-maxlength="50" required name="emailAddress" ng-model="vm.employee.emailAddress">
                        <div ng-messages="employeeForm.emailAddress.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Address</label>
                        <input type="text" md-maxlength="15" name="streetAddress" ng-model="vm.employee.streetAddress">
                        <div ng-messages="employeeForm.streetAddress.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 15 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Address (contd.)</label>
                        <input type="text" md-maxlength="50" name="address2" ng-model="vm.employee.address2">
                        <div ng-messages="employeeForm.address2.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>City</label>
                        <input type="text" md-maxlength="25" name="city" ng-model="vm.employee.city">
                        <div ng-messages="employeeForm.city.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 25 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>State</label>
                        <input type="text" md-maxlength="50" name="state" ng-model="vm.employee.state">
                        <div ng-messages="employeeForm.state.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Zip</label>
                        <input type="text" md-maxlength="10" name="zip" ng-model="vm.employee.zip">
                        <div ng-messages="employeeForm.zip.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than  characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Phone</label>
                        <input type="text" md-maxlength="50" name="phone" ng-model="vm.employee.phone">
                        <div ng-messages="employeeForm.phone.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Extension</label>
                        <input type="text" md-maxlength="10" name="extension" ng-model="vm.employee.extension">
                        <div ng-messages="employeeForm.extension.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Mobile</label>
                        <input type="text" md-maxlength="50" name="mobilePhone" ng-model="vm.employee.mobilePhone">
                        <div ng-messages="employeeForm.mobilePhone.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </md-content>

    <md-content class="md-padding" layout="row" layout-md="column" layout-sm="column" ng-show="!vm.editMode">
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Licenses</h2>
                <p></p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Memberships</h2>
                <p></p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Deals</h2>
                <p></p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Sales Volume</h2>
                <p></p>
            </md-card-content>
        </md-card>
    </md-content>
</div>

<style type="text/css">
    md-input-container label {
        font-size: 16px;
    }
</style>
