﻿<div>
    <md-content layout-padding layout="column">
        <md-autocomplete ng-disabled="false"
                         md-no-cache="false"
                         md-selected-item="vm.search.selectedItem"
                         md-search-text-change="vm.search.searchTextChange(vm.search.searchText)"
                         md-search-text="vm.search.searchText"
                         md-selected-item-change="vm.search.selectedItemChange(item)"
                         md-items="item in vm.searchEmployees(vm.search.searchText)"
                         md-item-text="item.firstName"
                         md-min-length="0"
                         placeholder="Who are you looking for?"
                         ng-model-options="{debounce: 250}">
            <md-item-template>
                <span class="item-title">
                    <span> {{item.employeeName}} </span>
                </span>
                <span class="item-metadata">
                    <span class="item-metastat">
                        {{item.userName}}
                    </span>
                </span>
            </md-item-template>
            <md-not-found>
                No matches found for "{{vm.search.searchText}}".
            </md-not-found>
        </md-autocomplete>
    </md-content>

    <md-content flex>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="employee in vm.employeesList.resources">
                <div class="md-list-item-text">
                    <h3>
                        <a ng-href="#/employees/{{employee.employeeID}}">{{employee.firstName}} {{employee.lastName}}</a>
                    </h3>
                    <p>
                        {{employee.userName}} - {{employee.emailAddress}}
                    </p>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

    <pagination query-function="vm.getEmployees" maxsize="10"
                query-object="vm.queryObject" paging-data-watch="vm.employeesList.pagingData"></pagination>

</div>


<style type="text/css">
    .md-autocomplete-suggestions li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal;
    }

        .md-autocomplete-suggestions li:last-child {
            border-bottom-width: 0;
        }

        .md-autocomplete-suggestions li .item-title, .md-autocomplete-suggestions li .item-metadata {
            display: block;
            line-height: 2;
        }
</style>