<md-content layout="column" flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="loansList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <section>
                <div layout="row" layout-align="start center">
                    <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchLoans()" placeholder="Filter" class="pageFilterBox" />
                    </div>
                </div>
            </section>
            <md-divider class="subheader-divider"></md-divider>
            <section>
                <div layout="row">
                    <div flex flex-gt-sm="20" layout="row" class="list-data">
                        <div ng-click="vm.sortColumn('isWatched')" class="iconColumn sortable-column-header">
                            <i class="material-icons md-18">star</i>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'isWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div ng-click="vm.sortColumn('loanName')" class="sortable-column-header" flex="80">
                            <b>Loan Name</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'loanName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                    <div flex="80" layout="row" hide show-gt-sm class="list-data">
                        <div flex="13" ng-click="vm.sortColumn('Borrower')" style="cursor: pointer;">
                            <b>Borrower</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Borrower'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="13" ng-click="vm.sortColumn('Lender')" style="cursor: pointer;">
                            <b>Lender</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Lender'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('propertyType')" style="cursor: pointer;">
                            <b>Property Type</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'propertyType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="17" ng-click="vm.sortColumn('loanAmount')" style="cursor: pointer;" layout="row"  layout-align="end">
                            <b>Loan Amount</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'loanAmount'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="12" ng-click="vm.sortColumn('allInRate')" layout="row" layout-align="end start" style="cursor: pointer;">
                            <b>All In Rate</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'allInRate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('active')" style="cursor: pointer;">
                            <b>Active / Past</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'active'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('originationDate')" style="cursor: pointer;">
                            <b>Origination</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'originationDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('maturityDate')" layout="row" layout-align="start start" style="cursor: pointer;">
                            <b>Maturity</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'maturityDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                </div>
            </section>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page container="#loansList" query-function="vm.getLoans" query-object="vm.queryObject" >
                <md-list-item ng-repeat="loan in vm.loansList.resources" class="md-no-style md-button md-ink-ripple" layout-fill>
                    <div layout="column" layout-gt-sm="row" ng-click="vm.selectRow(loan,$event)" layout-wrap flex>
                        <div flex-gt-sm="20" layout="row" class="list-data">
                            <div class="starColumn">
                                <a >
                                    <i class="material-icons md-18" id="esx-watch">{{loan.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            <div>
                                <a ui-sref="loan.loanSummary({loanMentionId:loan.loanMentionId})">
                                    {{loan.loanName}}
                                </a>
                                <a hide-gt-sm class="md-secondary" aria-label="show details" ng-click="loan.showDetails = !loan.showDetails">
                                    <span class="fa" ng-class="loan.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                                </a>
                            </div>
                        </div>
                        <div flex="80" layout="row" hide show-gt-sm class="list-data">
                            <div flex="13">
                                {{loan.borrower}}
                            </div>
                            <div flex="13" layout="row">
                                {{loan.lender}}
                            </div>
                            <div flex="15" layout="row">
                                {{loan.propertyType}}
                            </div>
                            <div flex="17" layout="row"  layout-align="end">
                                {{loan.loanAmount | largeCurrency}}
                            </div>
                            <div flex="12" layout="row" layout-align="end">
                                {{loan.allInRate}}
                            </div>
                            <div flex="10" layout="row">
                                {{loan.active ? 'ACTIVE' : 'PAST'}}
                            </div>
                            <div flex="10" layout="row">
                                {{loan.originationDate | date:'shortDate'}}
                            </div>
                            <div flex="10" layout="row">
                                {{loan.maturityDate | date:'shortDate'}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="loan.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Borrower:</b></span>
                                <span flex="45" flex-offset="5">{{loan.borrower}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Lender:</b></span>
                                <span flex="45" flex-offset="5">{{loan.lender}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Property Type:</b></span>
                                <span flex="45" flex-offset="5">{{loan.propertyType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Loan Amount:</b></span>
                                <span flex="45" flex-offset="5">{{loan.loanAmount | largeCurrency}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>All In Rate:</b></span>
                                <span flex="45" flex-offset="5">{{loan.allInRate}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Active/Past:</b></span>
                                <span flex="45" flex-offset="5">{{loan.active}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Origination:</b></span>
                                <span flex="45" flex-offset="5">{{loan.originationDate | date:'shortDate'}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Maturity:</b></span>
                                <span flex="45" flex-offset="5">{{loan.maturityDate | date:'shortDate'}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>