﻿<div layout="column" layout-padding>
    <div>
        Add Contacts
    </div>
    <form name="contactsForm" ng-submit="vm.submitContacts(contactsForm)" novalidate>

        <div ng-repeat="contact in vm.contactsToAdd" layout-gt-sm="row" layout-sm="column" flex>

            <md-autocomplete flex-gt-sm="50"
                             md-no-cache
                             md-input-name="contact"
                             md-selected-item-change="vm.selectedContactChanged(contact, item)"
                             md-search-text="contact.searchText"
                             md-items="item in vm.lookupContacts(contact.searchText)"
                             md-item-text="vm.getContactName(item)"
                             md-floating-label="Search Contacts"
                             name="searchContacts"
                             required>
                <md-item-template>
                    <span class="item-title">
                        <span md-highlight-text="vm.company.contactName">{{vm.getContactName(item)}}</span>
                    </span>
                </md-item-template>


            </md-autocomplete>

            <div layout="row" layout-align="start start" layout-padding>
                <a ng-click="vm.removeContact($index)">
                    <i class="material-icons md-25">delete</i>
                </a>
            </div>
        </div>
        <div layout="row" flex layout-align="end start">
            <md-button ng-click="vm.addAnotherContact()">Add Another Contact</md-button>
        </div>

        <div layout="row" flex layout-align="center start">
            <md-button ng-click="vm.cancel()">Cancel</md-button>
            <md-button md-primary type="submit">Update</md-button>
        </div>
    </form>
</div>
