﻿<div layout="column" layout-padding>
    <div>
        export
    </div>
    <form name="exportForm" ng-submit="vm.export(exportForm)" novalidate>

        <div layout="row" flex layout-align="center start">
            <md-button ng-click="vm.cancel()">Cancel</md-button>
            <md-button md-primary type="submit">Save </md-button>
        </div>
    </form>

</div>
