﻿<div layout="column" layout-padding>
    <div>
        Select {{vm.dateLabel}} date:
    </div>
    <form name="dateForm" ng-submit="vm.selectDate(dateForm)" novalidate>
       
        <div layout="row" flex layout-align="end start">
            <md-datepicker ng-model="vm.date" md-placeholder="Enter date"></md-datepicker>
        </div>

        <div layout="row" flex layout-align="center start">
            <md-button ng-click="vm.cancel()">Cancel</md-button>
            <md-button md-primary type="submit">Save Date</md-button>
        </div>
    </form>

</div>
