﻿<md-dialog-content>
    <div layout="column" layout-padding>
        <h3>Log CA</h3>
        <md-divider ></md-divider>
        <div layout="row" ng-if="!vm.files.length">
            <form name="filesForm" role="form" enctype="multipart/form-data" style="margin-top: 2px;">
                <div class="form-group">
                    <md-button class=" md-primary" ngf-select="vm.uploadFile(vm.file)" ng-model="vm.file" name="file" ngf-pattern="'*'"
                         ngf-accept="'*'" ngf-max-size="100MB" ngf-min-height="100" ngf-multiple="false"
                         ngf-resize="{width: 100, height: 100}" ngf-keep="false" ngf-drop="vm.uploadFile(vm.file)">
                        SELECT FILE
                    </md-button>
                </div>
            </form>
        </div>
        <div layout="row" ng-if="vm.files.length">
            <div ng-repeat="file in vm.files" class="attachment-box">
                <div class="attachment-box-inner" title="{{file.name}}">{{file.name}}</div>
                <div class="attachment-box-close" ng-click="vm.removeFile($index)">
                    <img src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/btw_ic_close_black_12dp.png"/>
                </div>
            </div>
        </div>
        <div layout="row" ng-if="vm.progress">
            <md-progress-linear md-mode="determinate" value="{{vm.progress}}"></md-progress-linear>
        </div>
        <div layout="row" flex>
            <form name="caForm" ng-submit="vm.sumbmitCa(caForm)" novalidate>
                <div layout="row" flex layout-align="end start">
                    <md-input-container style="margin-right: 10px;">
                        <label>Complete</label>
                        <md-select ng-model="vm.status" required>
                            <md-option ng-repeat="s in vm.statuses" ng-value="s.value">{{s.text}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-datepicker ng-model="vm.date" md-placeholder="Select date"></md-datepicker>
                </div>
                <div layout="row">
                    <div flex="50">
                        <md-input-container >
                            <label>Select Contacts:</label>
                            <md-select ng-model="vm.selectedContacts" multiple required >
                                <md-option ng-repeat="contact in vm.contacts" value="{{contact.contactMentionId}}">{{contact.fullName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="50">

                    </div>
                </div>
                <div layout="row">
                    <div flex="50">
                        file history
                    </div>
                    <div flex="50">

                    </div>
                </div>
                <div class="errors" ng-messages="caForm.status.$error" ng-if="caForm.status.$touched">
                    <div ng-message="required">Status Required</div>
                </div>
                <div class="errors" ng-messages="caForm.date.$error" ng-if="caForm.date.$touched">
                    <div ng-message="required">Date Required</div>
                </div>
                <div class="errors" ng-messages="caForm.selectedContacts.$error" ng-if="caForm.selectedContacts$touched">
                    <div ng-message="required">Contact Required</div>
                </div>
                <md-dialog-actions>
                    <md-button ng-click="vm.cancel()">Cancel</md-button>
                    <md-button md-primary type="submit">Save CA</md-button>
                </md-dialog-actions>
            </form>
        </div>
    </div>

</md-dialog-content>