﻿<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="property-add-header content-background-color">
    <div layout="row" layout-padding>
         <div layout="row" layout-align="center center" flex>
             <div class="property-add-step" layout="row" layout-align="center center" ng-class="vm.form.stepOne.background">
                 <div ng-show="!vm.form.stepOne.edit">1</div>
                 <div ng-show="vm.form.stepOne.edit==true" ng-click="vm.editStepOne()"><i class="material-icons">mode_edit</i></div>
             </div>
             <strong class="property-add-step-text" ng-class="vm.form.stepOne.text">Get Location</strong>
             <div class="property-add-step-connector" flex></div>
         </div>

        <div layout="row"  layout-align="start center" flex>
            <div class="property-add-step" layout="row" layout-align="center center" ng-class="vm.form.stepTwo.background">
                <div ng-show="!vm.form.stepTwo.edit" ng-click="vm.moveToStepTwo()">2</div>
                <div  ng-click="vm.moveToStepTwo()"  ng-show="vm.form.stepTwo.edit==true"><i class="material-icons">mode_edit</i></div>
            </div>
            <div layout="column">
                <strong class="property-add-step-text" ng-class="vm.form.stepTwo.text">Select Ownership Structure and Uses</strong>
                <span class="property-add-step-text" ng-class="vm.form.stepTwo.text">Optional</span>
            </div>
          
            <div class="property-add-step-connector" flex ng-show="vm.property.state=='Approved' || vm.property.state=='Proposed'"></div>
        </div>

        <div layout="row" layout-align="start center" flex ng-show="vm.property.state=='Approved' || vm.property.state=='Proposed'">
            <div class="property-add-step" layout="row" layout-align="center center" ng-class="vm.form.stepThree.background">
                <div ng-show="!vm.form.stepThree.edit" ng-click="vm.moveToStepThree()">3</div>
                <div ng-click="vm.moveToStepThree()" ng-show="vm.form.stepThree.edit==true"><i class="material-icons">mode_edit</i></div>
            </div>
            <div layout="column">
                <strong class="property-add-step-text" ng-class="vm.form.stepThree.text">Subdivide/Merge</strong>
                <span class="property-add-step-text" ng-class="vm.form.stepTwo.text">Optional</span>
            </div>
        </div>

        <!--<span ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEleven.html'">Shortcut to three</span>-->

    </div> 
</div>

<div layout="column" flex flex-md="90" flex-gt-md="90" md-whiteframe class="property-add-container content-background-color" >
    <div layout="row" flex>
        <md-progress-linear md-mode="determinate" value="{{vm.form.stepOne.progress}}" ng-show="vm.form.currentStep==1"></md-progress-linear>
        <md-progress-linear md-mode="determinate" value="{{vm.form.stepTwo.progress}}"  ng-show="vm.form.currentStep==2"></md-progress-linear>
        <md-progress-linear md-mode="determinate" value="{{vm.form.stepThree.progress}}" ng-show="vm.form.currentStep==3"></md-progress-linear>
    </div>
    <div layout="row" flex layout-padding>
        <div flex="50" layout="column">
          <div ng-include="vm.currentQuestion" flex></div>
        </div>
        <div flex="50">
          <div ng-include="'app/properties/addProperty/templates/propertyDetails.html'"></div>
        </div>
    </div>
</div>