﻿<md-content layout="column" flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="propertyList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <section>
            <div layout="row" layout-align="start center">
                <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" style="width: 250px" maxlength="255" ng-change="vm.searchProperties()" placeholder="Filter" class="pageFilterBox"/>
                </div>
            </div>
            </section>
            <section>
                <div layout="row">
                    <div flex flex-gt-sm="30" layout="row">
                        <div ng-click="vm.sortColumn('IsWatched')" class="starColumn">
                            <i class="material-icons md-18">star</i>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div ng-click="vm.sortColumn('PropertyName')" style="cursor: pointer;">
                            <b>Property</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'PropertyName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                    <div flex="70" layout="row" hide show-gt-sm class="list-data">
                        <div flex="15" ng-click="vm.sortColumn('ActiveDeal')" style="cursor: pointer;">
                            <b>Active Deal</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'ActiveDeal'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('City')" style="cursor: pointer;">
                            <b>Location</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'City'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="20" ng-click="vm.sortColumn('Type')" style="cursor: pointer;" layout="row">
                            <b>Type</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Type'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('Size')" style="cursor: pointer;" layout="row">
                            <b>Size</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Size'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="20" ng-click="vm.sortColumn('LastCloseDate')" style="cursor: pointer;" layout="row">
                            <b>Last Close Date</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'LastCloseDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('Valuation')" style="cursor: pointer;" layout="row" layout-align="end">
                            <b>Valuation</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Valuation'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                </div>
            </section>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list  continuous-page container="#propertyList" query-function="vm.getProperties" query-object="vm.queryObject">
                <md-list-item ng-repeat="property in vm.propertiesList.resources" ng-click="vm.selectRow(property)">
                    <div layout="column" layout-gt-sm="row" layout-wrap flex>
                        <div flex-gt-sm="30" layout="row">
                            <div class="starColumn">
                                <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                    <i class="material-icons md-18">{{property.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            {{property.propertyName}}
                            <a hide-gt-sm class="md-secondary" ng-click="property.showDetails = !property.showDetails" aria-label="Show Details">
                                <span class="fa" ng-class="property.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="70" layout="row" hide show-gt-sm class="list-data">
                            <div flex="15">
                                {{property.activeDeal ? 'Yes' : 'No'}}
                            </div>
                            <div flex="15">
                                {{property.city}}, {{property.state}}
                            </div>
                            <div flex="20" layout="row">
                                {{property.type}}
                            </div>
                            <div flex="15" layout="row">
                                {{property.size | number}} {{property.sizeUnits}}
                            </div>
                            <div flex="20" layout="row">
                                {{property.lastCloseDate | date:'mediumDate'}}
                            </div>
                            <div flex="15" layout="row"  layout-align="end">
                                {{property.valuation | largeCurrency}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="property.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Active Deal:</b></span>
                                <span flex="45" flex-offset="5">{{property.activeDeal ? 'Yes' : 'No'}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Location:</b></span>
                                <span flex="45" flex-offset="5">{{property.city}}, {{property.state}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Type:</b></span>
                                <span flex="45" flex-offset="5">{{property.type}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Size:</b></span>
                                <span flex="45" flex-offset="5">{{property.size | number}} {{property.sizeUnits}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Last Close Date:</b></span>
                                <span flex="45" flex-offset="5">{{property.lastCloseDate | date:'mediumDate'}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Valuation:</b></span>
                                <span flex="45" flex-offset="5">{{property.valuation | largeCurrency}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>