﻿<div layout="row" flex flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80">
    <div flex>
        <md-card>
            <span layout-margin>
                <div flex>
                    <h1>Add Company Contact</h1>
                </div>
                <div flex>* = Required Field</div>
            </span>
            <div layout-padding>
                <form name="contactAdd" ng-submit="vm.addContact(contactAdd)" novalidate>                               
                    <div layout-gt-sm="row">
                        <md-autocomplete flex-gt-sm="50"
                                            required
                                            ng-show="vm.selectedContact == null"
                                            md-floating-label="Contact Name*"
                                            md-selected-item-change="vm.selectContact(item)"
                                            md-search-text="vm.contact.contactName"
                                            md-items="item in vm.findContacts(vm.contact.contactName)"
                                            md-item-text="item.fullName"
                                            md-delay="200"
                                            md-input-minlength="2"
                                            md-input-maxlength="200">
                            <md-item-template>
                                <span md-highlight-text="vm.contact.contactName" md-highlight-flags="^i">{{item.fullName}}</span>
                            </md-item-template>
                            <div ng-messages="contactAdd.contactName.$error" ng-if="contactAdd.contactName.$touched || contactAdd.$submitted">
                                <div ng-message="required">Contact Name is required.</div>
                                <div ng-message="minlength">The name has to be at least 2 characters long.</div>
                                <div ng-message="maxlength">The name cannot be more than 200 characters long.</div>
                            </div>
                        </md-autocomplete>
                        <!-- This hidden input is a hack to get "required" to work on md-autocomplete which doesn't seem to honor it using md v1.0.3 -->
                        <input ng-hide="true" name="contactName" ng-model="vm.contact.contactName" required ng-minlength="2" ng-maxlength="200" />
                        <div flex-gt-sm ng-show="vm.selectedContact != null">
                            This contact already exists and is associated with another company. Click "Go to Contact Record" to edit this contact or "Cancel" to continue adding the contact information.
                            <div layout="row">
                                <md-button href="#/contacts/{{vm.selectedContact.contactId}}">Go to Contact Record</md-button>
                                <md-button ng-click="vm.selectedContact = null">Cancel</md-button>
                            </div>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm="50" flex-offset-gt-sm="5">
                            <label>Title</label>
                            <input name="title" ng-model="vm.contact.title" maxlength="200" />
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Mobile Phone*</label>
                            <input required name="mobilePhone" ng-model="vm.contact.mobilePhone" maxlength="30" />
                            <div ng-messages="contactAdd.mobilePhone.$error" ng-if="contactAdd.mobilePhone.$touched || contactAdd.$submitted">
                                <div ng-message="required">Mobile Phone is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>Office Phone*</label>
                            <input name="officePhone" ng-model="vm.contact.officePhone" maxlength="30" required />
                            <div ng-messages="contactAdd.officePhone.$error" ng-if="contactAdd.officePhone.$touched || contactAdd.$submitted">
                                <div ng-message="required">Office Phone is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email Address</label>
                            <input name="emailAddress" type="email" ng-model="vm.contact.emailAddress" maxlength="300" />
                            <div ng-messages="contactAdd.emailAddress.$error" ng-if="contactAdd.emailAddress.$touched || contactAdd.$submitted">
                                <div ng-message="email">Email Address must be a valid format.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>Website</label>
                            <input name="website" ng-model="vm.contact.website" maxlength="1000" />
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-hide="vm.addingNewLocation">
                        <md-autocomplete flex-gt-sm="50"
                                            md-floating-label="Location"
                                            md-search-text="vm.locationSearchText"
                                            md-delay="200"
                                            md-selected-item-change="vm.selectLocation(item)"
                                            md-items="item in vm.findLocations(vm.locationSearchText)"
                                            md-item-text="item.name"
                                            md-min-length="0">
                            <md-item-template>
                                <span>
                                    <b>{{item.name}}</b> {{item.address}} {{item.city}} {{item.stateProvince}}
                                </span>
                            </md-item-template>
                            <md-not-found>
                                <a ng-mousedown="vm.addLocation()">Add New Location</a>
                            </md-not-found>
                            <div ng-messages="contactAdd.location.$error" ng-if="contactAdd.location.$touched || contactAdd.$submitted">
                                <div ng-message="required">You must select an existing location or add a new location.</div>
                            </div>
                        </md-autocomplete>
                        <input type="text" ng-hide="true" name="location" ng-model="vm.contact.officeKey" ng-required="!vm.addingNewLocation"/>
                        <div flex-offset-gt-sm="5" flex-gt-sm="50"></div>
                    </div>
                    <div layout-gt-sm="row" ng-show="vm.addingNewLocation">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Location Name*</label>
                            <input name="newLocationName" ng-model="vm.newLocation.name" maxlength="300" />
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>Country*</label>
                            <md-select name="country" ng-model="vm.newLocation.countryKey" ng-disabled="!vm.countries.length" ng-required="vm.addingNewLocation">
                                <md-option ng-repeat="country in vm.countries" value="{{country.countryKey}}">
                                    {{country.countryName}}
                                </md-option>
                            </md-select>
                            <div ng-messages="contactAdd.country.$error" ng-if="contactAdd.country.$touched || contactAdd.$submitted">
                                <div ng-message="required">Country is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-show="vm.addingNewLocation && vm.newLocation.countryKey > 0">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Address 1</label>
                            <input type="text" name="newLocationAddress1" ng-model="vm.newLocation.address1" ng-required="vm.addingNewLocation" maxlength="300" />
                            <div ng-messages="contactAdd.newLocationAddress1.$error" ng-if="contactAdd.newLocationAddress1.$touched || contactAdd.$submitted">
                                <div ng-message="required">Address 1 is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>Address 2</label>
                            <input type="text" name="newLocationAddress2" ng-model="vm.newLocation.address2" maxlength="300" />
                            <div class="inputHelperText" ng-hide="vm.hasMoreLines || !vm.isUsa()">
                                <a ng-click="vm.hasMoreLines = true">show more address lines</a>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-show="vm.addingNewLocation && vm.newLocation.countryKey > 0 && (vm.hasMoreLines || !vm.isUsa())">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Address 3</label>
                            <input type="text" name="newLocationAddress3" ng-model="vm.newLocation.address3" maxlength="300" />
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>Address 4</label>
                            <input type="text" name="newLocationAddress4" ng-model="vm.newLocation.address4" maxlength="300" />
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-show="vm.addingNewLocation && vm.newLocation.countryKey > 0">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                City <span ng-show="!vm.isUsa()">or Locality</span>
                            </label>
                            <input type="text" name="newLocationCity" ng-model="vm.newLocation.city" ng-required="vm.addingNewLocation" maxlength="300" />
                            <div ng-messages="contactAdd.newLocationCity.$error" ng-if="contactAdd.newLocationCity.$touched || contactAdd.$submitted">
                                <div ng-message="required">City <span ng-show="!vm.isUsa()">or Locality</span> is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>State <span ng-show="!vm.isUsa()">or Province</span></label>
                            <md-select name="newLocationState" ng-model="vm.newLocation.state" ng-disabled="!vm.states.length" ng-required="vm.addingNewLocation">
                                <md-option ng-repeat="state in vm.states" value="{{state.stateProvinceCode}}">
                                    {{state.stateProvinceCode}}
                                </md-option>
                            </md-select>
                            <div ng-messages="contactAdd.newLocationState.$error" ng-if="contactAdd.newLocationState.$touched || contactAdd.$submitted">
                                <div ng-message="required">State <span ng-show="!vm.isUsa()">or Province</span> is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-show="vm.addingNewLocation && vm.newLocation.countryKey > 0">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Postal Code</label>
                            <input type="text" name="newLocationPostalCode" ng-model="vm.newLocation.zip" ng-required="vm.addingNewLocation" maxlength="12" />
                            <div ng-messages="contactAdd.newLocationPostalCode.$error" ng-if="contactAdd.newLocationPostalCode.$touched || contactAdd.$submitted">
                                <div ng-message="required">Postal Code is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label>Location Phone Number</label>
                            <input type="text" name="newLocationPhone" ng-model="vm.newLocation.phone" maxlength="300" />
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-show="vm.addingNewLocation && vm.newLocation.countryKey > 0">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Location Website</label>
                            <input type="text" name="newLocationWebsite" ng-model="vm.newLocation.website" maxlength="500"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm flex-offset-gt-sm="5">
                            <label flex="10">Primary: </label>
                            <md-radio-group ng-model="vm.newLocation.isPrimary" layout="row" flex-offset="10">
                                <md-radio-button ng-value="true" aria-label="Yes">Yes</md-radio-button>
                                <md-radio-button ng-value="false" aria-label="No">No</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                     </div>

                    <md-divider flex layout-margin></md-divider>

                    <div layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="company.companyContacts({companyId: vm.companyMentionId})">Cancel</md-button>
                        <md-button class="md-primary" type="submit">Save</md-button>
                    </div>
                    <div layout-gt-md="row" layout-align="end center" ng-messages="vm.validationErrors" class="error">
                        <p>{{vm.validationErrors}}</p>
                    </div>
                </form>
            </div>
        </md-card>
    </div>
</div>
