﻿<md-content layout="column" flex flex-sm="90" flex-gt-sm="80" id="contactsList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <div layout="row" layout-align="start center" class="content-background-color short-row">
                <md-button ng-href="#/companies/{{vm.companyId}}/contacts/add" class="md-primary">
                    Add
                </md-button>
                <md-button class="md-primary">
                    Remove
                </md-button>
                <div flex layout="row" layout-align="end" layout-margin>
                    <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchCompanyContacts()" placeholder="Filter" class="pageFilterBox"/>
                </div>
            </div>
            <md-divider class="subheader-divider"></md-divider>
            <div layout="row" class="list">
                <div flex flex-gt-sm="20" layout="row" class="list-data">
                    <div ng-click="vm.sortColumn('isWatched')" style="cursor: pointer;" class="iconColumn">
                        <i class="material-icons md-18">star</i>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'isWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div ng-click="vm.sortColumn('fullName')" style="cursor: pointer;" flex="80">
                        <b>Contact Name</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'fullName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
                <div flex="80" layout="row" hide show-gt-sm class="list-data">
                    <div flex="20" ng-click="vm.sortColumn('title')" style="cursor: pointer;">
                        <b>Title</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'title'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('mobilePhone')" style="cursor: pointer;">
                        <b>Mobile Phone</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'mobilePhone'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('officePhone')" style="cursor: pointer;">
                        <b>Office Phone</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'officePhone'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="25" ng-click="vm.sortColumn('emailAddress')" style="cursor: pointer;">
                        <b>Email Address</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'emailAddress'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="15" ng-click="vm.sortColumn('location')" layout="row" layout-align="start start" style="cursor: pointer;">
                        <b>Location</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'location'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
            </div>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page query-function="vm.getCompanyContacts" container="#contactsList" query-object="vm.queryObject" paging-data-watch="vm.companyContactList.pagingData">
                <md-list-item ng-repeat="contact in vm.companyContactList.resources" ng-click="vm.selectRow(contact)">
                    <div layout="column" layout-gt-sm="row" layout-wrap flex>
                        <div flex-gt-sm="20" layout="row" class="list-data">
                            <div class="starColumn">
                                <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                    <i class="material-icons md-18">{{contact.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            {{contact.fullName}}
                            <a hide-gt-sm aria-label="Details" class="md-secondary" ng-click="contact.showDetails = !contact.showDetails">
                                <span class="fa" ng-class="contact.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="80" layout="row" hide show-gt-sm class="list-data">
                            <div flex="20">
                                {{contact.title}}
                            </div>
                            <div flex="20" layout="row">
                                {{contact.mobilePhone}}
                            </div>
                            <div flex="20" layout="row">
                                {{contact.officePhone}}
                            </div>
                            <div flex="25" layout="row" class="email">
                                <a ng-href="mailto:{{contact.emailAddress}}">{{contact.emailAddress}}</a>
                            </div>
                            <div flex="15" layout="row">
                                {{contact.location }}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="contact.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Name:</b></span>
                                <span flex="45" flex-offset="5">{{contact.contactName}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Title:</b></span>
                                <span flex="45" flex-offset="5">{{contact.title}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Mobile Phone:</b></span>
                                <span flex="45" flex-offset="5">{{contact.mobilePhone}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Office Phone:</b></span>
                                <span flex="45" flex-offset="5">{{contact.officePhone}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Email:</b></span>
                                <span flex="45" flex-offset="5"><a ng-href="mailto:{{contact.emailAddress}}">{{contact.emailAddress}}</a></span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Location:</b></span>
                                <span flex="45" flex-offset="5">{{contact.location}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>