﻿<md-content layout="column" flex>
    <md-tabs class="pageNav companies-bg" md-selected="-1">
        <md-tab label=""></md-tab>
    </md-tabs>
    <div layout="row" layout-padding layout-align="end">
        <div flex="30">
        </div>
    </div>
    Company Inventments page
</md-content>
