﻿<div layout-gt-md="column" flex="100" ng-show="!vm.contactId">
    <md-content class="md-padding" layout="row" layout-align="center center">
        <div flex="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">No Contact Summary Available</span>
                        <span class="md-subhead">please try again</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="contacts">Back to Contacts</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>

<div layout="column" flex="100" ng-show="vm.contactId">


    <div hide show-gt-sm flex>
        <div layout="row">
            <div flex>
                <md-card>
                    <span>
                        <h4 class="pad">Deal Stats</h4>
                    </span>
                    <md-divider></md-divider>
                    <div  class="summary-info-box-deals" layout="row">
                        <div flex="25">
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Pitches</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.pitches}}</span>
                                <md-input-container class="summary-card-select-container">
                                    <md-select ng-model="vm.selectedOptions.pitches" placeholder="Pitches" ng-change="vm.refreshSummary()">
                                        <md-option ng-repeat="period in vm.pitchPeriods" ng-value="period.value">
                                            {{period.text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex="25">
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Active Deals</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.activeDeals}}</span>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex="25">
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Bid Activity</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.bidActivity}}</span>
                                <md-input-container class="summary-card-select-container">
                                    <md-select ng-model="vm.selectedOptions.bidActivity" placeholder="bids" ng-change="vm.refreshSummary()">
                                        <md-option ng-repeat="bid in vm.bidActivityPeriods" ng-value="bid.value">
                                            {{bid.text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex="25">
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Deals in Pursuit</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.dealsInPursuit}}</span>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
            <div flex>
                <md-card>
                    <span>
                        <h4 class="pad">Company Holdings</h4>
                    </span>
                    <md-divider></md-divider>
                    <div layout="row">
                        <div class="summary-info-box-properties" flex="50" layout="row">
                            <div flex>
                                <div flex layout="column" layout-align="center center">
                                    <span class="summaryCardHeader">Properties</span>
                                    <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.properties}}</span>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div flex>
                                <div flex layout="column" layout-align="center center">
                                    <span class="summaryCardHeader">Hold Period</span>
                                    <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.holdPeriod}}</span>
                                    <md-input-container class="summary-card-select-container">
                                        <md-select ng-model="vm.selectedOptions.holdPeriod" placeholder="holds" ng-change="vm.refreshSummary()">
                                            <md-option ng-repeat="hold in vm.holdPeriods" ng-value="hold.value">
                                                {{hold.text}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div class="summary-info-box-loans" flex="50" layout="row">
                            <div flex>
                                <div flex layout="column" layout-align="center center">
                                    <span class="summaryCardHeader">Loans</span>
                                    <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.loans}}</span>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div flex>
                                <div flex layout="column" layout-align="center center">
                                    <span class="summaryCardHeader">Loans Maturing</span>
                                    <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.loansMaturing}}</span>
                                    <md-input-container class="summary-card-select-container">
                                        <md-select ng-model="vm.selectedOptions.loansMaturing" placeholder="loans" ng-change="vm.refreshSummary()">
                                            <md-option ng-repeat="loan in vm.loansMaturingPeriods" ng-value="loan.value">
                                                {{loan.text}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>

        <div layout="row" flex>
            <div flex>
                <md-card>
                    <span layout-margin>
                        <h4>Deal Activity</h4>
                    </span>
                    <div class="summary-image-graph" layout-margin layout-padding>
                        <img src="../../Content/images/properties-graph.png" />
                    </div>
                </md-card>
                <md-card>
                    <span layout-margin>
                        <h4>Alerts</h4>
                    </span>
                </md-card>
            </div>
            <div flex>
                <md-card>
                    <span layout-margin>
                        <h4>Comments</h4>
                    </span>
                </md-card>
            </div>
        </div>

    </div>


    <div layout="column" hide-gt-sm flex>
        <div class="ie-column-layout-contaner">
            <md-card>
                <span class="pad">
                    <h4>Deal Stats</h4>
                </span>
                <md-divider></md-divider>

                <div layout="column" class="summary-info-box-deals-sm" >
                    <div layout="row">
                        <div flex layout="column" layout-align="center center">
                            <span class="summaryCardHeader">Pitches</span>
                            <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.pitches}}</span>
                            <md-input-container class="summary-card-select-container">
                                <md-select ng-model="vm.selectedOptions.pitches" placeholder="Pitches" ng-change="vm.refreshSummary()">
                                    <md-option ng-repeat="period in vm.pitchPeriods" ng-value="period.value">
                                        {{period.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="column" layout-align="start center">
                            <span class="summaryCardHeader">Active Deals</span>
                            <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.activeDeals}}</span>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row">
                        <div flex>
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Bid Activity</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.bidActivity}}</span>
                                <md-input-container class="summary-card-select-container">
                                    <md-select ng-model="vm.selectedOptions.bidActivity" placeholder="bids" ng-change="vm.refreshSummary()">
                                        <md-option ng-repeat="bid in vm.bidActivityPeriods" ng-value="bid.value">
                                            {{bid.text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex>
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Deals in Pursuit</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.dealsInPursuit}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </md-card>
        </div>
        <div class="ie-column-layout-contaner">
            <md-card>
                <span class="pad">
                    <h4>Company Holdings</h4>
                </span>
                <md-divider></md-divider>

                <div layout="column">
                    <div class="summary-info-box-properties-sm" layout="row" >
                        <div flex>
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Properties</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.properties}}</span>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex>
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Hold Period</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.holdPeriod}}</span>
                                <md-input-container class="summary-card-select-container">
                                    <md-select ng-model="vm.selectedOptions.holdPeriod" placeholder="holds" ng-change="vm.refreshSummary()">
                                        <md-option ng-repeat="hold in vm.holdPeriods" ng-value="hold.value">
                                            {{hold.text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="summary-info-box-loans-sm" layout="row" >
                        <div flex>
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Loans</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.loans}}</span>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex>
                            <div flex layout="column" layout-align="center center">
                                <span class="summaryCardHeader">Loans Maturing</span>
                                <span class="summaryCardNum">{{vm.contactSummary.summaryRollup.loansMaturing}}</span>
                                <md-input-container class="summary-card-select-container">
                                    <md-select ng-model="vm.selectedOptions.loansMaturing" placeholder="loans" ng-change="vm.refreshSummary()">
                                        <md-option ng-repeat="loan in vm.loansMaturingPeriods" ng-value="loan.value">
                                            {{loan.text}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
        <div class="ie-column-layout-contaner">
            <md-card>
                <span layout-margin>
                    <h4>Deal Activity</h4>
                </span>
                <div class="summary-image-graph" layout-margin layout-padding>
                    <img src="../../Content/images/properties-graph.png" />
                </div>
            </md-card>
        </div>
        <div class="ie-column-layout-contaner">
            <md-card>
                <span layout-margin>
                    <h4>Alerts</h4>
                </span>
            </md-card>
        </div>
        <div class="ie-column-layout-contaner">
            <md-card>
                <span layout-margin>
                    <h4>Comments</h4>
                </span>
            </md-card>
        </div>
    </div>

</div>
