﻿<md-content layout="column" flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="contactList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <section>
                <div layout="row" layout-align="start center">
                    <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" style="width: 250px" maxlength="255" ng-change="vm.searchContacts()" placeholder="Filter" class="pageFilterBox" />
                    </div>
                </div>
            </section>
            <section>
                <div layout="row">
                <div flex flex-gt-sm="20" layout="row" class="list-data">
                        <div ng-click="vm.sortColumn('isWatched')" class="iconColumn sortable-column-header">
                            <i class="material-icons md-18">star</i>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'isWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div ng-click="vm.sortColumn('fullName')" class="sortable-column-header" flex="80">
                            <b>Contact Name</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'fullName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                    <div flex="80" layout="row" hide show-gt-sm class="list-data">
                        <div flex="20" ng-click="vm.sortColumn('title')" style="cursor: pointer;">
                            <b>Title</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'title'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="20" ng-click="vm.sortColumn('companyName')" style="cursor: pointer;">
                            <b>Company</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'companyName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="20" ng-click="vm.sortColumn('mobilePhone')" style="cursor: pointer;">
                            <b>Mobile Phone</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'mobilePhone'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="25" ng-click="vm.sortColumn('emailAddress')" style="cursor: pointer;">
                            <b>Email Address</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'emailAddress'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('location')" layout="row" layout-align="start start" style="cursor: pointer;">
                            <b>Location</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'location'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                </div>
            </section>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page id="contactList" container="#contactList" query-function="vm.getContacts" query-object="vm.queryObject" paging-data-watch="vm.contactsList.pagingData">                    
                <md-list-item ng-repeat="contact in vm.contactsList.resources" class="md-no-style md-button md-ink-ripple" layout-fill>
                    <div layout="column" layout-gt-sm="row" ng-click="vm.selectRow(contact,$event)" layout-wrap  flex >
                        <div flex-gt-sm="20" layout="row">
                            <div class="starColumn">
                                <a >
                                    <i class="material-icons md-18" id="esx-watch">{{contact.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            {{contact.fullName}}
                            <a hide-gt-sm class="md-secondary" aria-label="show details" ng-click="contact.showDetails = !contact.showDetails">
                                <span class="fa" ng-class="contact.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="80" layout="row" hide show-gt-sm class="list-data">
                            <div flex="20">
                                {{contact.title}}
                            </div>
                            <div flex="20">
                                {{contact.companyName}}
                            </div>
                            <div flex="20" layout="row">
                                {{contact.mobilePhone}}
                            </div>
                            <div flex="25" layout="row" class="email">
                                <a ng-href="mailto:{{contact.emailAddress}}">{{contact.emailAddress}}</a>
                            </div>
                            <div flex="15" layout="row">
                                {{contact.location }}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="contact.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Contact Name:</b></span>
                                <span flex="45" flex-offset="5">{{contact.fullName}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Title:</b></span>
                                <span flex="45" flex-offset="5">{{contact.title}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Company:</b></span>
                                <span flex="45" flex-offset="5">{{contact.companyName}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Mobile Phone:</b></span>
                                <span flex="45" flex-offset="5">{{contact.mobilePhone}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Email Address:</b></span>
                                <span flex="45" flex-offset="5"><a ng-href="mailto:{{contact.emailAddress}}">{{contact.emailAddress}}</a></span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Location<:</b></span>
                                <span flex="45" flex-offset="5">{{contact.location}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>