﻿<!--large screen-->
<div hide show-gt-sm flex>
    <div layout="row">
        <div flex>
            <md-card flex layout="column">
                <div ng-include="'app/contacts/templates/contact.details.contactProfile.html'"></div>
            </md-card>
        </div>
        <div flex layout="column">
            <md-card flex>
                <div ng-include="'app/contacts/templates/contact.details.dealProfile.small.html'"></div>
            </md-card>
        </div>
    </div>
    <div layout="row" flex>
        <div flex>
            <md-card>
                <span layout-margin>
                    <div ng-include="'app/contacts/templates/contact.details.communications.html'"></div>
                </span>
            </md-card>
        </div>
    </div>
</div>

<!--small screen-->
<div layout="column" hide-gt-sm flex>
    <div class="ie-column-layout-contaner">
        <md-card>
            <div ng-include="'app/contacts/templates/contact.details.contactProfile.small.html'"></div>
        </md-card>
    </div>
    <div class="ie-column-layout-contaner">
        <md-card>
            <div ng-include="'app/contacts/templates/contact.details.dealProfile.small.html'"></div>
        </md-card>
    </div>
    <div class="ie-column-layout-contaner">
        <md-card>
            <div ng-include="'app/contacts/templates/contact.details.communications.small.html'"></div>
        </md-card>
    </div>
</div>