
<div layout="row" style="position: absolute; top: 0; left: 0; width: 100%; height: 200px;">
    <div class="property-image">
        <img src="content/images/building.jpg" width="200" height="170" style="margin: 5px;" />
    </div>
    <div style="margin-left: 10px; margin-top: 15px;" layout="column">
        <div class="raised">
            <h1>{{vm.dealSummary.dealName}}</h1>
        </div>
        <div class="raised" ng-if="vm.dealSummary.properties.length === 1">
            <h6 ng-if="vm.dealSummary.properties[0].physicalAddress.countryKey == vm.country.usa">
                {{vm.dealSummary.properties[0].physicalAddress.address1}} {{vm.dealSummary.properties[0].physicalAddress.city}},
                {{vm.dealSummary.properties[0].physicalAddress.stateProvidenceCode}} {{vm.dealSummary.properties[0].physicalAddress.postalCode}}
            </h6>
            <h6 ng-if="vm.dealSummary.properties[0].physicalAddress.countryKey != vm.country.usa">
                {{vm.dealSummary.properties[0].physicalAddress.city}}, {{vm.dealSummary.properties[0].physicalAddress.country}}
            </h6>
            <h6>{{vm.dealSummary.properties[0].size}} {{vm.dealSummary.properties[0].sizeUnits}}</h6>
        </div>
        <div class="raised" ng-if="vm.dealSummary.properties.length > 1">
            <h6>
                <a ui-sref="deal.dealProperties">
                    <b>Properties: {{vm.dealSummary.properties.length}}</b>
                </a>

            </h6>
        </div>
        <div class="raised" ng-repeat="seller in vm.dealSummary.sellerCompanies">
            <h6>
                <a ui-sref="company.companySummary({companyId:seller.mentionId})">
                    <b>{{seller.aliasName}}</b>
                </a>
            </h6>
        </div>
        <div class="raised">
            <h6>
                <b>{{vm.dealSummary.dealCode}}</b>
            </h6>
        </div>
        <div class="raised">
            <h6>
                <b>{{vm.dealSummary.dealType}}</b>
            </h6>
        </div>
        <div class="raised">
            <h6>
                <b>Status: {{vm.dealSummary.dealStatus}}</b>
            </h6>
        </div>
    </div>
</div>
<div class="map-canvas" ng-class="{'expanded': vm.mapExpanded }">
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.mapOptions" control="vm.map.control">
        <ui-gmap-markers models="vm.markers" coords="'self'" modelsbyref="false" fit="true" events="vm.propertyMarkersEvents" />
        <ui-gmap-window show="vm.propertyWindowCard.show" coords="vm.propertyWindowCard.model" options="vm.propertyWindowCard.options">
            <div layout="row"> 
                <div class="property-image-small">
                    <img src="content/images/building.jpg" width="140" height="110" style="margin: 5px;" />
                </div>
                <div style="margin-left: 10px; margin-bottom: 15px;" layout="column">
                    <div class="raised">
                        <h3>{{vm.propertyWindowCard.model.propertyInfo.propertyName}} / {{vm.propertyWindowCard.model.propertyInfo.physicalAddress.address1}}</h3>
                    </div>
                    <div class="raised">
                        <h6>
                            <b>{{vm.propertyWindowCard.model.propertyInfo.type}}</b>
                        </h6>
                    </div>
                    <div class="raised">
                        <h6>
                            <b>{{vm.propertyWindowCard.model.propertyInfo.size}} {{vm.propertyWindowCard.model.propertyInfo.sizeUnits }}</b>
                        </h6>
                    </div>
                    <div class="raised">
                        <h6>
                            <b>{{vm.propertyWindowCard.model.propertyInfo.valuation | largeCurrency}}</b>
                        </h6>
                    </div>
                </div>
            </div>
        </ui-gmap-window>
    </ui-gmap-google-map>
    <md-button class="map-toggle" ng-click="vm.toggleMapSize()">{{vm.mapExpanded ? "Shrink" : "Expand"}}</md-button>
</div>
