﻿
<md-content layout="column" flex flex-sm="90" flex-gt-sm="80" id="loansList" class="list-view-container">
    <md-subheader class="list-view-header">
        <div layout="row">
            <div flex layout="row" layout-align="end" layout-margin>
                <input type="text" ng-model="vm.searchText" style="width: 250px" maxlength="255" ng-change="vm.searchPropertyLoans()" placeholder="Filter" class="pageFilterBox" />
            </div>
        </div>
        <div layout="row">
            <div flex flex-gt-sm="20" layout="row">
                <div ng-click="vm.sortColumn('IsWatched')" class="starColumn sortable-column-header" flex="30" layout="row" layout-align="start center" layout-padding>
                    <i class="material-icons md-18">star</i>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                </div>
                <div ng-click="vm.sortColumn('DealCode')" class="sortable-column-header" flex="70" layout="row" layout-align="start center" layout-padding>
                    <b>Deal Code</b>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealCode'">
                        {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </i>
                </div>
            </div>

            <div flex="80" layout="row" hide show-gt-sm>
                <div flex="25" ng-click="vm.sortColumn('LoanName')" class="sortable-column-header" layout="row" layout-align="start center" layout-padding>
                    <b>Loan Name</b>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'LoanName'">
                        {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </i>
                </div>
                <div flex="20" ng-click="vm.sortColumn('LoanAmount')" class="sortable-column-header" layout="row" layout-align="end center" layout-padding>
                    <b>Loan Amount</b>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'LoanAmount'">
                        {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </i>
                </div>
                <div flex="25" ng-click="vm.sortColumn('Lender')" class="sortable-column-header" layout="row" layout-align="start center" layout-padding>
                    <b>Lender</b>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Lender'">
                        {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </i>
                </div>
                <div flex="20" ng-click="vm.sortColumn('Borrower')" class="sortable-column-header" layout="row" layout-align="start center" layout-padding>
                    <b>Borrower</b>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Borrower'">
                        {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </i>
                </div>
                <div flex="10" ng-click="vm.sortColumn('MaturityDate')" class="sortable-column-header" layout="row" layout-align="start center" layout-padding>
                    <b>Maturity</b>
                    <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'MaturityDate'">
                        {{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </i>
                </div>
            </div>
        </div>
    </md-subheader>
    <section layout-align="center start" class="content-color list-view">
        <md-divider></md-divider>
        <md-list continuous-page query-function="vm.getPropertyLoans" container="#loansList" query-object="vm.queryObject" paging-data-watch="vm.loansList.pagingData" class="continuous-page">
            <md-list-item ng-repeat="loan in vm.loansList.resources" layout-fill class="md-no-style md-button md-ink-ripple">
                <div layout="column" layout-gt-sm="row" layout-wrap flex ng-click="vm.selectRow(loan,$event)">
                    <div flex-gt-sm="20" layout="row">
                        <div class="starColumn" flex="35" layout="row" layout-align="start center" layout-padding>
                            <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                <i class="material-icons md-18" id="esx-watch">{{loan.isWatched ? 'star' : 'star_border'}}</i>
                            </a>
                        </div>
                        <div flex="70" layout="row" layout-align="start center" layout-padding>
                            {{loan.dealCode}}
                            <a hide-gt-sm class="md-secondary" aria-label="Details" ng-click="loan.showDetails = !loan.showDetails">
                                <span class="fa" ng-class="loan.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                    </div>
                    <div flex="80" layout="row" layout-align="start center" hide show-gt-sm>
                        <div flex="25" layout-padding>
                            {{loan.loanName}}
                        </div>
                        <div flex="20" layout="row" layout-align="end center" layout-padding>
                            {{loan.loanAmount | largeCurrency}}
                        </div>
                        <div flex="25" class="textTruncated" layout="row" layout-align="start center" layout-padding>
                            {{loan.lender}}
                        </div>
                        <div flex="20" class="textTruncated" layout="row" layout-align="start center" layout-padding>
                            {{loan.borrower}}
                        </div>
                        <div flex="10" layout="row" layout-align="start center" layout-padding>
                            {{loan.maturityDate | date: 'MM/dd/yy'}}
                        </div>
                    </div>
                    <div layout="column" hide-gt-sm ng-show="loan.showDetails">
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Loan Name:</b></span>
                            <span flex="45" flex-offset="5">{{loan.loanName}}</span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Loan Amount:</b></span>
                            <span flex="45" flex-offset="5">{{loan.loanAmount | largeCurrency}}</span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Lender:</b></span>
                            <span flex="45" flex-offset="5">{{loan.lender}}</span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Borrower:</b></span>
                            <span flex="45" flex-offset="5">{{loan.borrower}}</span>
                        </div>
                        <div layout="row">
                            <span flex="50" layout="row" layout-align="end"><b>Maturity:</b></span>
                            <span flex="45" flex-offset="5">{{loan.maturityDate | date: 'MM/dd/yy'}}</span>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </section>
</md-content>
