﻿<div ng-controller="basicsLoanRetiredController as vm">
    <h5>Where existing loans retired when this loan was originated?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <md-radio-group ng-model="vm.deal.hasAssociatedLoans" layout="row">
                    <md-radio-button value="true" aria-label="Yes">Yes</md-radio-button>
                    <md-radio-button value="false" aria-label="No">No</md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
    </div>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchLoans()" placeholder="Filter Loan" />
            <div layout="column" layout-gt-sm="row" layout-wrap flex>
                <md-checkbox ng-repeat="loan in vm.activeLoans | filter:vm.searchText" ng-model="activeloanslist[loan]">
                    {{loan.loanName}} - {{loan.loanAmount | largeCurrency}}
                </md-checkbox>
            </div>
        </div>
    </div>
</div>
