﻿<div ng-controller="basicsSeniorityController as vm" ng-init="vm.init(form)">
    <h5>What is the seniorty of this loan?</h5>
    <div flex layout="row">
        <div flex="100" layout-margin>
            <div data-as-sortable="vm.dragControlListeners"
                 data-ng-model="vm.activeLoans">
                <div layout-margin data-as-sortable-item
                     data-ng-repeat="loan in vm.activeLoans">
                    <span data-as-sortable-item-handle> {{loan.orderNumber}}. {{loan.loanName}} - {{loan.loanAmount | largeCurrency}} - {{loan.maturityDate}} </span>
                </div>
            </div>
        </div>
    </div>
    <h6>Loans missing? add placeholders</h6>
    <div flex layout="row">
        <div flex="50">
            <div layout="column" layout-margin>
                <div>
                    <md-input-container ng-if="!vm.missingLoanCustomScenario">
                        <md-select ng-model="vm.missingLoanScenario">
                            <md-option selected value="">-- Select a scenario --</md-option>
                            <md-option value="Acquisition">Acquisition</md-option>
                            <md-option value="Refinancing">Refinancing</md-option>
                            <md-option value="Construction">Construction</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-if="!vm.missingLoanScenario">
                        <label>Custom Scenario</label>
                        <input type="text" ng-model="vm.missingLoanCustomScenario">
                    </md-input-container>
                </div>
                <div>
                    <big-number-input label="Loan Amount" name="vm.missingLoanAmount" ng-model="vm.missingLoanAmount" ng-required="vm.missingLoanAmount == null">
                    </big-number-input>
                </div>
                <div>
                    <md-button ng-click="vm.addMissingLoan()"> Add </md-button>
                    <md-button> Cancel </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
