﻿<div ng-controller="basicsPropertiesController as vm" ng-init="vm.init(form)">
    <h5>What properties are securing this loan?</h5>

    <md-switch class="md-primary" ng-model="vm.form.result.dealAllProperties" ng-change="vm.onAllPropertiesChange()" aria-label="All Properties">
        All Properties
    </md-switch>

    <div layout="row" ng-hide="vm.form.result.dealAllProperties">
        <md-input-container flex>
            <label>Select Individual Properties</label>
            <md-select multiple="true" ng-model="vm.form.result.loanProperties" ng-model-options="{trackBy: '$value.propertyKey'}">
                <md-option ng-value="property" ng-repeat="property in vm.form.meta.dealSummary.properties"><b>{{ property.propertyName }}</b> {{property.physicalAddress.address1}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
