﻿<div ng-controller="basicsBorrowersController as vm">
    <h5>Please identify the borrowers</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <div ng-repeat="borrower in vm.borrowers">
                <md-checkbox ng-model="borrowers[borrower]">{{borrower.companyName}}</md-checkbox>
            </div>
        </div>
     </div>
</div>
