﻿<div ng-controller="basicsLendersController as vm">
    <h5>Please identify the lenders</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <div ng-repeat="lender in vm.lenders">
                <md-checkbox ng-model="lenders[lender]">{{lender.companyName}}</md-checkbox>
            </div>
        </div>
    </div>
</div>
