﻿<h5>What deal resulted in this loan origination?</h5>
<div ng-controller="basicsDealController as vm">
    <div deal-selector ng-model="form.result.deal"></div>
    <div>
        <span>Can't find deal? <a href="#">click here</a> to add a new deal</span>
    </div>
</div>
