﻿<div ng-controller="loanDetailsClusterThreeController as vm" ng-init="vm.init(form)">
    <h5>What is the original loan balance?</h5>
     <div flex layout="row">
        <div flex="50" layout-margin>
            <big-number-input label="Loan Amount" name="vm.loanAmount" ng-model="vm.loanAmount">
              
            </big-number-input>
        </div>
    </div>
    <h5>What index is the interest rate based on?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <md-select md-placeholder="Select index" ng-model="vm.indexOfInterestRate">
                    <md-option value="Treasury">Treasury</md-option>
                    <md-option value="Swap">Swap</md-option>
                    <md-option value="Libor">Libor</md-option>
                    <md-option value="Euribor">Euribor</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <h5>What duration is the index?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <label ng-if="vm.indexOfInterestRate">Duration of index (months)</label>
                <label ng-if="!vm.indexOfInterestRate">Duration of index</label>
                <input type="number" ng-model="vm.durationOfIndex">
            </md-input-container>
        </div>
    </div>
    <h5>What spread is the interest rate based on?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <label>Spread (%)</label>
                <input type="number" step="0.01" ng-model="vm.spread">
            </md-input-container>
        </div>
    </div>
    <h5>What is the original interest rate?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <label>Original interest rate (%)</label>
                <input type="number" step="0.01" ng-model="vm.originalInterestRate">
            </md-input-container>
        </div>
    </div>
</div>
