﻿<div ng-controller="loanDetailsClusterOneController as vm" ng-init="vm.init(form)">
    <h5>What is the scenario?</h5>
    <div flex layout="row">
        <div flex="50">
            <md-input-container ng-if="!vm.customScenario">
                <md-select ng-model="vm.selectedScenario">
                    <md-option selected="false" value="">-- Select a scenario --</md-option>
                    <md-option selected="false" value="Acquisition">Acquisition</md-option>
                    <md-option  selected="false" value="Construction">Construction</md-option>
                    <md-option selected="true" value="Refinancing">Refinancing</md-option>

                </md-select>
            </md-input-container><br />
            <md-input-container ng-if="!vm.selectedScenario">
                <label>Custom Scenario</label>
                <input type="text" ng-model="vm.customScenario">
            </md-input-container>
        </div>
    </div>
    <h5>What type of loan is this?</h5>
    <div flex layout="row">
        <div flex="50">
            <md-input-container>
                <md-radio-group ng-model="vm.deal.dealType" layout="row">
                    <md-radio-button value="Balance Sheet" aria-label="Balance Sheet">Balance Sheet</md-radio-button>
                    <md-radio-button value="CMBS" aria-label="CMBS">CMBS</md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
    </div>
    <h5 ng-if="vm.deal.dealType">What type of CMBS is this?</h5>
    <div flex layout="row" ng-if="vm.deal.dealType">
        <div flex="50">
            <md-input-container>
                <md-radio-group ng-model="vm.cmbsType" layout="row">
                    <md-radio-button value="Single Asset-Single Borrower" aria-label="Balance Sheet">Single Asset-Single Borrower</md-radio-button>
                    <md-radio-button value="Conduit" aria-label="CMBS">Conduit</md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
    </div>
</div>
