﻿<div ng-controller="loanDetailsClusterTwoController as vm" ng-init="vm.init(form)">
    <h5>What are the origination and initial maturity dates?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-datepicker ng-model="vm.originationDate" md-placeholder="Origination Date"></md-datepicker>
            <md-input-container>
                <label>Initial maturity dates</label>
                <input type="number" ng-change="vm.setInitialMaturityDate()" step="1" ng-model="vm.initialMaturityDate">
            </md-input-container>
            <md-datepicker ng-model="vm.initialMaturityDate2" md-placeholder="Initial maturity dates"></md-datepicker>
        </div>
    </div>
    <h5>Are there extended maturity dates?</h5>
    <div>
        <span>
            {{ vm.AllExtendedMaturityDate }}
        </span>
    </div>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <label>Extended maturity date</label>
                <input type="number" ng-change="vm.setExtendedMaturityDate()" ng-model="vm.extendedMaturityDate">
            </md-input-container>
            <md-datepicker ng-model="vm.extendedMaturityDate2" md-placeholder="Extended maturity date"></md-datepicker>
        </div>
        <md-button ng-click="vm.addMaturityDate()"> Add </md-button>
    </div>
    <h5>How many months are interest only?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <label>Months of interest only</label>
                <input type="number" step="1" ng-model="vm.monthsOfInterest">
            </md-input-container>
        </div>
    </div>
</div>
