﻿<div ng-controller="loanDetailsClusterFourController as vm" ng-init="vm.init(form)">
    <h5>When does the lockout end?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <md-input-container>
                <label>Lockout End</label>
                <input type="text" ng-model="vm.lockoutEnd">
            </md-input-container>
            <md-datepicker ng-model="vm.lockoutEnd2" md-placeholder="Lockout End"></md-datepicker>
        </div>
    </div>
    <h5>When can the loan be prepaid at par?</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <div>
                <md-input-container>
                    <label>Prepaid at par</label>
                    <input type="text" ng-model="vm.prepaidDate">
                </md-input-container>
                <md-datepicker ng-model="vm.prepaidDate2" md-placeholder="Prepaid at par"></md-datepicker>
            </div>
        </div>
    </div>
    <h5>Please enter any notes about prepayment and/or call protection.</h5>
    <div flex layout="row">
        <div flex="50" layout-margin>
            <div>
                <md-input-container>
                    <label>Enter Notes</label>
                    <input type="text" ng-model="vm.notes">
                </md-input-container>
            </div>
        </div>
    </div>
</div>
