﻿<div layout="row" flex>
    <span  ng-show="vm.property.campus.length>3" flex="50"> 
        <strong>Campus Name:</strong>   <i>{{vm.property.campus}}</i>
    </span>
    <span  ng-show="vm.property.state" flex="50">
        <strong>Status:</strong>  <i>{{vm.property.state}}</i>
    </span>
</div>
<div ng-show="vm.property.location" layout="row" flex>
        <strong>Address:</strong> <i>{{vm.property.propertyAddress}}</i>
</div>
<div ng-show="vm.showName==true" layout="row" flex>
    <strong>Name:</strong> <i>{{vm.property.propertyName}}</i>
</div>
<div layout="row" flex>
    <div layout="row" flex>
        <span ng-show="vm.property.ownershipStructure" flex="40" layout="row">
            <strong>Ownership: </strong> <i>{{vm.property.ownershipStructure}}</i>
        </span>
     
        <span flex ng-show="vm.property.uses.length>0">
            <strong>Uses: </strong> <i ng-repeat="use in vm.property.uses">{{use.typeName}} <span ng-show="!$last">, </span></i> 
        </span>
      </div>
    </div>

<div layout="row" flex>
    <span flex ng-show="vm.property.groundLease">
        <strong>GroundLease: </strong> <i> {{vm.property.groundLease}}</i>
    </span>
</div>

<div layout="row" flex>
    <span flex ng-show="vm.property.owners.length>0">
        <strong>Owners: </strong> <i ng-repeat="owner in vm.property.owners">{{owner.companyName}} <span ng-show="!$last">, </span></i>
    </span>
</div>

<div layout="row" flex>
    <span flex ng-show="vm.property.condos.length>0">
    <strong>Condos:</strong> 
        <i ng-repeat="condo in vm.property.condos">  
            <strong>{{condo.condoName}}</strong>
        <span ng-show="condo.owners.length>0">
            - owners:
            <i ng-repeat="owner in condo.owners">{{owner.companyName}}
                <i ng-show="!$last">, </i>
            </i>
        </span>   
          
            <span ng-show="condo.uses.length>0">
                - Uses:
                <i ng-repeat="use in condo.uses">
                    {{use.typeName}}
                    <i ng-show="!$last">, </i>
                </i>
            </span>    

        </i>
    </span>
</div>

<!--<div layout="row" ng-show="vm.property.additionalLocations.length>0">
    <Strong ng-show="vm.property.mergeSubdivide=='Merged'">
        Merged Properties
    </Strong>
    <Strong ng-show="vm.property.mergeSubdivide=='Subdivided'">
        Subdivided Properties
    </Strong>
    <span ng-repeat="location in vm.property.additionalLocations">
        {{location.locationName}}
        <i ng-show="!$last"> - </i>
    </span>
</div>-->

<div layout="row" ng-show="vm.getMergeLocations().length>0">
    <Strong >
        Merged Properties
    </Strong>
    <span ng-repeat="location in vm.getMergeLocations()">
        {{location.locationName}}
        <i ng-show="!$last"> - </i>
    </span>
</div>
<div layout="row" ng-show="vm.getSubdivivisionLocations().length>0">
    <Strong >
       Subdivided Properties
    </Strong>
    <span ng-repeat="location in vm.getSubdivivisionLocations()">
        {{location.locationName}}
        <i ng-show="!$last"> - </i>
    </span>
</div>

<!--<div layout="row" flex>
    <span flex ng-show="vm.property.owners.length>0">
        <strong>Owners: </strong> <i ng-repeat="owner in vm.property.owners">{{owner.companyName}} <span ng-show="!$last">, </span></i>
    </span>
</div>-->


<div layout="row" flex ng-show="vm.showMap==true">
    <div id="propertyToggle" style="background-color: white; margin: 7px; border: 1px solid lightgray; height: 25px;padding:7px" ng-show="vm.showPropertyToggle===true">
        <md-checkbox ng-model="vm.showProperties" aria-label="show properties" ng-click="vm.showESXProperties()">
            Show ESX Properties
        </md-checkbox>
    </div>
    <div id="map" class="property-add-map" ng-class="vm.mapClass" flex></div>
</div>
<!--<strong ng-show="vm.property.location">{{vm.mapMessage}}</strong>-->

<!--<pre>
{{vm.property | json}}
</pre>-->
