﻿<h5>Will {{vm.property.propertyName}} be subdivided into multiple new properties?</h5>

<md-radio-group ng-model="vm.property.subdivide" ng-change="vm.setUpSubdivide()">
    <md-radio-button value="yes">Yes</md-radio-button>
    <md-radio-button value="no" class="md-primary">No</md-radio-button>
</md-radio-group>

<div ng-show="vm.property.subdivide==='yes'">
    <md-input-container class="md-block">
        <input ng-model="vm.property.subdivideAddress"
               placeholder=""
               aria-label="{{vm.property.subdivideAddress}}"
               ng-change="vm.initMap()"
               id="subdivisionautocomplete">
    </md-input-container>

    <div ng-repeat="location in vm.getSubdivivisionLocations()" layout="row">
        <i class="material-icons" ng-click="vm.removeMergeLocation(location)">delete</i> <span layout="row" layout-align="start center">{{location.locationName}}  </span>
    </div>
</div>

<div>
    <div flex layout="row" layout-align="end center">
        <md-button class="md-primary"
                   ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEleven.html'">
            Previous
        </md-button>
        <md-button class="md-primary"
                   ui-sref="properties"
                   ng-show="vm.property.subdivide">
            Finish
        </md-button>
    </div>
</div>
    