﻿
<h5>What is this property used for?</h5>
<div ng-show="!vm.property.primaryType">
    <md-radio-group ng-model="vm.property.primaryType" ng-repeat="type in vm.propertyTypes">
        <md-radio-button value="{{type.typeId}}" class="md-primary" ng-click="vm.createSecondaryUses(type)">{{type.typeName}}</md-radio-button>
    </md-radio-group>
</div>
<div ng-show="vm.property.primaryType" layout="row">
    <div flex="50">
        <div>
            <strong>Primary Use</strong>
        </div>
        <div layout-margin>
            <md-checkbox ng-checked="true" class="md-primary" ng-click="vm.clearPropertyTypes()" aria-label="type.typeName">
                {{vm.property.uses[0].typeName}}
            </md-checkbox>
        </div>
    </div>
    <div flex="50">
        <div>
            <strong>Secondary Uses</strong>
        </div>
        <div ng-repeat="type in vm.secondaryUseTypes" layout-margin>
            <md-checkbox class="md-primary" ng-click="vm.addSecondaryUses(type)" aria-label="type.typeName" ng-checked="vm.checkSecondaryUses(type)">
                {{ type.typeName }}
            </md-checkbox>
        </div>
    </div>
</div>


<div flex layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               ng-show="vm.property.ownershipStructure"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEight1.html'">
        Previous
    </md-button>

    <md-button class="md-raised md-primary"
               ng-show="vm.property.uses.length>0 && (vm.property.state=='Approved' || vm.property.state=='Proposed')"
                ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionTen.html'">
        Save and Continue
    </md-button>
    <md-button class="md-raised md-primary"
               ng-show="vm.property.uses.length>0"
              ui-sref="properties">
        Save and Exit
    </md-button>

</div>

