﻿

<div layout="row">
    <div flex>

        <h5>Does this property have a ground lease?</h5>
        <div layout="row">
            <md-radio-group ng-model="vm.property.groundLease">
                <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
                <md-radio-button value="No">No</md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div flex>
        <h5>Does This property have condos?</h5>
        <div layout="row">
            <md-radio-group ng-model="vm.property.hasCondos" ng-change="vm.answerCondoQuestion()">
                <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
                <md-radio-button value="No">No</md-radio-button>
            </md-radio-group>
        </div>
    </div>
</div>




<div flex layout="row" layout-align="end center" class="property-add-toolbar">
    <md-button class="md-primary"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionFive.html'">
        Previous
    </md-button>
    <md-button class="md-primary"
               ng-show="(vm.property.hasCondos=='Yes')  && (vm.property.groundLease)"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionNine.html'">
        Continue
    </md-button>
    <md-button class="md-primary"
               ng-show="(vm.property.hasCondos=='No') && (vm.property.groundLease)"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionNine1.html'">
        Continue
    </md-button>
</div>
