﻿<div layout-padding>
    <h5>What is the current state of this property?</h5>
    <md-radio-group ng-model="vm.property.state" ng-change="vm.form.stepOne.progress=50">
        <md-radio-button value="Existing" class="md-primary">Existing</md-radio-button>
        <md-radio-button value="Proposed">Proposed</md-radio-button>
        <md-radio-button value="Approved">Approved</md-radio-button>
        <md-radio-button value="Under Construction">Under Construction</md-radio-button>
    </md-radio-group>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionOne.html'">
        Previous
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.property.state"
               ng-click="vm.moveToQuestionThree()">
        Continue
    </md-button>
</div>