﻿<div layout-padding>
    <!--<h5>Would you like to name this property something other than {{vm.property.propertyName}}</h5>-->
    <!--<md-radio-group ng-model="vm.showNameInput" ng-change="vm.showPropertyName()">
        <md-radio-button value="true" class="md-primary" ng-click="vm.showNameInput=true">Yes</md-radio-button>
        <md-radio-button value="false" ng-click="vm.showNameInput=false">No</md-radio-button>
    </md-radio-group>-->
    <h5>What should this property be named in the ESX database?”</h5>
</div>
<div layout="row" flex>
    <md-input-container flex>
        <label>Change Property Name</label>
        <input ng-model="vm.property.propertyName">
    </md-input-container>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionThree.html'">
        Previous
    </md-button>
    <md-button class="md-primary"
               ng-click="vm.saveStepOne()">
        Save and Exit
    </md-button>
    <md-button class="md-primary"
               ng-click="vm.moveToStepTwo()">
        Save and Continue
    </md-button>
</div>