﻿
<div layout="row">
    <div flex>
        <h5>Who owns this property?</h5>
        <md-autocomplete md-input-name="owner"
                         md-no-cache
                         md-search-text="vm.ownerSearch"
                         md-input-maxlength="300"
                         md-selected-item-change="vm.addOwner(company)"
                         md-items="company in vm.companies"
                         md-item-text="company.companyName"
                         md-min-length="3"
                         md-floating-label="Owner Name (optional)">
            <md-item-template>
                <span md-highlight-text="vm.ownerSearch" md-highlight-flags="^i">{{company.companyName}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>
</div>

<div ng-repeat="owner in vm.property.owners" layout="row" layout-padding>
    <i class="material-icons" ng-click="vm.removeOwner(owner)">delete</i>  <span layout="row" layout-align="start center">{{owner.companyName}}  </span>
</div>


<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-show="vm.property.ownershipStructure"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEight1.html'">
        Previous
    </md-button>

    <md-button class="md-primary"
               ng-show="vm.property.owners.length>0 && (vm.property.state=='Approved' || vm.property.state=='Proposed')"
               ng-click="vm.moveToStepThree()">
        Save and Continue
    </md-button>

    <md-button class="md-primary"
               ng-show="vm.property.owners.length>0"
               ui-sref="properties">
        Save and Exit
    </md-button>
</div>

