﻿<div layout-padding>
    <h5>Is this property part of a multi­property setting (e.g., park, campus, master plan)?</h5>
    <md-radio-group ng-model="vm.property.isPartOfCampus">
        <md-radio-button value="true" class="md-primary" ng-click="vm.showCampus(true)">Yes</md-radio-button>
        <md-radio-button value="false" ng-click="vm.showCampus(false)">No</md-radio-button>
    </md-radio-group>

    <div ng-show="vm.property.isPartOfCampus=='true'">
        <div flex>
            <md-autocomplete md-input-name="campus"
                             md-no-cache
                             md-search-text-change = "vm.updateCampus()"
                             md-search-text="vm.campusSearch"
                             md-input-maxlength="300"
                             md-selected-item-change="vm.updateCampus(campus)"
                             md-items="campus in vm.existingCampuses"
                             md-item-text="campus.campusName"
                             md-min-length="3"
                             md-floating-label="Multi­property setting name">
                <md-item-template>
                    <span md-highlight-text="vm.ownerSearch" md-highlight-flags="^i">{{campus.campusName}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
    </div>
</div>

<h6 ng-show="vm.selectedCampus.campusProperties.length>0">Existing Properties</h6>
<div ng-repeat="property in vm.selectedCampus.campusProperties">
    <strong>{{$index + 1}}</strong> - {{property.address}}
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-show="vm.property.isPartOfCampus=='false' || vm.campusSearch.length>2"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionTwo.html'">
        Continue
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.property.isPartOfCampus=='true'"
               ng-click="vm.cancel()">
        Cancel (ESX already includes)
    </md-button>
</div>