﻿<div layout-padding>
    <h5>Does this property have a ground lease and/or condominiums?</h5>
    <md-radio-group ng-model="vm.property.ownershipStructure" ng-change="vm.setOwnerShip()">
        <md-radio-button value="Divided">Yes</md-radio-button>
        <md-radio-button value="Fee Simple" class="md-primary">No</md-radio-button>
        <md-radio-button value="I Don't Know">Unsure</md-radio-button>
    </md-radio-group>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionFour.html'">
        Previous
    </md-button>

    <md-button class="md-primary"
               ng-show="vm.property.ownershipStructure==='Divided'"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEight1.html'">
        Continue
    </md-button>
    <md-button class="md-primary"
               ng-show="(vm.property.ownershipStructure==='Fee Simple') || (vm.property.ownershipStructure==='I Don\'t Know')"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionSix.html'">
        Continue
    </md-button>
</div>

