﻿<div ng-show="vm.property.ownershipStructure=='Fee Simple'">
    <h5>What is this property used for?</h5>
    <div ng-show="!vm.property.primaryType">
        <md-radio-group ng-model="vm.property.primaryType" ng-repeat="type in vm.propertyTypes">
            <md-radio-button value="{{type.typeId}}" class="md-primary" ng-click="vm.createSecondaryUses(type)">{{type.typeName}}</md-radio-button>
        </md-radio-group>
    </div>
    <div ng-show="vm.property.primaryType" layout="row">
        <div flex="50">
            <div>
                <strong>Primary Use</strong>
            </div>
            <div layout-margin>
                <md-checkbox ng-checked="true" class="md-primary" ng-click="vm.clearPropertyTypes()" aria-label="type.typeName">
                    {{vm.property.uses[0].typeName}}
                </md-checkbox>
            </div>
        </div>
        <div flex="50">
            <div>
                <strong>Secondary Use(s) (e.g., ground­level retail)</strong>
            </div>
            <div ng-repeat="type in vm.secondaryUseTypes" layout-margin>
                <md-checkbox class="md-primary" ng-click="vm.addSecondaryUses(type)" aria-label="type.typeName" ng-checked="vm.checkSecondaryUses(type)">
                    {{ type.typeName }}
                </md-checkbox>
            </div>
        </div>
    </div>


</div>

<!--<div ng-show="vm.property.ownershipStructure=='Divided'">
    
    <h5>Does this property have a ground lease?</h5>
    <md-radio-group ng-model="vm.property.groundLease" ng-change="vm.form.stepTwo.progress=70">
        <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
        <md-radio-button value="No">No</md-radio-button>
    </md-radio-group>
  
</div>-->

<div ng-show="vm.property.ownershipStructure=='I Don\'t Know'">
    <h5>What is This Property  Used For?</h5>
    <div ng-show="!vm.property.primaryType">
        <md-radio-group ng-model="vm.property.primaryType" ng-repeat="type in vm.propertyTypes">
            <md-radio-button value="{{type.typeId}}" class="md-primary" ng-click="vm.createSecondaryUses(type)">{{type.typeName}}</md-radio-button>
        </md-radio-group>
    </div>
    <div ng-show="vm.property.primaryType" layout="row">
        <div flex="50">
            <div>
                <strong>Primary Use</strong>
            </div>
            <div layout-margin>
                <md-checkbox ng-checked="true" class="md-primary" ng-click="vm.clearPropertyTypes()" aria-label="type.typeName">
                    {{vm.property.uses[0].typeName}}
                </md-checkbox>
            </div>
        </div>
        <div flex="50">
            <div>
                <strong>Secondary Uses</strong>
            </div>
            <div ng-repeat="type in vm.secondaryUseTypes" layout-margin>
                <md-checkbox class="md-primary" ng-click="vm.addSecondaryUses(type)" aria-label="type.typeName" ng-checked="vm.checkSecondaryUses(type)">
                    {{ type.typeName }}
                </md-checkbox>
            </div>
        </div>
    </div>
</div>

<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionFive.html'">
        Previous
    </md-button>
    <!--Fee Simple-->

    <md-button class="md-primary"
               ng-show="(vm.property.ownershipStructure=='Fee Simple')  && (vm.property.primaryType)  && (vm.property.state=='Approved' || vm.property.state=='Proposed')"
               ng-click="vm.moveToStepThree()">
        Save and Continue
    </md-button>

    <md-button class="md-primary"
               ng-show="(vm.property.ownershipStructure=='I Don\'t Know')  && (vm.property.primaryType)  && (vm.property.state=='Approved' || vm.property.state=='Proposed')"
               ng-click="vm.moveToStepThree()">
        Save and Continue
    </md-button>

    <md-button class="md-primary"
               ng-show="(vm.property.ownershipStructure=='Fee Simple')  && (vm.property.primaryType) && (vm.property.state=='Existing' || vm.property.state=='Under Construction')"
               ui-sref="properties">
        Finish
    </md-button>

    <!--Divided-->
    <!--<md-button class="md-primary"
               ng-show="vm.property.groundLease=='Yes' && (vm.property.ownershipStructure!='Fee Simple' || vm.property.ownershipStructure=='I Don\'t Know') "
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionSeven2.html'">
        Continue
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.property.groundLease=='No' && (vm.property.ownershipStructure!='Fee Simple' || vm.property.ownershipStructure=='I Don\'t Know') "
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEight1.html'">
        Continue
    </md-button>-->
    <!--<md-button class="md-primary"
               ng-show="(vm.property.ownershipStructure!='Fee Simple' || vm.property.ownershipStructure=='I Don\'t Know') "
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEight1.html'">
        Continue
    </md-button>-->
  

    <!--I Don't Know-->
    <md-button class="md-primary"
               ng-show="vm.property.ownershipStructure=='I Don\'t Know' && (vm.property.ownershipStructure!='Fee Simple' || vm.property.ownershipStructure!='Divided')"
               ui-sref="properties">
        Finish
    </md-button>



</div>