﻿<!--<div layout="row">-->
    <!--<h5>Who owns {{vm.selectedCondo.condoName}}?</h5>
</div>
    <div flex>
        <md-autocomplete md-input-name="owner"
                         md-no-cache
                         md-search-text="vm.ownerSearch"
                         md-input-maxlength="300"
                         md-selected-item-change="vm.addCondoOwner(company,vm.selectedCondo)"
                         md-items="company in vm.companies"
                         md-item-text="company.companyName"
                         md-min-length="3"
                         md-floating-label="Owner Name (optional)">
            <md-item-template>
                <span md-highlight-text="vm.ownerSearch" md-highlight-flags="^i">{{company.companyName}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>

<div ng-repeat="owner in vm.selectedCondo.owners" layout="row" >
    <i class="material-icons" ng-click="vm.removeCondoOwner(owner)">delete</i>  <span layout="row" layout-align="start center">{{owner.companyName}}  </span>
</div>-->


<div class="property-add-uses">
    <div layout="row" flex ng-show="vm.editCondoName!==true">
        <h5>
            What is {{vm.selectedCondo.condoName}} used for?
        </h5>
    </div>
    <div ng-show="vm.editCondoName===true" flex>
        <md-input-container>
            <input ng-model="vm.selectedCondo.condoName" type="text">
        </md-input-container>
        <span 
              class="md-subhead"
              ng-click="vm.editCondoName=false">
              <i class="material-icons">done</i>
        </span>
    </div>
  

    <div ng-show="vm.selectedCondo.uses.length<1">
        <md-radio-group ng-model="vm.selectedCondo.primaryType" ng-repeat="type in vm.propertyTypes">
            <md-radio-button value="{{type.typeId}}" class="md-primary" ng-click="vm.createSecondaryCondoUses(type,vm.selectedCondo)">{{type.typeName}}</md-radio-button>
        </md-radio-group>
    </div>



    <div ng-show="vm.selectedCondo.uses.length>0" layout="row">
        <div flex="50">
            <div>
                <strong>Primary Use</strong>
            </div>
            <div layout-margin>
                <md-checkbox ng-checked="true" class="md-primary" ng-click="vm.clearCondoUseTypes()" aria-label="type.typeName">
                    {{vm.selectedCondo.uses[0].typeName}}
                </md-checkbox>
            </div>
        </div>
        <div flex="50">
            <div>
                <strong>Secondary Uses</strong>
            </div>
            <div ng-repeat="type in vm.secondaryUseTypes" layout-margin>
                <md-checkbox class="md-primary" ng-click="vm.addSecondaryCondoUse(type,vm.selectedCondo)" aria-label="type.typeName" ng-checked="vm.checkSecondaryCondoUses(type)">
                    {{ type.typeName }}
                </md-checkbox>
            </div>
        </div>
    </div>

</div>


<div flex layout="row" layout-align="end center"  class="property-add-toolbar">
    <md-button class="md-primary"
               ng-show="vm.property.hasCondos"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionEight1.html'">
        Previous
    </md-button>


    <!--<span class="md-subhead"
          ng-click="vm.editCondoName=true">
        <i class="material-icons">mode_edit</i> (edit condo name in ESX database)
    </span>-->
    <md-button class="md-primary"
              ng-click="vm.editCondoName=true">
        Edit Condo Name
    </md-button>

    <md-button class="md-primary"
               ng-show="!vm.isFirstCondo()"
               ng-click="vm.previousCondo()">
        Previous Condo
    </md-button>
    <md-button class="md-primary"
               ng-show="!vm.isLastCondo()"
               ng-click="vm.nextCondo()">
        Next Condo
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.isLastCondo()"
               ng-click="vm.addCondo()">
        Add Another Condo
    </md-button>

    <md-button class="md-primary"
               ng-show="vm.isLastCondo() && (vm.property.state=='Approved' || vm.property.state=='Proposed')"
               ng-click="vm.moveToStepThree()">
       Save and Continue
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.isLastCondo()"
               ui-sref="properties">
        Save and Exit
    </md-button>

</div>

