﻿<div layout-padding>
    <h5>Please enter the address?</h5>

    <md-input-container class="md-block">
        <input ng-model="vm.property.propertyAddress"
               value="lalalal"
               aria-label="{{vm.property.propertyAddress}}"
               ng-change="vm.initMap()"
               id="autocomplete">
    </md-input-container>
</div>

<h6 ng-show="vm.addressFetched===true"
    layout-padding
    layout-margin>
    Please verify that the map pin is
    located on the target property. If it isn’t, drag and drop the pin to fine ­tune
    it.
</h6>

<div flex layout="row" layout-align="end end" style="margin-top: 25px;">
    <md-button class="md-primary"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionTwo.html'">
        Previous
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.addressFetched===true"
               ng-click="vm.currentQuestion = 'app/properties/addProperty/templates/questionFour.html'">
        ESX Location Verified
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.property.propertyAddress"
               ng-click="vm.cancel()">
        Cancel (ESX already includes)
    </md-button>
</div>

