﻿<h5>Will any existing properties be replaced by {{vm.property.propertyName}}</h5>

<md-radio-group ng-model="vm.property.merge" ng-change="vm.setUpMerge()">
    <md-radio-button value="yes">Yes</md-radio-button>
    <md-radio-button value="no" class="md-primary">No</md-radio-button>
</md-radio-group>

<div ng-show="vm.property.merge==='yes'">
    <md-input-container class="md-block">
        <input ng-model="vm.property.mergeAddress"
               placeholder=""
               aria-label="{{vm.property.mergeAddress}}"
               ng-change="vm.initMap()"
               id="mergeautocomplete">
    </md-input-container>

    <div ng-repeat="location in vm.getMergeLocations()" layout="row">
        <i class="material-icons" ng-click="vm.removeMergeLocation(location)">delete</i> <span layout="row" layout-align="start center">{{location.locationName}}  </span>
    </div>

    <div flex layout="row" layout-align="end center">
        <md-button class="md-primary"
                   ng-click="vm.setUpSubdivide()">
            Continue
        </md-button>
    </div>
</div>


<div ng-show="vm.property.merge==='no'">

    <div flex layout="row" layout-align="end center">
        <md-button class="md-primary"
                   ng-click="vm.setUpSubdivide()">
            Continue
        </md-button>
    </div>
</div>


<!--<div flex layout="row" layout-align="end center">
    <md-button class="md-primary"
               ng-show="vm.property.mergeSubdivide=='Merged' || vm.property.mergeSubdivide=='Subdivided'"
               ng-click="vm.setUpMergeSubdivide()">
        Continue
    </md-button>
    <md-button class="md-primary"
               ng-show="vm.property.mergeSubdivide=='No'"
               ui-sref="properties">
        Finish
    </md-button>
</div>-->