﻿<md-content layout="column" flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" flex-gt-md="80" id="dealsList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <section>
                <div layout="row" layout-align="start center">
                    <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" maxlength="255" ng-change="vm.searchDeals()" placeholder="Filter" class="pageFilterBox" />
                    </div>
                </div>
            </section>
            <md-divider class="subheader-divider"></md-divider>
            <section>
                <div layout="row">
                    <div flex flex-gt-sm="20" layout="row" class="list-data">
                        <div ng-click="vm.sortColumn('isWatched')" class="iconColumn sortable-column-header">
                            <i class="material-icons md-18">star</i>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'isWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div ng-click="vm.sortColumn('dealCode')" class="sortable-column-header" flex="80">
                            <b>Deal Code</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealCode'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                    <div flex="80" layout="row" hide show-gt-sm class="list-data">
                        <div flex="15" ng-click="vm.sortColumn('dealName')" style="cursor: pointer;">
                            <b>Deal Name</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('dealOffice')" style="cursor: pointer;">
                            <b>Deal Office</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealOffice'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('dealStatus')" style="cursor: pointer;">
                            <b>Status</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealStatus'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('statusDate')" style="cursor: pointer;">
                            <b>Status Date</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'statusDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('propertyType')" layout="row" layout-align="start start" style="cursor: pointer;">
                            <b>Property Type</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'propertyType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="15" ng-click="vm.sortColumn('location')" style="cursor: pointer;">
                            <b>Location</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'location'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('dealType')" style="cursor: pointer;">
                            <b>Deal Type</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'dealType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                        <div flex="10" ng-click="vm.sortColumn('valuation')" layout="row" layout-align="end" style="cursor: pointer;">
                            <b>Valuation</b>
                            <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'valuation'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </div>
                    </div>
                </div>
            </section>
        </md-subheader>
        <section layout-align="center start" class="content-color list-view">
            <md-divider></md-divider>
            <md-list continuous-page container="#dealsList" query-function="vm.getDeals" query-object="vm.queryObject">
                <md-list-item ng-repeat="deal in vm.dealsList.resources" class="md-no-style md-button md-ink-ripple" layout-fill >
                    <div layout="column" layout-gt-sm="row" ng-click="vm.selectRow(deal,$event)" layout-wrap flex>
                        <div flex-gt-sm="20" layout="row" class="list-data">
                            <div class="starColumn">
                                <a>
                                    <i class="material-icons md-18" id="esx-watch">{{deal.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            <div>
                                <a ui-sref="deal.dealSummary({dealMentionId:deal.dealMentionId})">
                                    {{deal.dealCode}}
                                </a>
                                <a hide-gt-sm class="md-secondary" aria-label="show details" ng-click="deal.showDetails = !deal.showDetails">
                                    <span class="fa" ng-class="deal.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                                </a>
                            </div>
                        </div>
                        <div flex="80" layout="row" hide show-gt-sm class="list-data">
                            <div flex="15">
                                {{deal.dealName}}
                            </div>
                            <div flex="15" layout="row">
                                {{deal.dealOffice}}
                            </div>
                            <div flex="10" layout="row">
                                {{deal.dealStatus}}
                            </div>
                            <div flex="10" layout="row">
                                {{deal.statusDate | date:'MM/dd/yy'}}
                            </div>
                            <div flex="15" layout="row">
                                {{deal.propertyType}}
                            </div>
                            <div flex="15" layout="row">
                                {{deal.location}}
                            </div>
                            <div flex="10" layout="row">
                                {{deal.dealType}}
                            </div>
                            <div flex="10" layout="row" layout-align="end">
                                {{deal.valuation | largeCurrency}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="deal.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Code:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealCode}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Name:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealName}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Office:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealOffice}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Property Type:</b></span>
                                <span flex="45" flex-offset="5">{{deal.propertyType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Location:</b></span>
                                <span flex="45" flex-offset="5">{{deal.location}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Status:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealStatus}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Type:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Valuation:</b></span>
                                <span flex="45" flex-offset="5">{{deal.valuation | largeCurrency}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>