﻿<div layout="column" layout-padding>
    <form name="reminderForm" ng-submit="apply(reminderForm)">

        <div layout="row">
            <md-datepicker ng-model="customDay" md-placeholder="Enter date" md-min-date="minDate" required></md-datepicker>
        </div>

        <div layout="row">
            <md-input-container>
                <input type="text" ng-model="customTime" placeholder="Add a time" on-enter-press="apply(reminderForm)" required />    
            </md-input-container>            
        </div>

        <div layout="row">
            <span flex></span>
            <md-button ng-click="apply(reminderForm)" class="md-primary">
                Save
            </md-button>
        </div>
    </form>
</div>
