﻿<div layout="column" flex flex-md="70" flex-gt-md="70" layout-margin>

    <div layout="column" md-whiteframe class="content-background-color" layout-padding ng-if="!vm.queryObject.isSnoozed && !vm.queryObject.isDone">
        <div layout="row" style="margin-bottom: -5px;">       
            <ng-md-icon class="sidebar-item-icon" icon="forum" size="25"></ng-md-icon>
            <div class="grey-text" style="font-weight: bold; font-size: 18px; margin-left: 10px;" ng-if="!vm.queryObject.reminders">
                Say something.
            </div>
            <div class="grey-text" style="font-weight: bold; font-size: 18px; margin-left: 10px;" ng-if="vm.queryObject.reminders">
                Add a To-Do
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <div style="" flex contenteditable="" mentio="" mentio-macros="macros" mentio-require-leading-space="false" mentio-select-not-found="true" class="newsfeed-box" mentio-id="'htmlContent'" id="htmlContent" ng-model="vm.comment" autocomplete="on" data-blah="Post a comment" mentio-trigger-char="'@'"  mentio-items="vm.mentions" mentio-template-url="/people-mentions.tpl" mentio-search="vm.searchMentions(term)" mentio-select="vm.getPeopleText(item)">                
            </div>
        </div>
        <div layout="row">
            <ng-md-icon ng-click="vm.autoStartMention('C')" style="margin-right: 10px; cursor: pointer;" icon="contacts" class="sidebar-contacts" size="24"></ng-md-icon>
            <ng-md-icon ng-click="vm.autoStartMention('P')" style="margin-right: 10px; cursor: pointer;" icon="location_city" class="sidebar-properties" size="24"></ng-md-icon>
            <ng-md-icon ng-click="vm.autoStartMention('D')" style="margin-right: 10px; cursor: pointer;" icon="attach_money" class="sidebar-deals" size="24"></ng-md-icon>
            <ng-md-icon ng-click="vm.autoStartMention('A')" style="margin-right: 10px; cursor: pointer;" icon="work" class="sidebar-companies" size="24"></ng-md-icon>
            <ng-md-icon ng-click="vm.autoStartMention('T')" style="margin-right: 10px; cursor: pointer;" icon="insert_chart" class="sidebar-pitches" size="24"></ng-md-icon>
            <i ng-click="vm.autoStartMention('L')" style="margin-top: 3px; cursor: pointer; font-size: 1.6em;" class="fa fa-money fa fa-loans-icon"></i>
            <span flex></span>
            <span ng-if="vm.queryObject.reminders">
                <md-input-container style="margin-top: -5px; margin-bottom: 0; margin-right: 25px;">    
                    <label ng-hide="vm.assigneeText">Assign someone</label>                                
                    <input type="text" style="" flex mentio="" mentio-require-leading-space="false" mentio-id="'assignee'" id="assignee" ng-model="vm.assigneeText" mentio-trigger-char="'@'" mentio-items="vm.employees" mentio-template-url="/employees.tpl" mentio-search="vm.searchEmployees(term)" mentio-select="vm.getEmployeeText(item)" />
                </md-input-container>
            </span>
            <span>
                <md-input-container style="margin-top: -5px; margin-bottom: 0; margin-right: 25px;">                    
                    <md-select ng-model="vm.visibility">
                        <md-option value="1">
                            Public
                        </md-option>
                        <md-option value="2">
                            Private
                        </md-option>
                    </md-select>
                </md-input-container>
            </span>
            <span>
                <form name="filesForm" role="form" enctype="multipart/form-data" style="margin-top: 2px;">
                    <div class="form-group">
                        <div class="button" ngf-select="vm.uploadFile(vm.file)" ng-model="vm.file" name="file" ngf-pattern="'*'"
                             ngf-accept="'*'" ngf-max-size="100MB" ngf-min-height="100" ngf-multiple="false"
                             ngf-resize="{width: 100, height: 100}" ngf-keep="false" ngf-drop="vm.uploadFile(vm.file)">
                            <ng-md-icon class="sidebar-item-icon" icon="attachment" size="24"></ng-md-icon>
                            <md-tooltip md-direction="left">
                                Attach File
                            </md-tooltip>
                        </div>
                    </div>
                </form>  
            </span>          
            <md-button class="md-primary" ng-click="vm.postComment()" style="padding-top: 0; padding-bottom: 0; margin-top: -5px;">Send</md-button>
        </div>
        <div layout="row" ng-if="vm.files.length">
            <div ng-repeat="file in vm.files" class="attachment-box">
                <div class="attachment-box-inner" title="{{file.name}}">{{file.name}}</div>
                <div class="attachment-box-close" ng-click="vm.removeFile($index)">
                    <img src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/btw_ic_close_black_12dp.png"/>
                </div>
            </div>
        </div>
        <div layout="row" ng-if="vm.progress">
            <md-progress-linear md-mode="determinate" value="{{vm.progress}}"></md-progress-linear>
        </div>
    </div>

    <div layout="column" continuous-page container="#contentSection" query-function="vm.getComments" query-object="vm.queryObject" paging-data-watch="vm.commentsList.pagingData">
        <div layout="column" md-whiteframe class="content-background-color" ng-repeat="item in vm.commentsList.resources track by $index" style="margin-bottom: 15px;">
            <div layout="row" layout-padding style="margin-bottom: -15px;">
                <ng-md-icon class="sidebar-item-icon" icon="forum" size="25"></ng-md-icon>
                <div ng-repeat="mention in item.mentions track by $index">
                    <span ng-if="$index <= 2">{{mention}}<span ng-if="!$last">,</span></span>
                    <span ng-if="$index === 3">{{item.mentions.length - $index}} more...</span>
                </div>
                <span flex></span>
                <span>By You</span>
                <span>{{item.createTime | date:'short'}}</span>

                <md-menu style="margin-top: -12px; margin-right: -30px;" ng-if="!item.reminder.reminderId || item.reminder.doneDate">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <img src="Content/images/pin.png"/>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-input-container style="margin-top: 10px;">
                                <label style="margin-left: 15px;">Remember to...</label>
                                <input ng-model="vm.reminderText" maxlength="200"/>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-input-container style="margin-top: 10px;">
                                <label style="margin-left: 15px;">Assign someone...</label>
                                <input type="text" style="" flex mentio="" mentio-require-leading-space="false" mentio-id="'assignee'" id="assignee" ng-model="vm.assigneeText" mentio-trigger-char="'@'" mentio-items="vm.employees" mentio-template-url="/employees.tpl" mentio-search="vm.searchEmployees(term)" mentio-select="vm.getEmployeeText(item)"/>                                
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'tomorrow')"> <span md-menu-align-target>Tomorrow</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'nextWeek')"> <span md-menu-align-target>Next week</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'custom')"> <span md-menu-align-target>Pick date & time</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'someDay')"> <span md-menu-align-target>Make it active</span></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu style="margin-top: -12px; margin-right: -30px;" ng-if="vm.queryObject.reminders && item.reminder.reminderId">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon ng-click="" class="sidebar-item-icon" icon="alarm" size="23"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-input-container style="margin-top: 10px;">
                                <label style="margin-left: 15px;">Remember to...</label>
                                <input name="title" ng-model="vm.reminderText" maxlength="200"/>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'tomorrow', true)"> <span md-menu-align-target>Tomorrow</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'nextWeek', true)"> <span md-menu-align-target>Next week</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'custom', true)"> <span md-menu-align-target>Pick date & time</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.setReminder(item, 'someDay', true)"> <span md-menu-align-target>Make it active</span></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu md-offset="0 -7" style="margin-right: -10px; margin-top: -10px;">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <ng-md-icon class="sidebar-item-icon" icon="more_vert" size="20"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="vm.editComment(item)"> <span md-menu-align-target>Edit</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.deleteComment(item, $index)"> <span md-menu-align-target>Delete</span></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-padding style="margin-bottom: 7px;">
                <p ng-if="!item.isEditing" ng-bind-html="item.commentText"></p>
                <div ng-if="item.isEditing" flex contenteditable="" mentio="" mentio-macros="" mentio-require-leading-space="true" mentio-select-not-found="true" class="newsfeed-box" mentio-id="'item{{$index}}'" id="item{{$index}}" ng-model="item.commentText" autocomplete="on" mentio-trigger-char="'@'" mentio-items="vm.mentions" mentio-template-url="/people-mentions.tpl" mentio-search="vm.searchMentions(term)" mentio-select="vm.getPeopleText(item)"></div>
            </div>
            <div layout="row" ng-if="item.reminder.reminderId" style="font-weight: bold; padding-left: 8px; padding-bottom: 10px;">
                <span ng-if="item.reminder.isSnoozed" style="color: #ef6c00;">Snoozed until {{item.reminder.reminderDate | date:'short'}}</span>                
                <span ng-if="item.reminder.reminderText" class="reminders-color" style="margin-left: 5px;">({{item.reminder.reminderText}})</span>
                <span ng-if="!item.reminder.reminderDate && !item.reminder.reminderText && !item.reminder.doneDate" style="color: #ef6c00;">
                    Active To-Do
                </span>
                <span ng-if="item.reminder.doneDate" style="color: green;">Done on {{item.reminder.doneDate | date:'short'}}</span>
                <span ng-if="item.reminder.assigneeName" style="margin-left: 10px;color: #ef6c00;">
                    Assigned to {{item.reminder.assigneeName}} by {{item.reminder.assignerName || "You"}}
                </span>
                <span flex></span>
                <span ng-if="!item.reminder.doneDate" style="margin-right: 10px;">
                    <ng-md-icon style="cursor: pointer;" ng-click="vm.markReminderAsDone(item)" class="sidebar-item-icon" icon="done" size="25"></ng-md-icon>
                </span>
            </div>
            <div layout="row" ng-if="item.attachments.length" style="margin-left: 10px; margin-bottom: 10px;">
                <div ng-repeat="attachment in item.attachments" class="attachment-box" ng-click="vm.downloadFile(attachment.name)" style="cursor: pointer;">
                    <div class="attachment-box-inner" title="{{attachment.name}}">{{attachment.name}}</div>
                </div>
            </div>
            <div layout="row" ng-if="item.isEditing">
                <md-button class="md-primary short-button" ng-click="item.isEditing = false" style="">Save</md-button>
                <md-button class="md-primary short-button" ng-click="item.isEditing = false" style="">Cancel</md-button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="/people-mentions.tpl">
    <div layout="row">
        <div layout="column" md-whiteframe class="content-background-color" layout-padding>
            <md-list>
                <md-list-item ng-repeat-start="item in items" class="search-row" style="min-height:35px;">
                    <div layout-fill class="news-item" mentio-menu-item="item">
                        <div layout="row" class="sortable-column-header">
                            <div style="margin-top:5px;">                               
                                <ng-md-icon ng-if="item.referencedTableCode === 'C'" icon="contacts" class="sidebar-contacts" size="25"></ng-md-icon>
                                <ng-md-icon ng-if="item.referencedTableCode === 'P'" icon="location_city" class="sidebar-properties" size="25"></ng-md-icon>  
                                <ng-md-icon ng-if="item.referencedTableCode === 'A'" icon="work" class="sidebar-companies" size="25"></ng-md-icon>        
                                <ng-md-icon ng-if="item.referencedTableCode === 'D'" icon="attach_money" class="sidebar-deals" size="25"></ng-md-icon>       
                                <i ng-if="item.referencedTableCode === 'L'"  class="fa fa-money fa-2x fa-loans-icon"></i>          
                                <ng-md-icon ng-if="item.referencedTableCode === 'T'" icon="insert_chart" class="sidebar-pitches" size="25"></ng-md-icon>
                            </div>
                            <div layout="column">
                                <div style="margin-left:10px;">
                                    <strong>{{item.mentionLabel}}</strong>
                                </div>
                                <div style="margin-left:10px;">
                                    {{item.mentionID}}
                                </div>
                            </div>
                        </div>
                    </div>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/employees.tpl">
    <div layout="row">
        <div layout="column" md-whiteframe class="content-background-color" layout-padding>
            <md-list>
                <md-list-item ng-repeat-start="item in items" class="search-row" style="min-height:35px;">
                    <div layout-fill class="news-item" mentio-menu-item="item">
                        <div layout="row" class="sortable-column-header">
                            <strong>{{item.fullName}}</strong>
                        </div>
                    </div>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
        </div>
    </div>
</script>