﻿<div layout="column" layout-padding>

    <p>Without any tags, only people following you would see this. Are you sure you want this?</p>
    <p>Click an icon to add tags</p>

    <div layout="row">
        <md-button ng-click="continue()">Yes</md-button>
        <md-button ng-click="cancel()">No</md-button>
    </div>
    <div layout="row">
        <md-checkbox ng-model="dontShowWarningAgain">
            Don't show this again
        </md-checkbox>
    </div>
</div>
