﻿<div layout-fill>
    <!---- Company stuff-->
    <div style="padding-left: 10px;" layout="row" flex layout-align="start center" class="drop-box esx-search-companies clickable" ng-click="vm.toggleShowContacts(company.mentionID)"
         ng-model="companyVm.file" name="file" ngf-pattern="'*'"
         ngf-accept="'*'" ngf-max-size="100MB" ngf-min-height="100" ngf-multiple="false"
         ngf-resize="{width: 100, height: 100}" ngf-keep="false" ngf-drop="companyVm.dropFile(companyVm.file)"
         ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}">
        <div flex="17" layout="row" layout-align="start center">
            <h5>{{company.canonicalCompany}}</h5>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            {{company.contacts.length}}
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>{{companyVm.countSolicitableContacts()}} out of {{company.contacts.length}}</div>
            <div><md-button ng-click="companyVm.togglePermission( 'isSolicitable', !company.isSolicitable);$event.stopPropagation()">{{company.isSolicitable ? 'Solicit none':'Solicit all'}}</md-button></div>
            
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button  ng-disabled="!company.isSolicitable" ng-click="companyVm.openUploadCa();$event.stopPropagation()">
                    <md-icon ng-class="company.ca.level">lens</md-icon>
                </md-button>
            </div>
            <div>
                {{companyVm.formatDates(company.ca.dates)}}
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!company.isSolicitable" ng-click="companyVm.togglePermission( 'isRequestingTeaser', !company.isRequestingTeaser);$event.stopPropagation()">
                    <md-icon ng-class="{'complete': company.isRequestingTeaser}">send</md-icon>
                </md-button>
            </div>
            <div>
                {{companyVm.formatDates(company.teaserSent.dates)}}
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!company.isSolicitable" ng-click="companyVm.togglePermission( 'isRequestingWarRoomAccess', !company.isRequestingWarRoomAccess);$event.stopPropagation()">

                    <md-icon ng-class="{'complete': company.isRequestingWarRoomAccess}">{{companyVm.warRoomIcon(company)}}</md-icon>
                </md-button>
            </div>
            <div>
                {{companyVm.formatDates(company.warRoomAccess.dates)}}
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!company.isSolicitable" ng-click="companyVm.togglePermission( 'isRequestingPrintedOm', !company.isRequestingPrintedOm);$event.stopPropagation()">

                    <md-icon ng-class="{'complete': company.isRequestingPrintedOm}">import_contacts</md-icon>
                </md-button>
            </div>
            <div>
                {{companyVm.formatDates(company.printedOm.dates)}}
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!company.isSolicitable" ng-click="companyVm.togglePermission( 'isRequestingAdditionalMaterials', !company.isRequestingAdditionalMaterials);$event.stopPropagation()">

                    <md-icon ng-class="{'complete': company.isRequestingAdditionalMaterials}">inbox</md-icon>
                </md-button>
            </div>
            <div>
                {{companyVm.formatDates(company.additionalMaterials.dates)}}
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!company.isSolicitable" ng-click="companyVm.togglePermission( 'isRequestingCallForOffers', !company.isRequestingCallForOffers);$event.stopPropagation()">
                    <md-icon ng-class="{'complete': company.isRequestingCallForOffers}">gavel</md-icon>
                </md-button>
            </div>
            <div>
                {{companyVm.formatDates(company.callForOffers.dates)}}
            </div>
        </div>

        <div flex="3" layout="row" layout-align="end">
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Options" class="md-icon-button  esx-search-contacts" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="companyVm.openUploadCa()">Log CA</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="companyVm.addContact()">Add Contact</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <!---- Contact repeat stuff-->
    <md-list ng-show="vm.showContacts(company.mentionID)" style="padding: 0;">

        <md-list-item ng-repeat="contact in company.contacts"
                      ng-controller="marketingListContactRowController as contactVm"
                      ng-include="'app/deals/marketing/marketingListContactRow.html'"
                      ng-init="contactIndex=$index"
                      class="search-row " md-ink-ripple="#dddddd" style="padding: 0;">
        </md-list-item>
    </md-list>
</div>
<md-divider></md-divider>
