﻿<div layout-fill class="ml-contact-row">
    <!---- Contact stuff-->
     <md-divider></md-divider>
    <div style="padding-left: 10px;" layout="row" flex layout-align="start center">
        <div flex="17" layout="row" layout-align="start center">
            {{contact.fullName}}
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div ng-show="contact.isPrimary">
                <md-button ng-click="contactVm.togglePermission( 'isPrimary', !contact.isPrimary)">Primary</md-button>
            </div>
            <div ng-show="!contact.isPrimary">
                <md-button ng-click="contactVm.togglePermission( 'isPrimary', !contact.isPrimary)"><md-icon>add</md-icon></md-button>
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <md-button ng-click="contactVm.togglePermission( 'isSolicitable', !contact.isSolicitable)">{{contact.isSolicitable ? 'yes':'no'}}</md-button>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div ng-show="contact.ca.level == 'complete'">
                Signed
            </div>
            <div>
                {{contactVm.formatDates(contact.ca.dates)}}
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!contact.isSolicitable" ng-click="contactVm.togglePermission( 'isRequestingTeaser', !contact.isRequestingTeaser)">
                    <md-icon ng-class="{'complete': contact.isRequestingTeaser}">send</md-icon>
                </md-button>
            </div>
            <div>
                <md-menu md-position-mode="target-right target" class="menu" >
                    <md-button ng-disabled="!contact.isSolicitable" aria-label="Options"  ng-click="$mdOpenMenu($event)" class="button">
                        {{ contactVm.getAddDateText(contact.teaserSent)}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item >
                            <md-input-container class="md-block">
                                <b>{{contact.emailAddress}}</b>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Teaser Sent', 'today')">Today</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Teaser Sent', 'yesterday')">Yesterday</md-button>
                        </md-menu-item>
                        <md-menu-item >
                            <md-button ng-click="contactVm.selectdate('Teaser Sent')">
                                Select Date <md-icon>date_range</md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!contact.isSolicitable" ng-click="contactVm.togglePermission( 'isRequestingWarRoomAccess', !contact.isRequestingWarRoomAccess)">
                    <md-icon  ng-class="{'complete': contact.isRequestingWarRoomAccess}">{{contactVm.warRoomIcon(contact)}}</md-icon>
                </md-button>
            </div>
            <div>
                <md-menu md-position-mode="target-right target" class="menu">
                    <md-button ng-disabled="!contact.isSolicitable" aria-label="Options" ng-click="$mdOpenMenu($event)" class="button">
                        {{ contactVm.getAddDateText(contact.warRoomAccess)}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-input-container class="md-block">
                                <b>{{contact.emailAddress}}</b>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('War Room Access', 'today')">Today</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('War Room Access', 'yesterday')">Yesterday</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.selectdate('War Room Access')">
                                Select Date <md-icon>date_range</md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!contact.isSolicitable" ng-click="contactVm.togglePermission( 'isRequestingPrintedOm', !contact.isRequestingPrintedOm)">
                    <md-icon ng-class="{'complete': contact.isRequestingPrintedOm}">import_contacts</md-icon>
                </md-button>
            </div>
            <div>
                <md-menu md-position-mode="target-right target" class="menu" >
                    <md-button ng-disabled="!contact.isSolicitable" aria-label="Options" ng-click="$mdOpenMenu($event)" class="button">
                        {{ contactVm.getAddDateText(contact.printedOm)}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Printed OM', 'today')">Today</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Printed OM', 'yesterday')">Yesterday</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.selectdate('Printed OM')">
                                Select Date <md-icon>date_range</md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!contact.isSolicitable" ng-click="contactVm.togglePermission( 'isRequestingAdditionalMaterials', !contact.isRequestingAdditionalMaterials)">
                    <md-icon ng-class="{'complete': contact.isRequestingAdditionalMaterials}">inbox</md-icon>
                </md-button>
            </div>
            <div>
                <md-menu md-position-mode="target-right target" class="menu" >
                    <md-button ng-disabled="!contact.isSolicitable" aria-label="Options" ng-click="$mdOpenMenu($event)" class="button">
                        {{ contactVm.getAddDateText(contact.additionalMaterials)}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-input-container class="md-block">
                                <b>{{contact.emailAddress}}</b>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Additional Materials', 'today')">Today</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Additional Materials', 'yesterday')">Yesterday</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.selectdate('Additional Materials')">
                                Select Date <md-icon>date_range</md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>


        <div flex="10" layout="column" layout-align="start center">
            <div>
                <md-button ng-disabled="!contact.isSolicitable" ng-click="contactVm.togglePermission( 'isRequestingCallForOffers', !contact.isRequestingCallForOffers)">
                    <md-icon ng-class="{'complete': contact.isRequestingCallForOffers}">gavel</md-icon>
                </md-button>
            </div>
            <div>
                <md-menu md-position-mode="target-right target" class="menu">
                    <md-button ng-disabled="!contact.isSolicitable" aria-label="Options" ng-click="$mdOpenMenu($event)" class="button">
                        {{ contactVm.getAddDateText(contact.callForOffers)}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-input-container class="md-block">
                                <b>{{contact.emailAddress}}</b>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Call for Offers', 'today')">Today</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.updateStatus('Call for Offers', 'yesterday')">Yesterday</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="contactVm.selectdate('Call for Offers')">
                                Select Date <md-icon>date_range</md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div flex="3" layout="row" layout-align="end">
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="contactVm.removeContact(companyIndex, contactIndex)">Remove</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>