﻿<md-content layout="column" id="marketingList" class="list-view-container ">
    <section>
        <md-subheader class="list-view-header">
            <section>
                <div layout="row" layout-align="start center" class="content-background-color short-row">
                    <md-button ng-click="vm.updateList()" class="md-primary">
                        Add
                    </md-button>
                    <md-menu >
                        <md-button aria-label="Options" class="md-primary" ng-click="$mdOpenMenu($event)">
                            Export
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="vm.exportList('Teaser Sent', vm.initialTeaser)">Teaser</md-button>
                                <div>Initial:</div>
                                <md-checkbox ng-model="vm.initialTeaser" aria-label="Initial"></md-checkbox>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.exportList('War Room Access')">War Room Access</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.exportList('Printed OM')">Printed OM</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.exportList('Additional Materials')">Additional Materials</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.exportList('Call for Offers')">Call for Offers</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <div flex layout="row" layout-align="end" layout-margin>
                        <input type="text" ng-model="vm.searchText" ng-change="vm.searchList()" maxlength="255" placeholder="Filter" class="pageFilterBox" />
                    </div>
                </div>
            </section>
            <md-divider class="subheader-divider"></md-divider>
            <section>
                <div style="padding-left: 10px;" layout="row">
                    <div  flex="17" layout="row" layout-align="start center">
                        Company
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        Contacts
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        Solicitable
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        CA Status
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        Teaser Sent
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        War Room Access
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        Printed OM
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        Add'l Materials
                    </div>
                    <div flex="10" layout="column" layout-align="start center">
                        Call for Offers
                    </div>
                    <div flex="3" layout="row" layout-align="end"> </div>
                </div>
            </section>
        </md-subheader>
        <md-divider></md-divider>
        <section layout-align="center start" class="content-color list-view">
            <div layout="row" layout-xs="column">
                <div flex-gt-xs layout="column">
                    <md-list style="padding: 0;">
                        <md-list-item ng-repeat="company in marketingList.resources"
                                      ng-controller="marketingListCompanyRowController as companyVm"
                                      ng-include="'app/deals/marketing/marketingListCompanyRow.html'"
                                      ng-init="companyIndex=$index"
                                      class="search-row " md-ink-ripple="#000000" style="padding: 0;">
                        </md-list-item>
                    </md-list>
                    <md-progress-circular md-mode="indeterminate" ng-show="vm.queryObject.isBusy && vm.queryObject.coreObjectType" style="margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-top: 20px;"></md-progress-circular>
                </div>
            </div>
        </section>
    </section>
</md-content>
<!--<pre>{{vm.marketingList  | json : spacing}} </pre>-->
