﻿<div flex-xs="100" flex-gt-xs="100" flex-gt-sm="90" layout="column" >

    <div flex class="md-block">
        <md-progress-linear md-mode="determinate" value="{{vm.progressPercentage}}"></md-progress-linear>
    </div>

    <div flex  ui-view></div>

</div>