﻿<div layout="row" flex  layout-align="center start" >
    <div flex-xs="100" flex-sm="80" flex-gt-md="60"  >

        <div layout="row" flex layout-align="center start" >
            <h1>Your Marketing List is Empty.<br />Let's fill it up.</h1>
        </div>

        <div>
            <form name="marketingListForm" ng-submit="vm.submitMarketingList(marketingListForm)" novalidate>

                <div ng-repeat="list in vm.existingLists" layout-gt-sm="row" layout-sm="column" flex>

                    <md-autocomplete flex-gt-sm="50"
                                     md-no-cache
                                     md-input-name="marketingList"
                                     md-selected-item-change="vm.selectedListChanged(list, item)"
                                     md-search-text="list.searchText"
                                     md-items="item in vm.lookupExistingMarketingLists(list.searchText)"
                                     md-item-text="vm.getListName(item)"
                                     md-floating-label="Search Deals"
                                     name="searchDeals"
                                     required>
                        <md-item-template>
                            <span class="item-title">
                                <span md-highlight-text="vm.company.contactName">{{vm.getListName(item)}}</span>
                            </span>
                        </md-item-template>

                    </md-autocomplete>

                    <div layout="row" layout-align="start start" layout-padding>
                        <a ng-click="vm.removeList($index)">
                            <i class="material-icons md-25">delete</i>
                        </a>
                    </div>
                </div>
                <div layout="row" flex layout-align="center start"  >
                    <md-button ng-click="vm.addAnotherList()">Add Another List</md-button>
                </div>

                <div layout="row" flex layout-align="center start" >
                    <md-button md-primary type="submit">Create List</md-button>
                </div>
            </form>
        </div>
    </div>
</div>