﻿<md-content layout="column" flex flex-sm="90" flex-gt-sm="80" id="propertyList" class="list-view-container">
    <section>
        <md-subheader class="list-view-header">
            <div layout="row" layout-align="start center">
                <div flex layout="row" layout-align="end" layout-margin>
                    <input type="text" ng-model="vm.searchText"  ng-change="vm.searchPropertyDeals()" placeholder="Filter" class="pageFilterBox" />
                </div>
            </div>
            <div layout="row" ng-click="vm.selectRow(property,$event)">
                <div flex flex-gt-sm="20" layout="row">
                    <div ng-click="vm.sortColumn('IsWatched')" class="starColumn">
                        <i class="material-icons md-18">star</i>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'IsWatched'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div ng-click="vm.sortColumn('DealCode')" class="sortable-column-header">
                        <b>Deal Code</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort=='DealCode'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
                <div flex="80" layout="row" hide show-gt-sm>
                    <div flex="15" ng-click="vm.sortColumn('DealName')" class="sortable-column-header">
                        <b>Deal Name</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort=='DealName'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="15" ng-click="vm.sortColumn('DealStatus')" class="sortable-column-header">
                        <b>Deal Status</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealStatus'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="15" ng-click="vm.sortColumn('StatusDate')" class="sortable-column-header" layout="row" >
                        <b>Status Date</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'StatusDate'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="15" ng-click="vm.sortColumn('PropertyType')" class="sortable-column-header" layout="row" >
                        <b>Property Type</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'PropertyType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('DealType')" class="sortable-column-header" layout="row" >
                        <b>Deal Type</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'DealType'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                    <div flex="20" ng-click="vm.sortColumn('Valuation')" class="sortable-column-header" layout="row" layout-align="end">
                        <b>Valuation</b>
                        <i class="material-icons md-18" ng-show="vm.queryObject.sort == 'Valuation'">{{vm.queryObject.sortDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                    </div>
                </div>
            </div>
        </md-subheader>
        <section  class="content-color list-view">
            <md-divider></md-divider>
            <md-list
                id="propertyDealsList"
                continuous-page container="#propertyDealsList"
                query-function="vm.getPropertyDeals"
                query-object="vm.queryObject"
                paging-data-watch="vm.propertiesList.pagingData">
                
                <md-list-item ng-repeat="deal in vm.dealsList.resources" class="md-no-style md-button md-ink-ripple" layout-fill>
                    <div layout="column" layout-gt-sm="row" ng-click="vm.selectRow(deal,$event)" layout-wrap  flex >
                        <div flex-gt-sm="20" layout="row">
                            <div class="starColumn">
                                <a ng-mouseover="vm.rowAction = 'toggleWatch'" ng-mouseout="vm.rowAction = null">
                                    <i class="material-icons md-18" id="esx-watch">{{deal.isWatched ? 'star' : 'star_border'}}</i>
                                </a>
                            </div>
                            {{deal.dealCode}}
                            <a hide-gt-sm class="md-secondary" aria-label="show deal details" ng-click="deal.showDetails = !deal.showDetails">
                                <span class="fa" ng-class="deal.showDetails ? 'fa-caret-down' : 'fa-caret-right'"></span>
                            </a>
                        </div>
                        <div flex="80" layout="row" hide show-gt-sm>
                            <div flex="15">
                                {{deal.dealName}}
                            </div>
                            <div flex="15">
                                {{deal.dealStatus}}
                            </div>
                            <div flex="15" layout="row">
                                {{deal.statusDate | date: 'MM/dd/yy'}}
                            </div>
                            <div flex="15" layout="row">
                                {{deal.propertyType}}
                            </div>
                            <div flex="20" layout="row">
                                {{deal.dealType}}
                            </div>
                            <div flex="20" layout="row" layout-align="end">
                                {{deal.valuation | largeCurrency}}
                            </div>
                        </div>
                        <div layout="column" hide-gt-sm ng-show="deal.showDetails">
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Code:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealCode}}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Name:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealName}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Status:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealStatus}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Status Date:</b></span>
                                <span flex="45" flex-offset="5">{{deal.statusDate}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Property Type:</b></span>
                                <span flex="45" flex-offset="5">{{deal.propertyType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Deal Type:</b></span>
                                <span flex="45" flex-offset="5">{{deal.dealType}}</span>
                            </div>
                            <div layout="row">
                                <span flex="50" layout="row" layout-align="end"><b>Valuation:</b></span>
                                <span flex="45" flex-offset="5">{{deal.valuation | largeCurrency}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </section>
    </section>
</md-content>
